[2016-01-27 18:51] msafi opened #1 "Block unaccepted characters from input"

[2016-01-31 19:06] msafi opened #2 "Remove dependency on jsdiff"

[2016-01-31 19:06] msafi opened #3 "Support elastic pattern areas"

[2016-01-31 19:27] msafi opened #4 "Fix test case in adjustCaretPosition"

[2016-01-31 19:34] msafi opened #5 "Create a more convenient higher order component for React"

[2016-01-31 19:35] msafi opened #6 "Make hooking up to a vanilla DOM element easy"

[2016-01-31 19:51] msafi opened #7 "Make hooking up with jQuery easy"

[2016-01-31 19:51] msafi opened #8 "Achieve feature parity with https://github.com/RobinHerbots/jquery.inputmask"

[2016-01-31 20:44] msafi opened #9 "Add ESLint"

[2016-01-31 23:48] msafi opened #10 "Allow a masking character to be used as part of the pattern"

[2016-02-13 22:01] msafi opened #11 "Hook up a CI"

[2016-02-17 03:04] msafi opened #12 "Run tests on compiled code"

[2016-02-18 05:12] msafi commented on #5
Closed by 5be252005d6f7e012b4bac86ddb0e7a84bb7b1c0

[2016-02-18 05:12] #5 closed

[2016-02-18 05:14] msafi opened #13 "Possibly market the library"
Like if there's no adoption...

[2016-02-21 01:17] msafi opened #14 "Create a test suite for high-level behavior"
A test suite for UI components to be tested againt to verify that they are working properly

[2016-02-21 21:41] msafi commented on #1
Done.

[2016-02-21 21:41] #1 closed

[2016-02-22 02:31] msafi opened #15 "To-dos"
- [ ] Add contributing instructions
- [ ] See if, some how, component tests can be shared rather than having to write separate tests for each component (because all component tests look the same)
- [ ] Use FlowType
- [ ] Add report of test coverage
- [ ] Let `mask` take a function?
- [ ] Achieve feature parity with https://github.com/RobinHerbots/jquery.inputmask
- [ ] Support elastic pattern area

[2016-02-22 02:33] #14 closed

[2016-02-22 02:33] #2 closed

[2016-02-22 02:33] #3 closed

[2016-02-22 02:33] #4 closed

[2016-02-22 02:33] #6 closed

[2016-02-22 02:33] #7 closed

[2016-02-22 02:33] #8 closed

[2016-02-22 02:33] #9 closed

[2016-02-22 02:33] #10 closed

[2016-02-22 02:33] #11 closed

[2016-02-22 02:33] #12 closed

[2016-02-22 02:33] #13 closed

[2016-04-29 13:57] papajuras opened #18 "unable to use 2 way data binding"
hi,

i know 2 way data binding is not a great idea but still your plugin does not work with it - angulars change detections is always one action behind real value.

ill provide a plunker in few hours

[2016-04-30 19:04] msafi commented on #18
Oh, thanks for the bug report. I was able to reproduce it, actually. I'll see if I can fix it.

[2016-04-30 22:18] papajuras commented on #18
hey,

sorry i didnt provide plunkr, didnt find time. im happy to work on the fix and provide it as pull request if your willing to share .ts sources

[2016-04-30 22:28] msafi commented on #18
Sure, the Angular 2 integration source code is [here](https://github.com/msafi/text-mask/tree/master/integrations/angular2), specifically, [this file](https://github.com/msafi/text-mask/blob/master/integrations/angular2/src/angular2TextMask.ts).

I should probably add a direct link to the source code along with the installation instructions :)

By the way, I think I'm getting close to a fix. Here'

[2016-05-01 18:42] #18 closed

[2016-05-01 18:50] msafi commented on #18
@papajuras I fixed the issue and published an update to npm. There's a breaking change in the API. `text-mask` attribute has been renamed to `textMask`. (Not sure if Angular 2 normalizes these names)

Anyway, the fix turned out to be different from the code I posted above. You can see it in the PR.

Again, thanks for reporting this bug!

[2016-05-04 12:53] vsuharnikov opened #21 "Allow to input characters, those are in mask, but aren't masked"
At first, thanks for the great plugin! 👍

It is a question of usability and matching a mask to a value in a brain. When you see "(" in a mask, you are ready to input it :) I think.

**How to reproduce / actual**

1. Open https://msafi.github.io/text-mask
2. Enter the mask: "(111) 111-1111" (without quotes). In the masked input you will see "(___) ___-____"
3. Focus on "Masked input" and try to pre

[2016-05-04 17:04] msafi commented on #21
Thanks for the suggestion! I think that's a good idea. I'll see if I can implement it this weekend.

[2016-05-07 22:20] #21 closed

[2016-05-07 22:26] msafi commented on #21
@vsuharnikov I made some changes that I think address the issue :)

You can see the new behavior on the website https://msafi.github.io/text-mask

Again, thanks for the suggestion!

[2016-05-08 09:57] vsuharnikov commented on #21
Thank you!

[2016-05-22 04:18] browniefed opened #27 "Remove React peer dep"
It'd be great to remove the peer dependency on react since it doesn't really matter, or at least set it up to work with latest v15.

Project looks great though, been having android issues with masking, so glad this is being tackled in this project.

[2016-05-22 04:24] browniefed commented on #27
PR for the sake of it https://github.com/msafi/text-mask/pull/28

[2016-05-22 05:18] #27 closed

[2016-05-22 05:21] msafi commented on #27
Thanks for the suggestion! I think I might change the version to `*` that way any React version will work because you're right, probably any React version will work.

[2016-05-22 05:26] browniefed commented on #27
Read through the code and saw nothing that wouldn't work `.14.0` and on.
Only suggestion would be to change `ref="inputElement"` to use callback refs.
`ref={(ref) => this.inputElement = ref}`.

The direct DOM access was only added in `.14.0` otherwise for `.13.x` and earlier you'd need to call `getDOMNode` so I think the current setting is best.

[2016-05-22 05:28] browniefed commented on #27
Also hoping to get this into production soon. Having a TON of issues with our mobile people (especially on samsung https://github.com/RobinHerbots/jquery.inputmask/issues/1268 for reference).

Tested on Browser Stack and your lib worked great! Seems like the winner out of all the react compatible input masks.
Hopefully I'll be able to contribute some.

[2016-05-22 05:59] msafi commented on #27
Thank you. Makes me happy to hear!

I published the updated `package.json` to npm and I'll update the React component code to use the callback ref.

Thanks a lot for your help!!

[2016-05-22 07:02] browniefed opened #29 "Defining an onBlur causes extra character"
In React defining an onBlur is causing something weird to happen.
My mask `mask="111-111-1111"`
Resulting value with an `onBlur` can cause this result.
"111-111-11113"
[code]

No issues with `onBlur` not set

[code]

[2016-05-22 07:17] browniefed commented on #29
Seem to be able to just repro this with out the `onBlur`.

[2016-05-22 07:23] browniefed commented on #29
Additionally when `guide` is enabled return values include the `_`

[2016-05-22 07:37] browniefed commented on #29
Believe the issue is here
https://github.com/msafi/text-mask/blob/master/react/src/reactTextMask.jsx#L78

You are setting state with the conformed value but passing along the event as is. So whatever the existing value in the DOM is will be the value of what is sent back in the event.

You'll likely need to munge that event wit the new value, or mutate DOM directly and not rely on the async `setSt

[2016-05-22 07:38] browniefed opened #30 "React can't have empty placeholder"
If you define an empty placeholder `placeholder=""` the component doesn't allow for this and will just render the placeholder it constructs.

[2016-05-22 14:28] browniefed commented on #29
react-maskedinput handles it like so https://github.com/insin/react-maskedinput/blob/master/src/index.js#L60

[2016-05-22 16:34] msafi commented on #29
Thanks a lot for your help Jason!

You're right. [`react-maskedinput` mutates `event.target.value`](https://github.com/insin/react-maskedinput/blob/master/src/index.js#L73). I think I should do the same.

Regarding the return value including the `_`, what should the alternative be? Simply stripping out `_` wouldn't work because in guide mode the user can advance the caret and fill out any placehol

[2016-05-22 18:26] #30 closed

[2016-05-22 18:27] #29 closed

[2016-05-22 18:40] #15 closed

[2016-05-22 22:04] browniefed commented on #29
I misspoke, I think the expected behavior should be to include the place holder since you can add characters at the end. Based on the todo of wanting to be like jQuery input mask, going to look at their api and see about how things might be better or changed.

I do believe their api is suited for non React usage so not needed to do all of it

[2016-05-23 03:28] msafi commented on #29
Yeah, I added that to-do when I was just starting this library a few months ago. I'm not sure it's a realistic goal. I remember going through some of their code and seeing some files with couple thousand lines of code!

[2016-05-24 21:40] browniefed opened #36 "If passed a number instead of string will throw"
If passed a number instead of a string `split` is called and will cause an error to be thrown.
May only be an issue with React.

Not sure if we should always coerce to strings? It's handleable in user land so not pressing for a fast fix, curious of what you think should be done.

[2016-05-25 00:32] msafi commented on #36
Proptype for `mask` is `string.isRequired`. But I guess since we ship production-compiled code, this check gets stripped out. I wonder if we can get users who have a compile step to automatically import the raw component instead of the precompiled one.

What do you think about adding type checks with custom error messages in the constructor?

[2016-05-25 00:35] browniefed commented on #36
Sorry not mask, I'm talking about value. When tokenize is called number doesn't have split

[2016-05-25 00:41] msafi commented on #36
I see. We can add `PropType.string` for `value`, but it would get stripped out in `react/dist/textMask.js`. That's why I'm wondering if we can point bundlers to `react/src/index.js` or `react/src/reactTextMask.js`

And there's the option of writing manual type checks in the constructor.

[2016-05-25 15:20] browniefed commented on #36
`PropTypes` don't coerce for you they just warn in dev mode.
All I was recommending that in the tokenize function we could do `(''+value).split()`. There is a default param there so that would cover the undefined case, would have to handle the null case so it doesn't get convert to a string.

[2016-05-25 17:05] msafi commented on #36
@browniefed I see.

So, realistically, what should we accept in `value`? I think it's either a string or a number. We can coerce numbers to strings and work with them, but for all other values I think we should throw. Thoughts?

[2016-05-25 17:28] browniefed commented on #36
Yeah I am unsure. That seems appropriate.

I guess this may seem like the ideal behavior:
Allow `null`, and `undefined` and just turn it into an empty string.
`number` and `strings` both coerced to strings and work as normal.

Anything else `function`, `object`, etc. Throws.
Additionally add `PropTypes.oneOfType([PropTypes.string, PropTypes.number])` to react validation.

[2016-05-25 20:06] msafi commented on #36
Sounds good to me. I'll work on a `componentHelpers` file and I'll have one of the functions there do this check.

[2016-05-25 21:33] browniefed opened #38 "Select all, add value defaults to cursor position 0"
Mask: `1111`
User selects all
User presses 3

Cursor position will be moved back to 0 instead of position 1.
Only tested in React at the moment, I'll have a look at this later if I get a second before I leave.
![highlighallbug](https://cloud.githubusercontent.com/assets/1714673/15557067/e03d2fdc-2285-11e6-9854-be1caff39f22.gif)

[2016-05-26 00:07] browniefed commented on #38
Removed react since it's an issue with the `adjustCaretPosition` call.

[code]

Test case for it.

[2016-05-26 01:10] msafi commented on #38
I found a way to tweak the `adjustCaretPosition` algorithm to make it work for this. You can change [this line](https://github.com/msafi/text-mask/blob/7515791bd1c7ac89422b7c9c2b3295922865ea35/core/src/adjustCaretPosition.js#L97) to

[code]

And it'll fix this bug.

But, what if the user goes from `3333` to `23__`. That is, they selected the first 3 digits and replaced them with `2`? With the fix

[2016-05-26 05:40] browniefed commented on #38
This is definitely a difficult problem to solve. The main reason `text-mask` works well is because you rely on the `onChange` event only and not anything else. I assume a solution is possible with the current set of information provided, I'm just wondering if more information needs to be collected to make the cursor position stuff easier/simpler/etc?
However anything more may compromise the compat

[2016-05-26 15:15] westor21 opened #39 "not running in RC1"
I was trying to bring this to work with Angular2 RC1, but renaming of all the dependencies fom angular2/ to @angular/ seems not to be enough.
The import path is not recognized. I tryed to import {MaskedInputDirective} from '@msafi/angular2-text-mask/src/angular2TextMask';
but next problem was here: Cannot resolve 'file' or 'directory' ../../core/src/index
Do I have to install something else? Your

[2016-05-27 03:50] #38 closed

[2016-05-27 04:05] msafi commented on #39
I haven't tested it with Angular2 RC1 yet, but I think one issue is that you're not doing the import correctly. The correct import would look like this

[code]

If that doesn't fix your issue, please feel free to reopen this ticket and I'd be happy to help!

[2016-05-28 16:59] msafi commented on #36
Fixed in 417b65035bb4a1b356fd4c674c0d212615ebcc59

[2016-05-28 16:59] #36 closed

[2016-05-30 03:05] browniefed opened #44 "Pick a name?"
I know it's nice having an umbrella but it is a bit weird doing `@msafi/` for the `npm install`. I am unsure how npm handles redirects but you could deprecate it in favor of name packages?

I grabbed placeholders just in case.
https://www.npmjs.com/package/vanilla-text-mask
https://www.npmjs.com/package/angular-text-mask
https://www.npmjs.com/package/react-text-mask

Not sure the naming scheme you

[2016-05-30 03:16] msafi commented on #44
Interesting. I don't know why I didn't think of that 😄

I like the names you suggested. We can go with `{library}-text-mask`. And we can start looking into how to move them over.

[2016-05-30 03:18] browniefed commented on #44
I can transfer ownership, then I think you can run `npm deprecate` on the existing name, then change it to the new name and trigger a publish? Should be good to go after that, whoever is using it just need to change over to the new name and fix their code.

[2016-05-30 03:18] browniefed commented on #44
Also should help with library adoption! Having to type more makes it harder to install ;)

[2016-05-30 03:23] browniefed commented on #44
Added you to the packages

[2016-05-30 03:27] msafi commented on #44
Cool, thanks! I also registered a bunch of `{name}-text-mask` packages for the future.

[2016-05-30 03:28] browniefed commented on #44
Awesome, I wasn't sure how to transfer ownership rather than have you as a collaborator. I think maybe if you remove me, then add me back it should transfer it?

[2016-05-30 03:33] msafi commented on #44
I don't think it matters https://docs.npmjs.com/cli/owner

I think we both have the same level of access

[2016-05-30 07:01] westor21 commented on #39
In that case I'm missing something. Do I need to install something else? I installed only the module with "npm i @msafi/angular2-text-mask --save", but then MaskedInput is not recognized.
Have you noticed all the naming changes in RC1 (angular2/core to @angular/core etc.)?

[2016-05-30 07:03] westor21 commented on #39
Btw: I'm using the webpack starter: https://github.com/AngularClass/angular2-webpack-starter

[2016-05-30 16:14] browniefed opened #46 "Consider switch to Uncontrollable"
This is something I can tackle, just setting a placeholder issue.

Consider switching to using https://github.com/jquense/uncontrollable for the React portion. This would allow us to have an uncontrolled (value etc existing on internal state), as well as having a controlled input (user controlled what value is).

Just will make the component more flexible

[2016-05-30 19:16] browniefed commented on #46
Per slack discussion we'll find a different way, small abstraction without having to add dependencies to accomplish this.

[2016-05-30 21:30] msafi commented on #39
Installing just the Angular 2 module with...

[code]

...should be enough. Then you should be able to do

[code]

What is the exact error message that you're getting after you do the steps above?

[2016-05-30 22:03] msafi commented on #44
I'll get to this task sometime this week or next.

[2016-05-31 00:23] msafi commented on #46
For this one, I'm thinking for now maybe we can go with the solution you suggested: checking `value` in `componentWillReceiveProps` and resetting component state when `value` is different.

[2016-05-31 06:02] westor21 commented on #39
OK, I removed and reinstalled the npm module. Here I already get a warning and an error, regarding the renames in RC0 / RC1 (Pleaser note namespace changes, already done in RC0: https://github.com/angular/angular/blob/master/CHANGELOG.md#200-rc0-2016-05-02 )
Here is the trace:
349 warn @msafi/angular2-text-mask@0.4.6 requires a peer of angular2@* but none was installed.
350 verbose stack Error: EN

[2016-05-31 23:02] browniefed commented on #46
Handled by #47

[2016-05-31 23:02] #46 closed

[2016-06-01 03:55] msafi commented on #39
I'm really not sure what's going on here. I'll update all dependencies soon and hopefully get this resolved then.

[2016-06-01 20:27] Ckearns1210 commented on #39
Having same issue, not sure how to get it running in RC1 using Angular 2 and webpack, cannot resolve module.  Imports are all old location.

[2016-06-04 03:39] #44 closed

[2016-06-04 05:25] msafi commented on #39
Folks, I've updated the dependencies and published the fix to npm. But **please note** we've changed the package name from `@msafi/angular2-text-mask` to just `angular2-text-mask`. Here's a link to the new package:

https://www.npmjs.com/package/angular2-text-mask

Hope it works for you now!

[2016-06-04 05:26] #39 closed

[2016-06-04 22:11] Ckearns1210 opened #53 "Does not work with Model Driven Forms (FormBuilder)"
I have downloaded the new package and tried to import as so:
` import MaskedInput from 'angular2-text-mask'
`
but I am getting cannot find module 'angular2-text-mask' error.

[2016-06-05 16:32] msafi commented on #53
I was able to reproduce the issue. I think the problem was with the missing `index.d.ts`. I added it and things seemed to work. I published an update to npm. Please `npm i angular2-text-mask` again and hopefully this time it'll work.

(Sorry, I'm new to TypeScript!)

[2016-06-05 17:52] Ckearns1210 commented on #53
thanks @msafi , it imports now, but I get a new error.  I have this code:

[code]

The error I get is
`Can't bind to 'textMask' since it isn't a known native property`

It is importing something, but it doesn't seem to be the directive?

[2016-06-05 18:03] msafi commented on #53
@Ckearns1210 I can't reproduce this issue.

Using `angular2-webpack-starter`, I installed `angular2-text-mask` and I changed `app.component.ts` of `angular2-webpack-starter` to make it look like this:

[code]

And it seems to be working. Are you sure you're using `angular2-text-mask@0.7.2`?

You can try to get the installed version with `npm list angular2-text-mask` in your repo.

[2016-06-05 18:16] Ckearns1210 commented on #53
I am using `angular2-text-mask@0.7.2`, maybe it is a local problem.  Will update you if I figure out.

[2016-06-05 18:26] Ckearns1210 commented on #53
I was able to get it to show up on a different input with `[(ngModel)]`.  Seems to only work with 2 way data binding which isn't my use case.  Thank you for helping.

[2016-06-05 18:35] msafi commented on #53
@Ckearns1210 Oh yeah, that's true. It does require `ngModel` to be present on the element. Is that a problem? I assumed the only meaningful way to read an input out of an Angular 2 element is to have `ngModel` on it.

I see that you're referencing the input element with `#phoneInput`. Is that how you're grabbing the value from the input? I don't think that's the Angular way of doing things, right?

[2016-06-05 22:21] Ckearns1210 commented on #53
I am not using #phoneInput to grab the value.  Angular 2 has 2 new ways of doing forms.  One is a template driven form using Controls and a Control Group.  The other is using the FormBuilder API, and creating the control objects in your component.  I am using the latter.  ngModel implements 2 -way data binding similar to Angular 1.

  In my component I inject the FormBuilder API, and create a cont

[2016-06-05 22:25] msafi commented on #53
Alright, I'll look into making it work with FormBuilder API soon. Thanks for explaining!

[2016-06-07 17:29] georgesq opened #58 "error npm install"
Hello, im trying to install your component, but i have the following error:

npm ERR! peerinvalid The package rxjs does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer @angular/http@2.0.0-rc.1 wants rxjs@5.0.0-beta.6
npm ERR! peerinvalid Peer @angular/core@2.0.0-rc.1 wants rxjs@5.0.0-beta.6

Tks
George

[2016-06-08 02:36] msafi commented on #58
George, why do you think this issue is related to Text Mask? npm seems to be complaining about `@angular` and `rxjs` peer dependencies. These are not specific to Text Mask.

[2016-06-08 02:48] georgesq commented on #58
im getting your help, its possible or not???

[2016-06-08 02:50] msafi commented on #58
I don't understand what you mean :)

[2016-06-08 02:56] georgesq commented on #58
im starting with angular, but i dont know how resolve this probls...

[2016-06-08 02:57] msafi commented on #58
Ok, do you have this problem only when you install Text Mask? If you remove Text Mask, does it go away?

[2016-06-08 02:57] georgesq commented on #58
i did clone your component, but when i did npm install, i received this error...

[2016-06-08 02:58] georgesq commented on #58
only textmask...

[2016-06-08 02:59] msafi commented on #58
Ok, I'll see if I can reproduce it later this week or next one and I'll post here if I figure it out.

[2016-06-08 03:00] georgesq commented on #58
tks for all, i tried a lot of solution, but nothing good....

[2016-06-08 23:11] sharpmachine opened #59 "Error: No provider for NgModel!"
I get the following error when using `[textMask]` on an input:

[code]

My input:
[code]

My component:
[code]

}

[2016-06-08 23:13] msafi commented on #59
Thanks for the bug report. Will try to reproduce and let you know soon.

[2016-06-10 12:58] edmarmunhoz opened #63 "Using SystemJS with systemjs.config.js"
Do you have some example for load using SystemJs with systemjs.config.js file?
I try configure but it don`t work.

[2016-06-15 15:07] mhbpcuiaba opened #66 "text-mask does not validate partial pattern when submit form"
Hi guys, it is not a issue,I am sory.  I am just trying to get some help about textMask validation. Cause I could not use to invalidate the form. Thanks in advanced.

1) html
[textMask]="{mask: mask,  validator: mmddyyyyValidator}"

2) @Component(...)
export class Form {
....
mmddyyyyValidator = createMmddyyyyValidator({
	minimumDate: '01/01/1900',
	maximumDate: '12/31/2016'
});
.....
}

function

[2016-06-16 20:30] gabrielamarques opened #67 "Allow to use the mask with other input types"
The only type that works is text.
Specially on mobile, it'd be nice to set the type of the input in order to show the correct keyboard.

[2016-06-17 15:15] rockertux opened #68 "Character count wildcard (eg price mask)"
I can't find in the docs and examples, so I'm assuming this is not implemented.

I'm consuming price value in integer cents, that I need to display as decimal. For example, I have a `15000` value that has to be displayed as `150.00`. That is easy to do in a read-only situation, but I need to mask this in a input. Is it possible to do something like `{mask: '1+.11'}`,`{mask: '1*.11'}` or similar?

[2016-06-17 17:37] browniefed commented on #68
Not at the moment, you technically could take the current input, adjust the mask as more things are typed, but I'm not so certain that would actually work well (the cursor might get reset to position 0). This is something that is being explored though.

[2016-06-18 17:07] msafi commented on #66
Hi there,

Okay, so I guess it was a mistake on my part to call this "validator" because it doesn't really validate. What it does is that it restricts user input so that the user can only input a date as allowed by the "validator". Maybe a better name would have been "restriction" or something...

When the user finishes interacting with the input field and/or clicks on submit, you still have to do

[2016-06-19 04:52] msafi commented on #59
@sharpmachine I made some changes and published a new version to npm. Could you please install the new version and try again? If it still doesn't work, I would really appreciate the full code to be able to reproduce this issue.

[2016-06-19 04:53] msafi commented on #53
@Ckearns1210 I removed the requirement for `ngModel` to be present on the element and published a new version to npm. Could you try again and let me know if it works?

[2016-06-19 04:55] msafi commented on #58
@georgesq I updated the dependencies and the npm module. Please try to install again and see if ti works.

[2016-06-19 04:56] msafi commented on #63
@edmarmunhoz I don't have an example of that, but would really appreciate it if someone could make an example like that!

[2016-06-19 04:57] msafi commented on #67
@gabrielamarques It should work work on types other than `text`. There is no restriction on that, as far as I can tell.

[2016-06-19 17:41] sharpmachine commented on #59
Sure. It might be a few days though. I went a different direction and uninstalled your text mask.

Have you tested it with the new forms module in RC2?

[2016-06-19 18:38] msafi commented on #59
Could you point me to a tutorial on how to setup the forms module?

On Sunday, June 19, 2016, Jesse Kuntz <notifications@github.com> wrote:

--
Sent from my iPhone

[2016-06-20 15:38] sharpmachine commented on #59
Sure. The announcement was:

"
**Improvements to Forms**
We’re shipping new techniques for building forms with clearer directive and object names, including ngModelGroup, FormGroup(), and more. The in-progress changes from [our proposal](https://docs.google.com/document/u/1/d/1RIezQqE4aEhBRmArIAS1mRIZtWFf6JxN_7B4meyWK0Y/pub) are opt-in for RC2."

[2016-06-21 17:11] Ckearns1210 commented on #53
@msafi I still receive the same error:

`Can't bind to 'textMask' since it isn't a known native property`

with version 0.9.1

[2016-06-22 03:38] msafi commented on #53
I tried to reproduce the issue with `ngFormControl`, but couldn't. It seemed to work.

Anyway, supporting Angular 2 turned out to be harder than I expected, given I'm not an Angular 2 user. So, I've [added a disclaimer](https://github.com/msafi/text-mask/tree/master/angular2#readme) to warn people that this module is experimental.

So, I'm gonna mark this issue as not supported. Sorry for your tro

[2016-06-22 03:43] msafi commented on #59
Thanks for these links, but I've decided to drop support for Angular 2. I've gone ahead and [added a disclaimer](https://github.com/msafi/text-mask/tree/master/angular2#readme) for that. Really sorry for your trouble!

[2016-06-22 03:43] #66 closed

[2016-06-22 03:43] #67 closed

[2016-06-22 03:44] #58 closed

[2016-06-22 03:51] #68 closed

[2016-06-22 03:51] #63 closed

[2016-06-22 03:51] #59 closed

[2016-06-22 03:52] #53 closed

[2016-06-22 14:24] gabrielamarques commented on #67
@msafi I was having trouble setting the type to `number` so I have checked again: I have found out that the problem is with `selectionStart`, which only works with `text`, `search`, `tel`, `url` and `password` as you can look [here](https://html.spec.whatwg.org/multipage/forms.html#do-not-apply).

[2016-06-22 17:07] msafi commented on #67
@gabrielamarques That's interesting. Thanks for sharing this info. How about showing a numeric keyboard for a text input, is that possible? There's a question on StackOverflow about that http://stackoverflow.com/questions/6178556/phone-numeric-keyboard-for-text-input/37799101#37799101

[2016-06-27 19:53] georgesq opened #79 "error npm install continue"
I tried, but im receiving the follow error:

https://github.com/msafi/text-mask/issues/58

C:\dev\angular\text-mask>npm install
npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\dev\\nodejs\\node.exe" "C:\\dev\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v4.4.6
npm ERR! npm  v2.15.5
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package rxjs@5.0.0-beta.9 does not sati

[2016-06-28 03:44] msafi commented on #79
I'm not really sure what's going on there. Could you give me a step by step or any other way on how to reproduce this locally on my machine so I can debug it?

[2016-06-28 04:05] georgesq commented on #79
im creating a new projet based on:

http://stackshare.io/hasanhameed07/angular2-dashboard-starter
i cloned this project and runned npm install...

after that, i cloned your projetc text_mask and runned npm instal and received the error...

[2016-07-05 15:47] Altusvdm opened #84 "Cannot call method 'update' of undefined"
I'm getting the following error in my production server using the React component:

TypeError: Uncaught TypeError: Cannot call method 'update' of undefined

Stack trace is not very useful other than:
webpack:///./~/react-text-mask/dist/reactTextMask.js:1t.MaskedInput.o.default.createClass.componentDidUpdate

I'm still investigating will update with my findings.

[2016-07-05 17:16] msafi commented on #84
That's interesting. The [first time `update` is called](https://github.com/msafi/text-mask/blob/master/react/src/reactTextMask.jsx#L20) is in `componentDidMount`. If it is `undefined`, it should complain there. But apparently, and according to the stack trace you posted, `control` becomes `undefined` in the `componentDidUpdate` hook. I'm not sure how between `componentDidMount` and `componentDidUp

[2016-07-07 08:49] Altusvdm commented on #84
Sorry a little bit swamped at the moment, will hopefully get some time to look at this tomorrow.

I suspect this has something to do with my isomorphic environment, though yeah still doesn't make sense that it gets past componentDidMount.

So far haven't been able to recreate in my dev environment.

[2016-07-08 12:48] bhargavweb commented on #39
The issue still persists @msafi
I am using Angular2Webpack Starter kit

Here is how I've installed it:
`npm i angular2-text-mask --save`

Added it to my Component as follows:
[code]

Got the following error while building:
`Cannot find module 'angular2-text-mask'.`

[2016-07-08 17:02] msafi commented on #39
@bhargavweb Hmmm, I think I'm publishing TypeScript incorrectly to npm. I'll drop support for vanilla Angular 2 completely and only keep the TypeScript version. Hopefully that will make the library more reliable for TypeScript users.

I'll see if I can publish a fix later tonight.

[2016-07-09 03:26] msafi commented on #39
Alright, I don't know how to fix this. If anyone's interested, help & PRs would be appreciated!

[2016-07-09 03:29] msafi commented on #79
I've published a new version. Please check if it works. Thanks!

[2016-07-09 03:29] #79 closed

[2016-07-12 22:24] felipecm opened #89 "Ionic v2 compatibility"
Is it possible to host the mask directive with a custom input component? Like `<ion-input>` from Ionic Framework

[2016-07-13 02:11] msafi commented on #89
I'm not sure how to do that with Angular 2. If you would like to take a shot at it, I'll be happy to help you.

I'm planning to eventually make an Angular 1 directive for this library. I might be able to also create a component version of that when I do it.

[2016-07-15 16:13] karthik7452 opened #91 "How to set input model value from angular 2 component with mask?"
constructor: function() {
        this.mask = '(111) 111 1111'
        this.myModel = '222222222'
      }

[2016-07-16 15:42] AndersonDev opened #92 "Angular 2 Import"
Hi. Can't import module because ts can not find module. Packege was instaled by npm.

![image](https://cloud.githubusercontent.com/assets/6890368/16895596/f93f0802-4b84-11e6-99be-71e024566efc.png)

Thanks!

[2016-07-17 00:33] msafi commented on #92
Sorry, the Angular 2 module is experimental and I'm not really sure what's going on there. If you know how to work with TypeScript and Angular 2, I would be happy to work with you to figure this out. The Angular 2 [source code and setup](https://github.com/msafi/text-mask/tree/master/angular2) should not be that complicated. Please [email me](mailto:msafi@msafi.com) if you're interested. I'll clos

[2016-07-17 00:34] #92 closed

[2016-07-17 00:35] msafi commented on #91
Sorry, the Angular 2 module is experimental and I'm not really sure how to implement this. If you know TypeScript and Angular 2, I would be happy to work with you to figure this out. The Angular 2 [source code and setup](https://github.com/msafi/text-mask/tree/master/angular2) should not be that complicated. Please [email me](mailto:msafi@msafi.com) if you're interested. I'll close this issue for

[2016-07-17 00:35] #91 closed

[2016-07-17 00:35] #89 closed

[2016-07-17 00:36] msafi commented on #84
I'll close this for now. If you managed to find out more information, please feel free to reopen. Thanks!

[2016-07-17 00:36] #84 closed

[2016-07-19 12:09] dannysouza16 opened #98 "Can't find module in angular 2"
I run "npm i angular2-text-mask --save" and call the module, but the angular can't find him. I looked the code and the core paste isn't in the "node_modules/angular2-text-mask". Did you already see this?

[2016-07-19 17:07] msafi commented on #98
Yeah, a few people complained about this. It's something to do with TypeScript that I don't understand. I think the problem maybe because TypeScript looks for the module at the root level. If my theory is correct, then doing...

[code]

...should work.

I'll test it tonight and let you know, and if that's the case, I'll fix it and publish an update.

[2016-07-19 17:09] dannysouza16 commented on #98
I will test it today and update here. tks

[2016-07-19 19:54] quemica commented on #98
i have the same problem, waiting for this night.

[2016-07-19 19:56] dannysouza16 commented on #98
It work with this: "import MaskedInputDirective from 'angular2-text-mask/dist/angular2TextMask'"

[2016-07-19 20:06] dannysouza16 opened #99 "Angular 2 component does not mask initial value"
This is my field:

<input [(ngModel)]="telephone" [textMask]="{mask: '(11) 11111-1111'}" ngControl="telephoneControl" type="text" />

When I populate the "input" in ngModel. The page load without mask. But when i change it or add a caracter the mask works again.

[2016-07-19 20:14] quemica commented on #98
404 not found error on run, but no error now on typescript import.
In src/angular2TextMask.ts has a error on import '../../core/src/createTextMaskInputElement' and i think this is the directive what we need to import, maybe not.

[2016-07-19 20:18] msafi commented on #99
I don't know how to do that in Angular. If you know, you can take a look at the source code and tell me how to do it: https://github.com/msafi/text-mask/blob/master/angular2/src/angular2TextMask.ts

Or you can setup a dev environment and change it yourself. Here's how to setup a dev environment: https://github.com/msafi/text-mask/blob/master/howToContribute.md#readme

If you need any help setting

[2016-07-19 20:32] quemica commented on #98
okay i have a solution,

we need to declare this in system.config.js
[code]

and then import NgControl and MaskedInputDirective

[code]

with this it works but, when i put data in the input i have the error:

EXCEPTION: TypeError: this.ngControl.viewToModelUpdate is not a function

[2016-07-19 20:46] quemica commented on #99
coment this in /*, this.ngControl.viewToModelUpdate(this.inputElement.value)*/ in angular2TextMask.js

[2016-07-20 01:52] quemica opened #100 "change guide"
How can i change the guide to flase in angular2?

[2016-07-20 01:58] msafi commented on #100
You can do something like

[code]

And you can also pass a value for the `placeholder` to override the default placeholder.

[2016-07-20 02:11] quemica commented on #100
Thanks, its working!

[2016-07-20 04:16] #100 closed

[2016-07-20 04:16] msafi commented on #99
Will close this for now. Feel free to reopen if needed. Thanks!

[2016-07-20 04:17] msafi commented on #98
I just published an update to npm that should hopefully fix the module not found issue, so I'll close this for now. Please open a new issue if the problem persists. Thanks!

[2016-07-20 04:17] #98 closed

[2016-07-20 08:07] AndersonDev opened #102 "Angular 2 validators do not work"
On first type I have:
`RIGINAL EXCEPTION: TypeError: this.ngControl.viewToModelUpdate is not a function`
And ngModel do not changing

And what about `form.valid`?

[2016-07-21 02:05] sky-coding opened #103 "Angular 2: No provider for NgControl"
I am running the plugin as per demo, with the only apparent difference being my bootstrap code:

[code]

And I get exception `No provider for NgControl`. Does the Angular 2 plugin only support deprecated forms?

[2016-07-21 10:58] y-vasilyev commented on #103
I have the same trouble (

Is there any workaround?

`ORIGINAL EXCEPTION: No provider for NgControl!
ORIGINAL STACKTRACE:
Error: DI Exception`

[2016-07-21 13:26] dannysouza16 opened #104 "Bug resolve in angular 2 (Input is populated)"
The input populated bug is resolved, but i can't push my modifications "Permission denied":

The change was this: **angular2TextMask.ts**

  ngOnInit() {
    const {placeholderChar} = this.textMaskConfig

    this.control = createTextMaskInputElement(Object.assign({
      inputElement: this.inputElement,
      placeholderChar,
    }, this.textMaskConfig))

    **this.control.update()**
  }

Someon

[2016-07-21 15:01] msafi commented on #104
@dannysouza16 Thanks for this. I'll update the source code and publish this modification later tonight.

Side note: by the way, if you want to submit your modifications directly, you can fork this repository and push the modifications to your fork. After you push your modifications to your fork, you can send a pull request to this repo. You can send the pull request from your fork page on GitHub.

[2016-07-21 16:28] dannysouza16 commented on #104
I open a pull request.

[2016-07-21 19:13] sky-coding commented on #103
@msafi I created a pull request to use the new forms module and I updated the example to use the mask. Binding and masking work as before.

Also, I suspected that your plugin may not play nice with form validation, so I also added an example of form validation using regex. It does not behave as it should. This bad behavior was not introduced by my changes, it is present currently in master. Could

[2016-07-21 23:15] sky-coding commented on #103
It seems that the validators run before the directive makes its changes to the input. `this.ngControl.viewToModelUpdate(this.inputElement.value)` does cause the input value changes to propogate back into the Angular model, however, validators are not re-run, so validity state is based on the value before `this.control.update()` is run.

I want to try manually triggering validators but cannot get t

[2016-07-22 01:47] #103 closed

[2016-07-22 01:56] msafi commented on #103
@sky-coding I've merged your PR. Thanks a lot for submitting it! I'll do some tests then hopefully publish the changes to npm.

There are no plans to support regex masking. However, you can use `L` as the [masking character](https://github.com/msafi/text-mask/blob/master/componentDocumentation.md#masking-characters) to accept any alphabetical character and transform it to lower case. For more flex

[2016-07-22 01:57] msafi commented on #104
Thanks for the pull request, @dannysouza16! I've merged it. I'll do some tests and everything's good I'll publish it to npm later tonight.

[2016-07-22 01:57] #104 closed

[2016-07-22 02:33] msafi commented on #99
@dannysouza16 When we updated the Angular 2 component to use the new forms module in PR #106, your changes stopped working! We need to use the new forms module because the old one is deprecated. Please see if you can take another look into how to get this working again with the new forms module.

CC @sky-coding

[2016-07-22 02:52] msafi commented on #102
@AndersonDev I just published an update that will hopefully solve the issue with

[code]

As for Angular 2 validators, they do not work. I'm not sure how to get them to work.

[2016-07-22 07:36] AndersonDev opened #109 "How to get the value without the mask characters?"
As I think `ngModel` should be without symbols (-,() ect.). Like: _(083) 22-2222_ in mask and _083222222_ in model.

[2016-07-22 18:27] sky-coding commented on #99
I pull requested a simple solution to the issue. It's not ideal, because of the flawed premise of manipulating the DOM directly.

In an attempt resolve the underlying issue, I tweaked your core logic to return the masked value, instead of setting input element value in DOM. This allowed angular to do the updating (via manual triggering `ngModelChange`), which _does_ fix validators (https://github.

[2016-07-22 19:05] sky-coding commented on #109
[code]

[2016-07-22 21:45] AndersonDev commented on #109
@sky-coding maybe create a pull request? Do some input boolean with this option? Or just do like this. Thanks

[2016-07-22 21:48] msafi commented on #109
This is a good solution. I can include something like this in the core in `createTextMaskInputElement` and release it. I'll do that over the weekend since it's gonna require documentation and such...

[2016-07-22 21:49] AndersonDev commented on #109
@msafi will wait. This and text mask on angular will be completely good.

[2016-07-22 23:27] sky-coding commented on #109
@AndersonDev  I did not pull request because it needs some testing and polish (e.g. new textMaskConfig option) before being committed, and I just don't have the time; but wanted to help out with a base implementation. You could also use this logic on your side of the fence to strip placeholder characters yourself in the meantime.

[2016-07-23 00:57] #99 closed

[2016-07-23 03:24] msafi commented on #109
@AndersonDev How about doing this on your side, like @sky-coding suggested? When you are ready to store the value, you can do something as simple as...

[code]

...to get the value without the mask.

I'm hesitant to add this feature to the components or core itself yet because simply stripping out the mask would not satisfy all use cases. For example, with a mask such as `00\1 (111) 111-1111` wher

[2016-07-23 08:43] AndersonDev commented on #109
@msafi hm, ok. It isn't hard, however I need to do it each time when I use component. Thanks!

[2016-07-23 17:11] AndersonDev commented on #109
@msafi I try to use as described. But when I do like this:
`this.contact.telephone = this.contact.telephone.replace(/\D+/g, '');`
before send `this.contact` to server, value in `input` switch to value without mask. Do this in api class - no, on server - no. Best way - some setting to display with symbols but contain in `ngModel` **without** them.

[2016-07-23 17:15] msafi commented on #109
@AndersonDev How about not writing the new value to `this.contact.telephone`? Write it to a temporary variable and send that to the server.

For example:

[code]

Then send `valueWithoutMaskChars` to server. Your `this.contact.telephone` value will remain intact if you do that.

[2016-07-23 17:18] AndersonDev commented on #109
@msafi I send all `class`(object) not telephone variable separately.

Now I past `replace` in api `addContact (studentId: number, contact: Contact): Observable<Response> ` function. However it not the best architecture idea)

[2016-07-25 02:29] sky-coding commented on #109
[code]

[code]

This might be what you're looking for, although I did not test it (you could run into cursor position issues)

[2016-07-25 07:47] AndersonDev commented on #109
@sky-coding no. If I do like this I will haven't mask till I press some other button than number.

If I use only text-mask I will have data disparity. Before send to server I need to do `replace` and after before init data I need to do the same however in other way...

For the best way:
[code]
like **modelClean: true** and do all stuff in mask component. **modelClean** means that in model will be

[2016-07-25 17:03] AndersonDev commented on #99
@sky-coding @msafi initial value doesn't work

[2016-07-26 19:23] Natanael1234 opened #114 "Error on install"
Installing with this command:

Gives me the following error:
corp-segurado@ C:\Projetos\corp-segurado\app
+-- UNMET PEER DEPENDENCY angular2@*
+-- angular2-text-mask@0.15.0
`-- aws-sdk@2.4.6  extraneous

Why is this happening and how could I solve this?

[2016-07-26 19:24] Natanael1234 commented on #114
Solved. Just deleted the folder and installed again.

[2016-07-26 19:26] msafi commented on #114
Cool 👍

[2016-07-26 19:26] #114 closed

[2016-07-27 14:32] andyrue opened #115 "Unwanted extra character"
I'm not sure if this is a bug or I'm doing something wrong.

Using angular2 rc.4, angular2-text-mask 0.15.

Masking like this.
`<input [textMask]="{mask: '11/11/1111'}" type="text" formControlName="dob" required>`

The mask displayed in the form is correct `_ _ / _ _ / _ _ _ _` but If I enter a date like `01/12/1992` there is always an extra `_` saved at the end in the background, `01/12/1992_`. I

[2016-07-27 19:09] dannysouza16 opened #116 "Angular 2 - Mask not working"
ORIGINAL EXCEPTION: No provider for NgControl!

When i put " ngControl " in the component to the provider this error pops up:

EXCEPTION: TypeError: this.ngControl.viewToModelUpdate is not a function

Any solution for this?

[2016-07-27 21:36] msafi opened #117 "Make email mask addon"
A mask function that formats input as email is possible to write. As a convenience to users, I'll write one and publish it as addon.

[2016-08-01 02:01] msafi commented on #117
This turned out to be very tricky to get right! Not sure when I'll be able to finish it. Work is happening in this branch: https://github.com/msafi/text-mask/tree/email-mask

[2016-08-02 13:25] AnatolyRugalev commented on #115
I faced this issue too in 0.8.0, which is the latest for package `@msafi/vanilla-text-mask`. Can you update this package please?

[2016-08-02 16:05] browniefed commented on #115
The reason this happens is `onChange` is getting called with the current target value. However the mask then kicks in and adjust it. The `e.target.value` needs to get mutated in an intermediary `onChange` before passing back to the real `onChange`.

@msafi this was happening with React awhile ago if you recall.

[2016-08-02 17:19] dannysouza16 opened #122 "How to use createNumberMask"
I want to create a mask like this gif: https://github.com/msafi/text-mask/raw/master/assets/dynamicMask.gif

[2016-08-02 19:58] browniefed commented on #122
https://github.com/msafi/text-mask/blob/master/website/src/choices.jsx#L45

[2016-08-03 02:23] msafi commented on #122
@dannysouza16 as @browniefed pointed out, you can do something similar to what is being done on the link. There's also the documentation for `createNumberMask` [here](https://github.com/msafi/text-mask/tree/master/addons#createnumbermask).

I'll close this issue but feel free to reopen if you have other questions.

[2016-08-03 02:23] #122 closed

[2016-08-03 02:24] msafi commented on #116
I'm assuming, from your other issue, that you found a solution for this? I'll close this, but feel free to reopen if the issue is not solved.

[2016-08-03 02:24] #116 closed

[2016-08-03 15:41] mikedodd commented on #115
I to have been having this problem, I tried to fix with maxlegth but the inputmask = exact length and so this is no good. Please let me know if anyone finds a solution to this

[2016-08-03 22:23] msafi commented on #115
I'll look into this and update this issue.

@AnatolyRugalev `@msafi/vanilla-text-mask` is deprecated. Could you please install `vanilla-text-mask` as it says in the README.md [here](https://github.com/msafi/text-mask/tree/master/vanilla)?

[2016-08-04 20:02] bevrard opened #123 "[Webpack] Can't install in Angular2 RC4"
Hi,

I'm trying to install your module but I've the following error:
`npm ERR! node v4.4.5
npm ERR! npm  v2.15.5
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package angular2@2.0.0-beta.17 does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer @msafi/angular2-text-mask@0.7.0 wants angular2@*`

Do you have any idea why it's complaining about angular2?
In my

[2016-08-06 05:43] msafi commented on #123
`@msafi/angular2-text-mask` is deprecated. Please try installing `angular2-text-mask` instead.

[2016-08-06 05:43] #123 closed

[2016-08-07 20:00] msafi commented on #117
Closed by #125

[2016-08-07 20:00] #117 closed

[2016-08-07 21:29] msafi commented on #115
@andyrue @mikedodd In Angular 2, the model should have the correct value after the `keyup` event. Can you read the model there and see if it that solves your issue?

@AnatolyRugalev same goes for the vanilla component. If you read the input value during `input` or `keydown` event, you'll get the wrong value. Read it at the `keyup` event.

[2016-08-08 06:04] jafaripur opened #127 "Not work in Ionic2"
Mask Directive not work in ionic2 with this input:

[code]

But in normal input text work!

[2016-08-10 13:41] LubergAlexander opened #128 "Does not work in Safari"
Version 9.1.2 (11601.7.7) if that matters. (Basically the latest stable version).

Just have tested in Chrome and it works, in Safari text mask doesn't work and you can type anything in a masked field.

[2016-08-10 15:21] zackify opened #129 "Doesn't work with autofill"
If something autofills a form, for instance: https://privacy.com/ filling a credit card field, the mask doesn't show until you click the field and hit a key. Small bug really. This library is awesome, using it on react.jobs now :D Thanks for all the work.

[2016-08-10 16:14] DimitryKislichenko opened #130 "Export primitives"
Would it be possible to export primitives for caret position control and for placeholder generation? In my case I need that to re-implement the createTextMaskInputElement function which I can't use directly, because have own input which can't be just replaced with react MaskedTextInput.

I think more flexibility will give more ways to use this awesome library.

P.S. Thank you for this project and

[2016-08-10 17:26] jqr commented on #128
On [the demo page](https://msafi.github.io/text-mask/) it produces this error in the Safari developer console:

[code]

[2016-08-10 17:29] msafi commented on #128
The bug is in the code of the demo page, not Text Mask itself, right? It breaks when a new selection is made from the drop-down list?

Anyway, I'll look into this and fix it. Thanks for reporting it!

[2016-08-10 17:31] jqr commented on #128
@msafi Yeah, it only happens after changing the drop-down.

[2016-08-10 22:15] madmatt opened #131 "Character deletion/input is flaky"
Just had a play around with the demo (https://msafi.github.io/text-mask/), especially with the `US phone number with country code` demo.

Replication steps:
* Enter `2` (input box shows "+1 (2  ) -")
* Delete `2` (input box goes back to placeholder)
* Enter `1`
* Use backspace key to remove the `1` (box does *not* go back to placeholder, the `1` remains
* Use the delete key (not backspace), see th

[2016-08-10 22:21] msafi commented on #131
Ah, thanks for this bug report @madmatt. There are a couple of issues there that I need to fix.

[2016-08-11 01:53] msafi commented on #130
@DimitryKislichenko Thanks for your nice words.

I think there maybe a couple different options here. The [`core` of Text Mask is published separately to npm](https://github.com/msafi/text-mask/tree/master/core). You could install that package, which has the files that you need, and reimplement `createTextMaskInputElement`. Or you could use the [vanilla JS component](https://github.com/msafi/text-

[2016-08-11 01:53] #130 closed

[2016-08-11 02:19] msafi commented on #129
Thanks a lot @zackify!

I tested with LastPass and Chrome auto-fill and it seems to be formatting correctly. As long as React `onChange` event is triggered after the extension auto-fills the field, the input should be formatted. Privacy.com extension maybe for some reason not causing the `onChange` event to trigger?

[2016-08-11 02:22] zackify commented on #129
I will try to debug this more. Just didn't have time today so I made the
issue. Will check if onChange is firing or not and I guess it would really
be the extension doing something weird.
On Wed, Aug 10, 2016 at 22:19 M.K. Safi <notifications@github.com> wrote:

[2016-08-11 02:27] msafi commented on #129
@zackify Yeah, if the Privacy.com extension is grabbing the input element and setting `value` to it directly, it would cause this, and if that's the case I don't know what can be done on our side about it...

I'll close this issue for now but feel free to reopen.

Oh, and thank you guys for tweeting about this! 😄

[2016-08-11 02:27] #129 closed

[2016-08-11 02:28] zackify commented on #129
No problem. It's a really awesome library!
On Wed, Aug 10, 2016 at 22:28 M.K. Safi <notifications@github.com> wrote:

[2016-08-11 03:57] msafi commented on #128
Yeah, the bug was in the demo page code. [Fixed](https://github.com/msafi/text-mask/pull/132)!

[2016-08-11 03:57] #128 closed

[2016-08-11 15:33] Heymdall opened #133 "Caret position in IE10 and React v15 after backspace"
Carret always return to the beginning of input when you try to backspace one character on ie 10 in demo https://msafi.github.io/text-mask/
On ie 9 all works as expected.

[2016-08-11 17:23] jqr commented on #128
Looks to be completely fixed. Thanks @msafi!

[2016-08-12 02:30] msafi commented on #133
It's interesting that it's working on IE9 but not IE10. I think the problem is in the way I'm [reading the `selectionStart`](https://github.com/msafi/text-mask/blob/00eaf29f2bae9a0b82d57ee28033a529160ae69d/core/src/createTextMaskInputElement.js#L67) property from the input element. I think `selectionStart` may not contain the right value in IE10 or something.

I'll look into it, thanks for the bug

[2016-08-12 10:28] Heymdall commented on #133
No, selectionStart working correctly. As I understand there is problems with setSelectionRange. There is related [bug in react](https://github.com/facebook/react/issues/7422). Seems like wrapping `setSelectionRange` in zero timeout for ie fixing it, but in this case sometimes cursor just jump to the end of input when you type really fast(

[2016-08-13 06:12] msafi commented on #133
Yeah, this turned out to be a React v15 issue. I reported it here https://github.com/facebook/react/issues/7489. Hopefully they'll fix it soon!

[2016-08-14 12:06] ihadeed opened #134 "Ionic 2 support"
Hey there,

I just forked your repo and modified the angular2 implementation so it can work with Ionic2 Applications. See here: https://github.com/ihadeed/ionic2-input-mask

If you are interested in merging this into your repo I can organize it a bit more and submit a PR.

I also noticed some conflicts when running `npm install`, so I changed `package.json` a bit.

[2016-08-14 17:59] msafi commented on #134
Sure, I'm interested in merging this. I looked at your fork and left a few comments, but I'm not sure which of those changes fixed Ionic compatibility.

We need the component to be able to work on both Ionic and regular input elements.

Please send a PR!

[2016-08-15 00:08] msafi commented on #131
Fixed in #135 and new versions published to npm.

[2016-08-15 00:08] #131 closed

[2016-08-15 04:07] ihadeed commented on #134
Well to make it work on Ionic I had to do two things:

1. Instead of applying the changes directly to "elementRef.nativeElement" I
applied it to the child of that element instead. The reason is that ionic
wraps all inputs with "ion-input" directive. So we have to target it's
child element which will be an input tag.

2. Move all the initialization code to ngAfterViewInit function. This is
needed b

[2016-08-15 20:24] andyrue opened #139 "e.map is not a function"
Are there any known issues with Angular2 RC.5 and/or webpack that would cause this error? I'm in the process of upgrading my app to RC.5 and also switched to Webpack at the same time so I'm not totally sure what might be causing this error. Using "angular2-text-mask": "^0.16.3"

    TypeError: e.map is not a function
    at n (angular2TextMask.js:1)
    at n (angular2TextMask.js:1)
    at Object.u

[2016-08-15 20:30] msafi commented on #139
The API has changed. The [`mask`](https://github.com/msafi/text-mask/blob/master/componentDocumentation.md#mask) is expected to be an array now. Not a string.

[2016-08-15 20:38] andyrue commented on #139
Thanks for the quick response, that was the trick. 👍

[2016-08-15 20:38] #139 closed

[2016-08-16 02:20] msafi commented on #134
This all sounds good to me.

Regarding the guide, it can be turned off or a custom empty placeholder can be set on the component, something like `placeholder=" "`.

[2016-08-16 04:48] ihadeed commented on #127
`ion-input` is just an HTML ELement that wraps the actual `input` element.

This plugin is designed to work with the `input` element directly and not with it's wrapper.

The official support for Ionic 2 input will be added shortly, but in the meanwhile feel free to use https://github.com/ihadeed/ionic2-input-mask

Note that that fork doesn't work well with floating labels, so you would have to inl

[2016-08-16 04:52] ihadeed commented on #134
Well we need the guide to be removed when these conditions are met:
- `ion-input` has `floating` attribute, if angular doesn't allow an attribute to be shared between two directives we can add our own attribute then.
- `input` value is null or ''
- `input` is not focused

I'm not quite sure how to check if `input` element is focused or not. The only way I can think of is by having a CSS hack. Add

[2016-08-16 04:56] msafi commented on #134
I'm trying to understand how Text Mask guide might affect Ionic's floating labels. I googled for a demo of Ionic 2 floating labels but couldn't find one. Could you share a link (or a video)?

[2016-08-16 05:05] ihadeed commented on #134
![image](https://cloud.githubusercontent.com/assets/13794420/17688443/5a611bf4-634d-11e6-8fdb-8d1d080f12e7.png)

Here you go!

First time I went to the sign up page, that was a regular input (inline label).
[code]

The second time it was a floating input.
[code]

[2016-08-16 05:09] msafi commented on #134
I'm not sure I'm looking at the right thing here? It's an image?

[2016-08-16 05:11] ihadeed commented on #134
Sorry, I meant to upload a gif, didn't realize it was a static png. Here you go:

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/13794420/17688552/3f8fd620-634e-11e6-8c49-0e162d25a557.gif)

[2016-08-16 05:19] msafi commented on #134
Ah, ok. So, that guide is just a normal placeholder attribute on the input. If you set the placeholder of the input to be a whitespace, i.e. `placeholder=" "`, it would override Text Mask's default placeholder and this problem should go away.

So, for now we could try to get Text Mask to work with Ionic 2, then see if we can find a way to solve this placeholder problem for users.

[2016-08-16 05:21] ihadeed commented on #134
Ok sure, I'll submit a clean PR that enhances the Angular 2 functionality to be compatible with Ionic 2.

[2016-08-17 09:40] movrack commented on #102
I have the "same problem" with a pattern validator. (on ionic app but it's angular2 too)
The fact is the pattern is not valid at the end of input since the form validation keep previous input result.
As example I use pattern like 9999 9999 9999 9999 9 (and so the same mask ____ ____ ____ ____ _)
And when I feel it as '1234 1234 1234 1234 1', the validator see '1234 1234 1234 12341_'.
So it validat

[2016-08-17 18:40] andyrue commented on #115
Sorry, just getting back to this. The input target value is correct but the model is not correct. I'm using model driven forms if that makes a difference? I suppose a work around is I can make my own keyup event that sets the value manually but it seems I shouldn't have to do that. Thanks again for your help.

[2016-08-17 19:46] andyrue commented on #115
My workaround is to go through the form before save and use `substring(0,10)` on all my dates to strip off any extra characters. Close this if you wish but it'd be nice if it just worked. :-) Thanks for your great package!

[2016-08-18 02:30] msafi commented on #115
Thanks @andyrue. I think in the case of Angular 2, Text Mask should take care of providing the correct model. I'll look into this and see if I can come up with a fix.

For the vanilla component, the value should be read after the `keyup` event.

[2016-08-18 02:32] msafi commented on #102
@movrack What you described is related to #115. I'll look into it. Thanks for the bug report!

[2016-08-18 02:42] msafi commented on #115
@andyrue I just tested Angular 2 in the [`example` app here](https://github.com/msafi/text-mask/tree/master/angular2/example). And the model seems to contain the correct value after I enter a number into the input field. Could it be correct in the example app but not in your app because of the "model driven forms" thing? (Sorry, I really don't know much about Angular 2)

[2016-08-18 09:03] movrack commented on #115
@msafi I can't run the example but could you try it with this mask please ?

    this.mask = ['(', /[1-9]/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/,  ' ', /\d/]

(I add a space before last position)

[2016-08-18 12:51] andyrue commented on #115
Here is an example application using both template-driven forms and model-driven forms. It works correctly with template-driven forms but not with model-driven forms. It's strange behavior to say the least.

https://github.com/andyrue/textmask-test

[2016-08-18 12:56] andyrue commented on #63
Here is a stripped down version of systemjs.config.js with the important lines to add.

    var map = {
      'angular2-text-mask':         'node_modules/angular2-text-mask/dist/'
    };

    var packages = {
      'angular2-text-mask':         { main: 'angular2TextMask.js', defaultExtension: 'js' }
    };

[2016-08-18 17:47] rafael-iop opened #143 "Addons (Angular2)"
How can I use text-mask-addons with Angular2?

I'm following [this instructions](https://github.com/msafi/text-mask/tree/master/addons#createnumbermask) to use createNumberMask as below:

(everything is fine with the installation)

And the code:

[code]

But I'm getting an error message:

Any guess?

[2016-08-19 02:27] msafi commented on #143
Ah, I think I need to create TypeScript definitions for those? I'll get to it this weekend. Thanks for the report.

[2016-08-19 03:01] msafi commented on #115
Thanks for making this example, @andyrue. I tried it and I think what's happening is that Text Mask is not updating the model in the case of model-driven forms. It only updates the model of a template-driven form.

[This line of the Text Mask component](https://github.com/msafi/text-mask/blob/fc5017bd3235f874acc8dea9a1c7e8a3e9f7043f/angular2/src/angular2TextMask.ts#L39) is supposed to update the m

[2016-08-19 07:18] movrack commented on #115
On formControl you have the setValue aliased patchValue and updateValue  : https://angular.io/docs/ts/latest/api/forms/index/FormControl-class.html
On my code, I can't access setValue and I use updateValue.

[2016-08-19 11:43] rafael-iop commented on #143
Yes, I think so. I didn't realize that **d.ts** was missing.

Thanks for your help.

[2016-08-19 21:22] andrevcf opened #145 "missing unmask"
My models don't use masks and I want to be able to unmask the input value before sending to database.
Is there a feature/option like that?

From testing I became creating a directive to remove the masks on (blur) just on the model with:
`this.model.viewToModelUpdate(this.model.model.replace(/\-/, ""));`

Example: In the component below from PrimeNG there is an attr unmask:
http://www.primefaces.or

[2016-08-20 01:23] msafi commented on #145
Thanks for the request. Unfortunately, Text Mask does not support this yet. I still haven't figured out a good way to add it that will work for all use cases and for components other than Angular 2.

Check out [this issue](https://github.com/msafi/text-mask/issues/109), it might contain ideas on how to achieve what you want (if your current solution is not sufficient).

[2016-08-20 01:23] #145 closed

[2016-08-20 03:48] msafi commented on #115
So based on @movrack's feedback, I made the following changes to the directive:

https://github.com/text-mask/text-mask/compare/angular2-fixes#diff-4e3ef722d7c6ecf44c4879917135e853

I published those changes as a prerelease version `0.18.0-0`. Please let me know if this works and if so I'll make it a normal release.

To install this, I think you have to do `npm i angular2-text-mask@0.18.0-0`

[2016-08-20 04:16] msafi commented on #115
So based on @movrack's feedback, I made the following changes to the directive:

https://github.com/text-mask/text-mask/compare/angular2-fixes#diff-4e3ef722d7c6ecf44c4879917135e853

I published a new version that has those changes as `angular2-text-mask@form-control` on npm. Please install it and let me know if it works and if so I'll make it a normal release.

To install this, do `npm i angular2-

[2016-08-20 23:09] msafi commented on #143
@rafael-iop I published `text-mask-addons@0.7.0`, which should contain addons that are importable by TypeScript now.

[2016-08-20 23:09] #143 closed

[2016-08-21 00:32] andyrue commented on #115
Hmm, `npm i angular2-text-mask@form-control` results in:
`└── angular2-text-mask@0.18.0-2  invalid`

[2016-08-21 02:22] msafi commented on #115
@andyrue I'm not sure why you're getting that. It's working fine for me. I'm on npm v3.10.6. Could it be an issue with your npm version?

[2016-08-21 02:31] andyrue commented on #115
Sorry, I should have actually looked to see if it updated anyway. It still gives the same result when I install, but the package is in fact installed and updated to 0.18.0-2. That patch seems to have fixed things, thanks!!

[2016-08-21 02:41] msafi commented on #115
Awesome! Do you know if it also fixes the validators issues that some users brought up here #102?

[2016-08-21 03:20] andyrue commented on #115
Hmph. Seems like we're not quite there yet. The patch fixed it for individual FormControls, but not for FormControls part of a FormGroup. I updated my example app with an example using a FormGroup as well.

FormControlName is what you're after now.
https://angular.io/docs/js/latest/api/forms/index/FormControlName-directive.html

Example App
https://github.com/andyrue/textmask-test

Yes, it will fi

[2016-08-21 04:37] msafi commented on #115
@andyrue I looked at the example. I'm not sure how to get access to the `FormControlName` or the `FormGroup` from inside the Text Mask directive. Without being able to access either of these, I can't update the value of the model.

Ideally, I would like to be able to have Angular just see the new value after it gets updated, but I tried the [solutions in this StackOverflow answer](http://stackover

[2016-08-21 11:16] andyrue commented on #115
Ya, I wasn't seeing an obvious way to access it either.

Thanks for the instructions , I was trying to figure out how to modify your
code earlier but wasn't having success getting it to build. I'll play with
it some today and see what I can figure out.

On Sun, Aug 21, 2016, 12:37 AM M.K. Safi <notifications@github.com> wrote:

[2016-08-21 12:58] andyrue commented on #115
Added a pull request to fix it.

[2016-08-21 19:59] movrack commented on #115
I tried #150 and it look working with validators too.
I can do a pull request with a little more complicated example if need. (or just put the code here..?!)

Now, I just have to find how it work with the ionic2 version from @ihadeed ( #127 ).

[2016-08-21 20:01] movrack commented on #127
Greet work @ihadeed.
@msafi Could be great to get the merged extended version here :)

[2016-08-21 20:02] movrack opened #153 "Ideas for making mask more simple"
Sh*T, I push enter to fast. (and I can't update the title, sorry)

So, just proposing some ideas ...

* Make mask pattern more simple (like a pattern) or a string and not in an array ```private mask = "([0-9]\d\d\d) \d\d\d-\d\d\d-\d" ```
* Put mask in html and don't use a  variable from model
* Use some symbol like following (as in this jquery plugin https://github.com/RobinHerbots/jquery.inputmas

[2016-08-21 21:09] msafi commented on #115
@movrack Great! I've published @andyrue's version to npm. `npm update angular2-text-mask` should grab that version, which is `0.18.2`.

[2016-08-21 21:09] #115 closed

[2016-08-21 21:10] msafi commented on #102
This is also fixed in `angular-v0.18.2`. Closing...

[2016-08-21 21:10] #102 closed

[2016-08-21 21:12] msafi commented on #127
@movrack Yes, we're planning to have built-in support for Ionic 2 here. @ihadeed will hopefully get to this when he's got some time :)

[2016-08-21 21:31] andyrue commented on #115
Uh oh, I think we might have introduced a new bug from that. Seems pre-populating the fields isn't working anymore...both setting a model value in constructor and calling `.setValue()` on a `formControl` in `ngOnInit` doesn't seem to be having an effect. The values are correct if you log them but don't reflect in the view.

[2016-08-22 01:15] msafi commented on #153
@movrack Actually, if you look at an [older version of the mask documentation](https://github.com/text-mask/text-mask/blob/86a68de48401092429486039de09ffb206c91176/componentDocumentation.md#mask), it was almost exactly like you described. But I wasn't happy with that approach because it's not a standard way to match text and it's not very flexible.

We already have RegEx in programming, so why do

[2016-08-22 01:29] msafi opened #156 "Angular 2 component does not mask initial value"
After we merged #154, the Angular 2 component no longer formats the initial value of the form input element.

We need to figure out how to fix that.

[2016-08-22 03:20] msafi commented on #156
Fixed in #157 and published to npm.

CC @andyrue

[2016-08-22 03:20] #156 closed

[2016-08-22 14:51] rosslavery commented on #115
Changing `.setValue()` to `.updateValue()` fixed it for me.

[2016-08-22 15:21] andyrue commented on #115
#157 Should have fixed that issue. Do you still need to use `.updateValue()` with the latest 0.18.3? My understanding is using `updateValue()` on individual form controls is being deprecated and they're recommending you use `.setValue()`.

[2016-08-22 15:28] rosslavery commented on #115
Ah, could be my mistake then. I'm still on RC4, and my error was that setValue was undefined. Perhaps this has changed in RC5, I haven't migrated yet.

Thanks for the heads up.

[2016-08-23 02:44] #153 closed

[2016-08-23 14:45] felipedrumond opened #158 "modelValue e viewValue"
This is more a support request than a bug report.

When creating a currency mask for Angular 2, is it possible to keep the numeric input value (10.01) in the model variable and show the formated value ($ 10.01)?

[2016-08-23 18:13] dannysouza16 opened #159 "Addons "NumberMask""
I am trying to use the numberMask addon, But there is no example using him.
Someone was successful in use it? I am getting some error's.

[2016-08-24 01:19] andyrue commented on #158
I don't think there's a way to do that right now. You'll have to strip it out manually using something like `str.replace('$', '')`. See #109 for more ideas.

[2016-08-24 03:22] #158 closed

[2016-08-24 03:37] #109 closed

[2016-08-24 03:55] msafi commented on #159
I've updated the [`createNumberMask` usage example](https://github.com/text-mask/text-mask/tree/master/addons#createnumbermask). Please let me know if it makes more sense now.

[2016-08-24 14:28] karaliolio opened #161 "this.formControl.setValue is not a function"
Hi, I'm trying to use the library and when I use [(ngModel)] to bind a value (just like in the example) I get this error:
**this.formControl.setValue is not a function**
Even if I don't set any value I get this error.

I'm using Angular2 RC4

[2016-08-24 14:38] andyrue commented on #161
If you're able to upgrade to RC.5 it will work. Seems `setValue` isn't available in RC.4.

 @msafi  `updateValue` seems to still be available in RC.5 and will make it backwards compatible for now but my understanding is it will be deprecated soon. Thoughts?

[2016-08-24 14:43] karaliolio commented on #161
Yes, I'd like to know if this library will only work with RC5+ versions of Angular2, because on our main project we are using way older version than RC4 and I am wondering if we will be able to use angular2-text-mask.

[2016-08-24 17:30] msafi commented on #161
@andyrue I'm not sure, but I think it's fine to not support RC.4. It will be more maintenance for us if we do, especially since `updateValue` is deprecated? @karaliolio are you guys planning to upgrade?

[2016-08-24 18:09] andyrue commented on #161
Agreed, although I can't seem to find any other reference to `updateValue` being deprecated other than  Kara's comment about it at the bottom of [this](https://github.com/angular/angular/issues/9281) issue two weeks ago.

But I can't actually find that in the change logs.

[2016-08-24 18:09] karaliolio commented on #161
@msafi we are planning to upgrade, but it won't be anytime soone for number of reasons. I understand why you don't want to support RC.4.
Thank you for the quick reply :)

[2016-08-25 02:42] msafi commented on #161
@andyrue She seems to know about the project's plans. But I don't really have strong opinions either way, so up to you.

@karaliolio Thanks for your understanding!

[2016-08-25 12:10] dannysouza16 commented on #159
I use like this:  [textMask]="{mask: numberMask}"

Call component:
`import MaskedInputDirective from 'angular2-text-mask/dist/angular2TextMask';
import createNumberMask from 'text-mask-addons/dist/createNumberMask'

// First, you need to create the `numberMask` with your desired configurations
const numberMask = createNumberMask({
  prefix: '',
  suffix: ' $' // This will put the dollar sign at th

[2016-08-25 12:14] andyrue commented on #161
I've created a pull request for this. #163 It's simple enough to put back when things are more imminent.

[2016-08-26 02:19] msafi commented on #133
Fixed in #164 thanks to @browniefed!

Published to npm as `react-text-mask@0.17.4`

[2016-08-26 02:19] #133 closed

[2016-08-26 02:20] msafi commented on #161
Thanks for taking care of this @andyrue!

Published to npm as `angular2-text-mask@0.18.4`

[2016-08-26 02:20] #161 closed

[2016-08-26 02:27] msafi commented on #159
@dannysouza16 something like this is working for me

[code]

Is this similar to what you have?

[2016-08-26 11:44] dannysouza16 commented on #159
Yes, How you insert the "mask" variable in html? Like this "[textMask]="{mask: mask}""?

[2016-08-26 12:21] andyrue commented on #159
@dannysouza16 You can input the variable into the HTML like this `[textMask]="mask"`.

[2016-08-26 12:42] andyrue commented on #159
@dannysouza16 That's correct. However I'm seeing `undefined` in the input box if I don't have a number set on the model to begin with. So `this.myModel = ''` shows `undefined` in the input box until you type a number and then it formats it correctly.

[2016-08-26 14:29] ihadeed commented on #134
FYI @msafi since you updated this repo to Angular RC5 I can no longer use the same directive that you have for Angular 2. Ionic 2 still uses RC4 as of now, so I will have to create a new directive that uses RC4.

[2016-08-26 17:02] msafi commented on #159
With regard to the placeholder being `undefined` in case of mask function, I need to push a fix. As a workaround, you can set a placeholder attribute on the input component to override `undefined`.

[2016-08-26 17:03] msafi opened #167 "Placeholder defaults to `undefined` with mask functions"
Relevant https://github.com/text-mask/text-mask/issues/159

[2016-08-26 17:03] #159 closed

[2016-08-26 20:01] dannysouza16 commented on #159
Returning this: t.replace is not a function
    at n (angular2TextMask.js:1)
    at Object.update (angular2TextMask.js:1)
    at e.onInput (angular2TextMask.js:1)

[2016-08-27 02:16] msafi commented on #159
@dannysouza16 can you post the relevant portions of your code here so we can take a look?

[2016-08-27 02:31] msafi commented on #167
Fixed in #169

[2016-08-27 02:31] #167 closed

[2016-08-29 03:40] #127 closed

[2016-08-29 03:40] #134 closed

[2016-08-29 04:47] msafi commented on #127
Added support in #172 and published to npm as `angular2-text-mask@0.19.0`

Thanks @ihadeed!

[2016-08-29 13:35] dannysouza16 commented on #159
Significant parts:
[code]

Some observations: I am using angular RC4; I am not using FormsModule, NgModule, BrowserModule, platformBrowserDynamic and core-js from the example below.

This is the example in the repository:

[code]

[2016-08-29 15:14] msafi commented on #159
This looks correct to me. Can you make sure you're on the latest version of "angular2-text-mask", which is 0.19.0?

[2016-08-29 16:26] akz92 opened #174 "Question about variable mask length"
Hi, is it possible to have a variable mask length or optional chars? For example, Brazilian phone numbers can have either 8 or 9 numbers and the mask is slightly different for each one:

- 8 numbers: `(99) 9999-9999`
- 9 numbers: `(99) 99999-9999`

I know I could change the mask based on the length of the input, but it would be nice if the library supported this kind of mask.

[2016-08-29 16:40] msafi commented on #174
Hi. Thanks for the question.

The only way to do something like this is through a [mask function](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#mask-function).

I think defining rules for how masking should happen in the presence of optional characters can be difficult and unintuitive. With mask functions, you can programmatically return a mask the way you like.

[2016-08-29 17:41] dannysouza16 commented on #159
I upgraded to the latest version and returned this error: TypeError: e.map is not a function

[2016-08-29 20:41] dannysouza16 opened #175 "Problems with mask options"
My options is:

[code]

The "allowDecimal" don't work. The mask format like this: "1.223.332" but i need like this "12.233,32"

[2016-08-30 02:13] msafi commented on #175
@dannysouza16 If you pass `1223332` as the raw value, it will give you `1.223.332`. If you want it to give you `12.233,32`, you should pass `12233,32`. It cannot guess where you want the decimal to be so it doesn't add it. `allowDecimal` means it allows the user to add a decimal.

[2016-08-30 02:13] #175 closed

[2016-08-30 02:13] #174 closed

[2016-08-30 11:20] dannysouza16 commented on #175
@msafi In brazil the first two  numbers typed is decimal. Like this plugin in JQuery: https://igorescobar.github.io/jQuery-Mask-Plugin/

[2016-08-30 14:44] msafi commented on #175
I just googled it and it seems to me that Brazilian currency formatting is the same as US currency formatting but with "," and "." symbols switched.

Are you saying that when Brazilians type a number they first enter the fraction then the integer? Like if you ask somebody to type $1.000,87 they will start with 87?

[2016-08-30 19:19] kevgathuku opened #176 "Removing leading zeroes in number mask"
Hi,
I'm using this library for input masking and so far so good. I'm loving it.

However, I'm experiencing a small issue with regards to the number mask.
For example, when trying out the live demo with the `US Dollar Amount` option selected, the leading zeroes are not removed from the input. This does not seem like the correct behaviour since numbers should not have leading zeroes.

See an example

[2016-08-31 01:59] msafi commented on #176
Yeah, this needs to be fixed. I'll look into it. Thanks for the report!

[2016-08-31 09:27] movrack commented on #134
Could you add some doc to explain how to use it ? I suppose is not exactly same as angular.

[2016-08-31 13:43] edallagnol opened #179 "(Angular2) Using with md-input"
There is a way to use this library with angular2-material md-input? (https://github.com/angular/material2/tree/master/src/lib/input)

[2016-08-31 14:09] dannysouza16 opened #180 "Error when using server side rendering"
I updated the text mask plugin to 0.19.0 (I was using 0.13.1). The mask returns the wrong value in model.

The field writes this: 11025-010
And the model returns this: 11025-010_

Some observations: I am using Angular RC4 and Form 0.2 is incompatible with the plugin 0.19.0?

[2016-08-31 17:28] AliveDD opened #181 "vanilla import error"
### i'm install plugin
`import maskInput from './vendor/vanillaTextMask'`
`console.log(maskInput);`

_console say's:_
function o(e){var r=e.inputElement,t=(0,a["default"])(e),n=function(e){var r=e.target.value;return t.update(r)};return r.addEventListener("input",n),{textMaskInputElement:t,destroy:function(){r.removeEventListener("input",n)}}}

### and init it
`maskInput({ inputElement: $userPhone

[2016-08-31 17:54] msafi commented on #181
Can you show a more complete setup, perhaps create on minimum project on GitHub showing your setup and share a link to that? I can't really tell what's going on just by what you've posted above.

[2016-08-31 17:55] msafi commented on #180
What is the value of `mask` in this scenario?

[2016-08-31 17:58] msafi commented on #179
@edallagnol Looking at the HTML structure of `md-input`, I don't think it's currently possible. Would you mind setting up a minimal project on GitHub that has `md-input` element, then I can add Text Mask and try to get it to work with it?

[2016-08-31 18:00] msafi commented on #134
@movrack It should be exactly the same as Angular, just instead of `input` use `ion-input`.

[2016-08-31 18:30] dannysouza16 commented on #180
The mask value: [/\d/, /\d/, /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/]

[2016-08-31 19:47] edallagnol commented on #179
I forked the [quickstart](https://github.com/angular/quickstart) project, added the material2 components, and created a example of input with [textMask] and a md-input: https://github.com/edallagnol/quickstart

[2016-08-31 20:15] edallagnol commented on #179
A workaround is using vanilla-text-mask in the wrapped <input> tag of md-input:
[code]

[2016-08-31 20:20] ihadeed commented on #179
I don't think the directive would work as of now with `md-input`.. we would need to do some modifications first.

Here is the HTML markup for the `md-input` directive: https://github.com/angular/material2/blob/master/src/lib/input/input.html

We need a universal function that queries the element for a child `input` element instead of assuming the first child is the input (which works for `ion-inpu

[2016-08-31 21:02] edallagnol commented on #179
Thanks for response!
Should I close this issue?

[2016-09-01 01:35] msafi commented on #179
@edallagnol No, please leave it open, we need to figure out a way to support this use-case.

@ihadeed @edallagnol is it feasible to ask the user to provide a reference to the DOM input element in Text Mask configuration object?

Something like

[code]

That way we don't have to look for the input element ourselves?

[2016-09-01 01:43] msafi commented on #180
@dannysouza16 I tried to reproduce this issue and couldn't. Please provide a sample project showing this behavior.

[2016-09-01 04:05] edallagnol commented on #179
It's a nice solution. But there is another problem: text-mask is overriding the input's placeholder.
When value is empty and the input is not focused, it should look like this:
![normal](https://cloud.githubusercontent.com/assets/3288822/18154917/19698d9a-6fdf-11e6-864e-c9c876d5c7e2.png)
And focused:
![virtualbox_arch_01_09_2016_01_02_57](https://cloud.githubusercontent.com/assets/3288822/18155043

[2016-09-01 04:08] msafi commented on #179
@edallagnol What do you think should be the solution to this input placeholder issue?

Going back to the original problem, how would you get a reference to the deep input element to pass it to Text Mask?

[2016-09-01 04:33] edallagnol commented on #179
It's possible to add another option to not replace the input's placeholder? Example: ``[text-mask]="{mask:mask, inputElement:inputElement, placeholder: false}"``. The option ``guide: false`` shouldn't do this?

To get the reference to deep input element, I'm using document.getElementById("IdOfMdInput-input").

It's feasible to create another directive (something like [md-text-mask]), that do this

[2016-09-01 15:17] sante85 opened #182 "How to mask date??"
How to specify date mask??

[2016-09-01 15:28] browniefed commented on #182
Look here for an auto correcting date mask
https://github.com/text-mask/text-mask/blob/master/website/src/choices.jsx#L36

[2016-09-01 18:27] billcolumbia commented on #181
I think the way this is setup, the text-masker code is minified. So running an ES2015 import like `import masker from '../vendor/vanilla-text-mask'`, `masker()` has the method `maskInput()`, but it's been obfuscated by minification.

I tried to look at how [your example worked](https://github.com/text-mask/text-mask/blob/master/vanilla/example/index.js) as well. So for me importing the same way yo

[2016-09-01 19:48] dannysouza16 commented on #180
I created a repository with this bug in my git: https://github.com/dannysouza16/universal-starter

[2016-09-01 22:14] lozjackson commented on #176
This might work...

[code]

look at this branch..
https://github.com/lozjackson/text-mask/blob/fix-number-mask/addons/src/createNumberMask.js#L72

[2016-09-02 02:22] msafi commented on #182
@sante85 the link that @browniefed shared shows how to setup a date mask. The [documentation](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#readme) should also help you understand how to use this library, if not, please let us know.

[2016-09-02 02:22] #182 closed

[2016-09-02 02:28] msafi commented on #181
I'll close this issue for now, but please feel free to continue to post here when there's more information.

[2016-09-02 02:28] #181 closed

[2016-09-02 02:49] msafi commented on #180
@dannysouza16 Thanks for this. I cloned your repository and I see the issue. Since I'm not familiar with Angular 2, I can only take a guess. I think it might have to do with the Angular forms module that you're importing.

Can you use Angular 2 RC4 (not 5) and follow [this example](https://github.com/text-mask/text-mask/tree/master/angular2/example) more closely and see if that works?

CC @andyrue

[2016-09-02 02:54] msafi commented on #179
@edallagnol I'll add the `disableDefaultPlaceholder` option over the weekend.

@ihadeed how about we use something like `element.getElementsByTagName` to find the `input` element?

[2016-09-02 03:26] msafi commented on #176
@lozjackson I think we want to allow an input like `$0.38`, which starts with zero.

I think the default behavior of the mask should be to allow one leading zero. And that leading zero can only be followed by fractions. It cannot be followed by other integers, even non-zeroes.

However, the option to unrestrict leading zeroes should be available too.

[2016-09-02 03:37] ihadeed commented on #179
@msafi Yes that's what I had in mind. We check if the element's tagName is `INPUT`, if not then we run `getElementsByTagName` and pick index `[0]` of the returned array from that function.

[code]

[2016-09-02 03:39] msafi commented on #179
@ihadeed Yeah, that looks good to me :)

[2016-09-02 04:25] andyrue commented on #180
I wonder if it has something to do with the universal engine. I tested the older TextMask version 0.18.0 example that was still using rc.4 without FormsModule and it's working fine there, even using the latest code from angular2TextMask.ts. It also works with forms version 0.2.0 and 0.3.0.

[2016-09-02 07:09] lozjackson commented on #176
Ok, that's a bit more challenging...

[2016-09-02 10:42] sante85 opened #185 "autoCorrectedMmddyyyyPipe"
How to customize to have autoCorrected
ddMMyyyyPipe??

thanks

[2016-09-02 11:28] Gillardo opened #186 "Update for rc5 - NgModules"
Will this project be updated for angular2 to use NgModules in rc5+?

[2016-09-02 12:12] andyrue opened #187 "FormControls no longer updated on initialization"
Seems this broke when things got moved from `ngOnInit` to `ngAfterViewInit` to support Ionic 2.

[2016-09-02 12:38] andyrue commented on #186
It should work with rc5+ already. Are you having issues with it?

[2016-09-02 15:02] browniefed commented on #185
You would need to write your own, you can copy the one from text-addons and figure out how it works. You would just need to switch out the location in which it checks month and date.

[2016-09-02 17:17] edallagnol commented on #186
@Component.directives is deprecated in rc5, and was removed on rc6. It should switch to use NgModules.

https://github.com/angular/angular/blob/master/CHANGELOG.md

[2016-09-02 17:43] andyrue commented on #186
You must be referencing the example app. I have a PR open that will update it. Thanks for spotting that! The TextMask Directive itself should be working with rc.5+ already though.

[2016-09-03 00:29] msafi opened #191 "Requested masks"
These are some use-cases that I think Text Mask should provide addons for:

* Brazilian phone number (#174)
* Auto corrected `DD/MM/YYYY` (#185)
* General mask for variable text (Twitter IDs, passwords?, etc)

[2016-09-03 00:33] #186 closed

[2016-09-03 04:35] billcolumbia opened #192 "Vue Directive"
I made a Vue directive that allows you to just put `v-text-masker` with `:mask-options="maskOptions"` where `maskOptions` is the options object. Like this:

[code]

This is using the vanilla version.

Is there a good place I can / should share this while us Vue peeps wait on an official component? I can always just share in a gist as well and link here so anyone who searches can find it. Let me kn

[2016-09-03 05:26] msafi commented on #192
Hey, thanks for posting this! I been wanting to make a Vue directive, but I just don't know anything about Vue other than that it's pretty cool! :P

It would be great if we can work together to create a Text Mask Vue directive. Can you share the code you have so far?

[2016-09-03 05:44] msafi opened #193 "Add `disableDefaultPlaceholder` option"

[2016-09-03 06:07] msafi commented on #185
@sante85 You could do what @browniefed suggested, or wait a couple of weeks and I might be able to implement support for this. Thanks for your request!

[2016-09-03 06:07] #185 closed

[2016-09-03 07:30] Gillardo commented on #186
Sorry I am now using rc6 not rc5...this does need updating

[2016-09-03 11:52] andyrue commented on #186
@Gillardo Could you give more information on the problem you're having? Aside from the bug in #187 this is working fine in my rc.6 project.

[2016-09-03 13:39] billcolumbia commented on #192
Sure here's [what I'm using](https://gist.github.com/billcolumbia/7fcaf003914aef3e2d445362bdd5d766) for now. I have a few more things I need to add this directive to, but it seems simple enough that it should _just work_, as it's just a convenience for using the `maskInput` function.

Let me know what you think!

[2016-09-03 16:03] #187 closed

[2016-09-03 16:44] msafi commented on #192
@billcolumbia This looks like a good start. Would you mind forking Text Mask, creating a folder called `vue` at the root level and putting that stuff in there? And can we get this minimal example to run with webpack bundling/server?

If you can set those things up and send a PR, that would be awesome!

[2016-09-03 17:46] msafi commented on #179
@edallagnol I just published `angular2-text-mask@0.19.3` which should have the ability to find the HTML `input` element nested within `md-input`. However, I tried to run it with your `quickstart` project, but I couldn't get past an error that says:

[code]

Not sure what's going on there...

Please try the new version and let me know if you have any more success...

[2016-09-03 18:21] msafi commented on #193
Closed in #195

[2016-09-03 18:21] #193 closed

[2016-09-03 18:22] msafi commented on #179
@edallagnol @ihadeed About the default placeholder, I just published `angular2-text-mask@0.20.0` which doesn't set a default placeholder anymore...

[2016-09-03 21:22] billcolumbia commented on #192
Sure I can take a swing at that. Vue has [vue-cli](https://github.com/vuejs/vue-cli) to help create a project with a recommended build system. How I use the [simple webpack](https://github.com/vuejs-templates/webpack-simple) one?

[2016-09-03 21:23] msafi commented on #192
@billcolumbia Sure, that'll work!

[2016-09-04 04:01] edallagnol commented on #179
@msafi Same error here. I updated the _quickstart_ project to angular2 rc6 and angular2-material alpha8, and getting same error. =/

[2016-09-04 04:04] msafi commented on #179
@andyrue Do you know what could be triggering that error when Text Mask is used with `md-input`?

[2016-09-04 12:07] andyrue commented on #179
@msafi Out of town right now and on my phone, but I'll look tonight. I'd be curious what the `md-input ` component  code looks like and see if they're doing something that is conflicting with the text mask directive.

[2016-09-05 21:20] gfviegas commented on #174
@msafi im trying to accomplish the same issue @akz92 had, brazillian phone numbers, and even though using mask functions I cant seem to make the function work properly. Even when I return another mask, the same mask is still being applied. Could you please help me?

My function so far (it's being called properly):

`javascript
cellphoneMask() {
    let numbers =  this.whatsapp.value.match(/\d/g);

[2016-09-05 23:37] msafi commented on #174
@gfviegas I tried your mask and it seems to work.

![recording](https://cloud.githubusercontent.com/assets/4027731/18258240/bd6a3124-7386-11e6-9e77-b55af2783f60.gif)

But there are a few changes you need to make. The `cellphoneMask` function needs to accept an argument, which will contain the new, unconformed user input. Then you can work with that new user input within the function. Like this for

[2016-09-06 00:13] gfviegas commented on #174
@msafi thanks for the attention!

Im using ionic 2 and that's why I was binding with this. I tried add the argument but my app crashed with it. I've upgraded to 0.20 already.

Am I using it right?

`<ion-input [formControl]="whatsapp" type="text" [textMask]="cellphoneMask()"></ion-input>`

Should I just link the function with [textMask]="cellphoneMask" ?

[2016-09-06 00:42] gfviegas commented on #174
![textmask](https://cloud.githubusercontent.com/assets/6178801/18258722/92689cc4-73b1-11e6-857d-12d6df932e97.gif)

There's a strange behavior and inconsistentency with the displayed data and the actual field value...

in that red paragraph i have a {{whatsapp.value}} and my input has a [formControl]="whatsapp"

[2016-09-06 01:35] msafi commented on #174
@gfviegas I thought we fixed that bug. Please make sure you're on `angular2-text-mask@0.20.0` and Angular 2 RC 6. I think the behavior is fixed there.

[2016-09-06 01:41] msafi commented on #174
@gfviegas With regard to improving the docs, please feel free to send a PR anytime

[2016-09-06 01:42] andyrue commented on #179
I'm not having any luck with this. We might need to reach out to the Angular team for some advice.

For reference:
[Link](https://github.com/angular/angular/blob/d2ad871279c410334314def0be5c5d0599f4368e/modules/%40angular/forms/src/directives/shared.ts#L157) to file where error is triggered. If we could figure out why `hasConstructor()` is returning `false` we might get some where.

[Link](https:/

[2016-09-06 02:05] gfviegas commented on #174
@msafi guess that's the deal then.. ionic 2 on current version (beta 11) still on RC4.

[2016-09-06 02:07] msafi commented on #174
@gfviegas Hmmm, actually, come to think of it...I thought we fixed it for RC4 too. So, as long as you're on `angular2-text-mask@0.20.0`, you should be covered.

[2016-09-06 02:09] gfviegas commented on #174
@msafi I'm at 0.20.0, but still getting this error.. also I can type an extra character after the mask

[2016-09-06 02:13] msafi commented on #174
@gfviegas Being able to type an extra character after the mask is normal. That isn't visible to the end-user and if the bug is indeed fixed, the model shouldn't store that extra character either.

I tried setting up an Ionic 2 project with Text Mask before but couldn't get it to work. If you could set up a minimal project on GitHub and link it, I'd be happy to run it on my machine and take a close

[2016-09-06 02:15] gfviegas commented on #174
@msafi im gonna share my current app with ya

[2016-09-06 02:21] msafi commented on #179
Hmm, I guess for now we can create a new issue to track this bug. I'm gonna do that and close this one. Thanks for looking into this @andyrue!

[2016-09-06 02:21] #179 closed

[2016-09-06 02:26] msafi opened #197 "Using with `md-input` causes an error"
As mentioned in #179, using Material Design input, `md-input`, with Text Mask causes the following error

[code]

@andyrue pointed out that the error is triggered by Angular 2 in [this file](https://github.com/angular/angular/blob/d2ad871279c410334314def0be5c5d0599f4368e/modules/%40angular/forms/src/directives/shared.ts#L157) after a call to [this function](https://github.com/angular/angular/blob/

[2016-09-06 02:39] gfviegas commented on #174
@msafi  Here it is https://github.com/gfviegas/ionic2-text-mask-test

[2016-09-06 02:56] msafi commented on #174
@gfviegas I loaded the app and can confirm the bug. It seems that the directive is trying to set the model value correctly, but I'm not sure why it's not setting the value correctly.

@andyrue could you take a look please, I think the problem might be related to how @gfviegas  code is not using `FormControl` or `FormsModule` maybe?

You will need to `npm install -g ionic@beta` to run @gfviegas lin

[2016-09-06 03:31] gfviegas commented on #174
@msafi @andyrue ng2 has many way to use forms. This way im using is called FormBuilder, it's way better to validate stuff on the JS side and it's way more reusable.

I'm sorry for not pointing that you need the Ionic click installed globally, ive thought that the ionic2 project had the cli as a dev dependency.

I don't know much of the plugin neither of masks but I'll be glad to help on the Ionic/

[2016-09-06 09:55] avril-verhaeghen opened #198 "emailMask addon - has no exported member 'emailMask'"
Hi,

Installed text-mask-addons.
Imported emailMask into my component

`import { emailMask } from 'text-mask-addons/dist/emailMask.js';`

My mask:

`mask: Object = emailMask;`

In the HTML:

`[textMask]="mask"`

While compiling I'm getting

    Module '"C:/Develop/node_modules/text-mask-addons/dist/emailMask"' has no exported member 'emailMask'.

Not sure what I'm doing wrong here. Anyone has an i

[2016-09-06 11:49] andyrue commented on #174
The current project I'm using TextMask with uses FormBuilder as well with no problems, so I don't think that's the cause. Both methods result in a FormControl being created. Seems it's the same problem that's happening in #180. I'll play around with this tonight. @ihadeed is using this with rc.4 and Ionic 2 as well. Not sure if he can spot anything different between your project and his.

[2016-09-06 12:23] Scipionh opened #199 "Model starts as "dirty""
I have the following input :

[code]

however, when the page loads, it is loaded with dirty. After a quick look at the code, it seems to come from the writeValue.
Any reason why it isn't loaded with dirty=false ?

[2016-09-06 13:05] andyrue commented on #199
Strange. It only appears to be dirty if you're using ngModel and template-driven forms. FormControl and model-driven forms show up as `pristine`. Definitely a bug.

[2016-09-06 13:10] Scipionh commented on #199
It actually comes with both ng-pristine and ng-dirty which is really odd. Yes I am using template-driven forms.

[2016-09-06 13:22] dannysouza16 commented on #180
@msafi I Can't use RC5, angular universal isn't update to RC5. Anyone has a solution for this on RC4?

The plugin is already compatible with RC6? Angular universal will skip the RC5.

[2016-09-06 13:26] andyrue commented on #180
@dannysouza16 Yes, the TextMask plugin is compatible with RC6.

[2016-09-06 13:54] dannysouza16 commented on #180
@andyrue So I will wait the angular universal update to RC6. Tks

[2016-09-06 13:55] akz92 commented on #187
Is this bug about the mask not being applied when the FormControl is initialized with an initial value?

[2016-09-06 14:00] andyrue commented on #187
It was regarding the FormControl `input` not being populated at all if there was an initial value. The mask still functioned fine if you started typing but your initial FormControl value would get overwritten by the empty `input`.

[2016-09-06 14:08] akz92 commented on #156
I'm facing this issue using FormControl, if I initialize the FormControl with a value this value isn't formatted until I edit the input. I'm using version 0.20 on Ionic 2 beta.11 (Angular 2 rc.4).

[2016-09-06 14:14] billcolumbia commented on #192
Alright I made a first pass at it [here](https://github.com/billcolumbia/text-mask/tree/add-vue-directive/vue)

- I didn't make an example folder yet. Just running this runs the example itself.
- The directive is just one file. I took a look at the react and angular examples and they have split out the components as node modules. How would we go about publishing the directive as a node module? I s

[2016-09-06 14:36] msafi commented on #192
Sent you an email!

[2016-09-07 02:07] andyrue commented on #199
On initial load, we update the mask and write the value to the model. This is what's marking it as dirty. Seems we need to find a way to mark things as Pristine after initial load but I haven't found a place to successfully do that yet from within the directive.

[2016-09-07 02:10] andyrue commented on #187
@akz92 A piece of code got removed that was needed to mask the initial value. You found a valid bug. There's a PR open fix it. Thanks for finding that!

[2016-09-07 02:44] akz92 commented on #187
@andyrue I'm glad I could help. Thanks for taking a look, this plugin is helping me a lot.

[2016-09-07 03:24] msafi commented on #198
Hi @avril-verhaeghen,

The HTML should be `[textMask]={mask: mask}`

[2016-09-07 03:24] #198 closed

[2016-09-07 03:25] msafi commented on #192
Let's keep track of this effort in #201

[2016-09-07 03:25] #192 closed

[2016-09-07 03:52] ihadeed commented on #197
For reference, similar issue here: https://github.com/vaadin/angular2-polymer/issues/75

[2016-09-07 12:18] phoenix3008 commented on #199
I have the same problem

[2016-09-08 11:04] akiran opened #203 "problem with isNumber utility function"
I  am getting following error when 0 is entered in input field
[code]

Problem is in isNumber utility function
https://github.com/text-mask/text-mask/blob/master/core/src/utilities.js#L25
isNumber(0) returns false with this implementation

[2016-09-08 11:18] akiran opened #205 "support for negative numbers in createNumberMask addon"
Currently createNumbermask only supports positive integers and decimals.
Can we add support for negative numbers as well ?

[2016-09-08 12:57] gfviegas commented on #174
@andyrue Any luck?

I've failed to understand what's going on with the plugin on this scenario, can't figure it out what to do

[2016-09-09 03:08] #203 closed

[2016-09-09 03:09] msafi commented on #205
Thanks for the request. I'll look into that!

[2016-09-09 09:53] akiran commented on #205
It will also be help full if decimals can also start with dot.  Ex **.65**

[2016-09-09 13:08] Kerizer commented on #205
And it also would be great to set the limit. For example - 2 digits before comma, so after user pasted two digits it will set dot automatically

[2016-09-10 07:20] akiran opened #206 "Error for input types like input, email"
Errors are thrown in console when type='number' or 'email' is passed to MaskedInput react component

![screen shot 2016-09-10 at 12 48 20 pm](https://cloud.githubusercontent.com/assets/3403295/18408736/1a828146-7755-11e6-830c-41615c0890db.png)

[2016-09-10 16:26] browniefed commented on #206
You will need to use `type='text'`, those types do not supply a way to get the `selectionStart` (aka caret position).

[2016-09-10 17:43] msafi commented on #206
Hmmm, yeah, if DOM APIs don't provide a way to adjust the caret position of input types other than `type="text"`, this can be tricky. We may have to make a compromise.

How about we don't adjust caret position for input types other than text (and prevent all edits other than at the end of the value)? Or is it possible to change the input type from "email" to "text", adjust the caret, then change i

[2016-09-11 05:57] #205 closed

[2016-09-12 02:50] msafi commented on #206
Looks like there's no way around this. The only thing we could do is not adjust caret position for unsupported input types. But I don't think that's a good solution. I think it's better to let the library break for unsupported input types and only work with supported ones.

[2016-09-12 02:50] #206 closed

[2016-09-12 02:54] #180 closed

[2016-09-13 20:07] pstoica opened #215 "backwards input on Android < 4.4"
Hey! I had someone file a complaint with a Samsung Galaxy 6 Edge, which looks to be a recent Android 5.1 phone?

I wasn't able ton get more info, nor do I have the phone, but I tested this library with emulators using 4.2 and 4.3 and figured it might be a similar problem. When you come across decorative characters, it types the first letter and moves the cursor to the left of it.

Phone numbers fo

[2016-09-14 03:17] msafi commented on #215
@pstoica Thanks for the bug report.

I tried it on Samsung Galaxy Nexus with Lollipop and it's working fine. I realize Lollipop is newer than 4.4, but Android is at version 6 now, right? I don't think we can support that old of a version of Android.

Here's a video of what I tried

![recording](https://cloud.githubusercontent.com/assets/4027731/18498873/04ac39ce-79ef-11e6-90da-ce23618db4a1.gif)

[2016-09-14 03:17] #215 closed

[2016-09-14 03:40] hulkish opened #216 "Support Angular 1"

[2016-09-14 03:48] msafi commented on #216
Thanks for the request.

For now you can try to wrap the [vanilla component](https://github.com/text-mask/text-mask/tree/master/vanilla) in an Angular 1 directive.

And I'll look into making an official Angular 1 component...

[2016-09-14 03:53] hulkish commented on #216
thanks @msafi!

[2016-09-14 11:19] vadimzham commented on #191
I also requesting country code(1-3 symbols) in phone mask. Phone mask is one of main features but current syntax to realize this is terrible.

[2016-09-14 11:21] vadimzham opened #217 "[feature request] Ability to use unmasked value"
Current plugin have no feature to extract unmasked value. Will be perfect if here will be able to extract it. Like:
- We made masked input(like `+d (ddd) ddd-dddd` ).
- We using 'exctractRaw' function.
- We getting `ddddddddddd` value.

[2016-09-14 20:52] epogue commented on #217
👍 to this. I would love to be able to grab the raw value since we tend to store raw values in the database.

[2016-09-14 21:51] browniefed commented on #217
We don't do this on purpose because we don't know what the "raw value" technically is. There are too many use cases to deal with this which is why we require the user to do something like you've done to extract the value.

[2016-09-15 01:47] msafi commented on #217
@vadimzham @epogue This request is usually made by Angular 2 users (since this is an expected behavior in Angular apps), so in the Angular 2 README, we mention that [this feature is not supported along with a link that explains why we can't support it](https://github.com/text-mask/text-mask/tree/master/angular2#other-use-cases).

@vadimzham @epogue are you using Angular 2 or another framework?

[2016-09-15 07:46] #217 closed

[2016-09-15 13:22] epogue commented on #217
@msafi I use Ember and became accustomed to this when using jquery.inputmask. It's not a necessary feature since sanitization is fairly simple. Thank you for the README link! 👍

[2016-09-16 02:11] msafi commented on #217
@epogue Oh, I see. I'll also add the same note to the Ember README. Thanks!

[2016-09-16 02:14] msafi commented on #191
@vadimzham I don't quite understand what you're requesting? Could you explain please?

[2016-09-16 08:24] mzedeler opened #218 "Backspace before mask character"
In the US phone number mask demo, try this:

 * Enter "1234".
 * Press left arrow twice.
 * Press backspace.

Expected: the number "4" is deleted.
Actual: the cursor moves to the left.

And another scenario:

 * Enter "1234".
 * Press the left arrow thrice.
 * Press backspace.

Expected: the number "4" is deleted.
Actual: nothing happens.

[2016-09-16 14:52] mladlow opened #219 "Cursor position when controlled"
This library is great, and I'm hoping to be able to use it, but I need the React component to be controlled.

I'm trying to control a MaskedInput that uses the createNumberMask extension for currency values. When I add the standard value and onChange props, the cursor jumps around erratically while typing and deleting. I suspect this has to do with using defaultValue instead of value in the Masked

[2016-09-16 15:05] vadimzham commented on #191
@msafi sure. Below is example:
USA phone: +1 (555) 495-3947 - country code 1 symbol
Japan phone: +81 (555) 495-3947 - country code 2 symbols
Ukraine phone: +380 (555) 495-3947 - country code 3 symbols

I requiring to make universal mask where all these numbers will be valid.

[2016-09-16 21:48] lozjackson commented on #218
It does what I would expect.. the cursor moves to the left - what actually happens is that you delete the right-bracket and the mask puts it back again.. I think this is expected and not a bug.

Why do you expect it to delete the 4?

For me it deletes the 3, which is also what I would expect. (but if nothing happens then there is something wrong).

[2016-09-17 03:56] msafi commented on #218
Thanks for the report @mzedeler. If it's still unclear or there's a misunderstanding, please feel free to elaborate. I'll close this issue for now.

[2016-09-17 03:56] #218 closed

[2016-09-17 04:01] msafi commented on #219
@mladlow Thanks for your nice words!

The demo page is using React and the `MaskedInput` component. And it's a [controlled implementation with an `onChange` callback](https://github.com/text-mask/text-mask/blob/master/website/src/app.jsx#L30-L45), and the demo page works fine.

Could you please post a minimal example that has the bug that you've described?

[2016-09-17 05:37] karel1980 opened #220 "Input in reverse order on Android 5.0.2"
Looking at the demo page on mobile (Android 5.0.2) when I choose e.g. US phone number and I enter 123456 I get (654) 321 instead of the expected (123) 456.

[2016-09-17 16:34] msafi commented on #220
I tried it on Samsung Galaxy Nexus emulator which has Android 5.1 (Lollipop) and I don't have that issue (as you can see on this page #215) .

Could there be an issue in 5.0 that got fixed in 5.1?

[2016-09-17 21:40] mzedeler commented on #218
I know that what the user may expect can vary, but the UX people on my team expect that in both cases, the backspace button should actually delete a digit (and then the input field should reformat accordingly).

[2016-09-17 21:43] mzedeler commented on #218
Note that I'm referring to backspace - not the delete button.

[2016-09-17 22:01] msafi commented on #218
@mzedeler I think you mean "delete" not "backspace", right? (I just did a quick Google search to confirm the difference.)

If you are talking about the "delete" functionality of Text Mask, then yes, it's not ideal and it should be improved.

[2016-09-17 22:08] Ckearns1210 opened #225 "Angular 2 NgModule Support"
Trying to import MaskedInput and declare it in the NgModule decorator, like in the readme, gives me a TypeError.

[2016-09-17 22:09] msafi commented on #225
@Ckearns1210 Could you please confirm what version of `angular2-text-mask` you're using?

[2016-09-17 22:09] mzedeler commented on #218
Sorry about the confusion :-)

I'm referring to the button with the tiny text "delete" on it :-)

[2016-09-17 22:10] mzedeler commented on #218
Do you think that this can be improved? I've spent some researching various mask solutions and they all seem to have quirks like this one.

[2016-09-17 22:16] msafi commented on #218
@mzedeler Yes, it could be fixed but it'll require fundamental changes. I'm afraid I may not be able to get to that soon enough. For now, I'll add this as a known issue to [the documentation](https://github.com/text-mask/text-mask/blob/improve-docs/componentDocumentation.md).

[2016-09-17 22:46] mzedeler commented on #218
I think my company could be interested in sponsoring having it fixed. Should I find out if thats possible?

[2016-09-17 22:57] msafi commented on #218
@mzedeler Thanks for the offer! I don't think I can entertain such offer at the moment due to my other obligations, but if you have an engineer that can help with Text Mask, next weekend I may have time to show them how everything works and how they can fix this issue.

[2016-09-17 23:07] mzedeler commented on #218
Hmm. That engineer would be me :-/ And I don't really have enough time...

[2016-09-17 23:08] msafi commented on #218
@mzedeler lol, I guess we all could use more help 😄

[2016-09-18 17:03] PrimozRome opened #226 "Is this Vue 2.0 compatible?"
Would be good to know...

[2016-09-18 22:26] lozjackson commented on #218
ahh. i see... (I was trying the backspace key). now I tried again using the `delete` key and I see what your saying.. and I agree, its not the expected behaviour.

[2016-09-19 03:16] msafi commented on #226
Thanks for the question @PrimozRome

@billcolumbia is our Vue directive 2.0 compatible? If so, I can add a mention of that to the README?

[2016-09-19 03:17] #225 closed

[2016-09-19 12:52] billcolumbia commented on #226
@PrimozRome @msafi, the short answer is no. Once the 2.x docs are finalized I will refactor and make note on how 1.x/2.x of Vue should install different tags from this project.

In 1.x the `vm` is referenced differently for directives, so you'll get `Uncaught TypeError: Cannot read property 'vm' of undefined` if you try to use it with 2.x. Check out the [changelog](https://github.com/vuejs/vue/iss

[2016-09-19 13:14] PrimozRome commented on #226
@billcolumbia thanks bBill on your notes. That's why I asked as I assumed will not be compatible with 2.0. Would be nice to see though. Very good work. I will definitely use it once 2.0 ready.

[2016-09-19 14:23] mladlow commented on #219
Thanks for the example code. I was hoping to store the value as a numeric value instead of a string, so I was trying to store the prop by removing the commas from the string value. Removing the commas changed the indices and made the cursor jump around.

I've solved the problem by having the prop be a numeric value but storing an additional string in the component instance. The string value contro

[2016-09-20 00:30] #219 closed

[2016-09-20 03:10] #226 closed

[2016-09-20 03:11] msafiarchive opened #228 "test"
test

[2016-09-20 03:11] #228 closed

[2016-09-20 03:12] msafi commented on #220
@karel1980 I'll close this for now, but please send an update if you find more information. Thanks!

[2016-09-20 03:12] #220 closed

[2016-09-20 04:00] karel1980 commented on #220
Oops. Forgot to reply. Not sure if it is a bug with my Android version. Maybe with my keyboard implementation (phone is a Galaxy A3 and I am using stock android keyboard).
Otoh this is the first time I get this effect with this keyboard/phone.

[2016-09-20 04:02] karel1980 commented on #220
There it is... just tried with the keyboard from keepass2android and that works as expected.
Googling for similar reports with samsungs keyboard implementations now...

[2016-09-20 04:12] karel1980 commented on #220
Here is a very similar report: https://github.com/digitalBush/jquery.maskedinput/issues/280

No solution there either. I'll add a link back to here as well.

[2016-09-20 04:14] karel1980 commented on #220
No need to add backlink.Github does this automatically

[2016-09-20 08:37] mzedeler commented on #218
...can we reopen the issue?

[2016-09-21 02:51] msafi opened #230 ""delete" key doesn't work as expected"
The "delete" key (Fn + backspace on Mac) doesn't work as a user would expect. Needs to be fixed.

[2016-09-21 02:51] msafi commented on #218
@mzedeler I just created a new issue to track this bug here #230

[2016-09-21 09:06] mzedeler commented on #191
@vadimzham just note that many countries don't have area codes, so I'm not sure if this is easy to write. A danish phone number looks like this:

+45 23 45 67 89

[2016-09-21 09:25] mzedeler opened #231 "Re-rendering causes cursor to move in React component"
Every time the input field in re-rendered, the cursor moves if the cursor has at least one placeholder character to the left.

To reproduce:

 * Run the example below
 * Place the cursor between 4 and 5.

Expected: the cursor stays between 4 and 5.
Actual: the cursor moves all the way to the right in a few steps.

    class MaskTester extends React.Component {
      constructor() {
        super()

[2016-09-22 03:33] msafi commented on #230
More details in #218

[2016-09-22 08:58] futureinapps opened #233 "Changing state in React app not changing mask"
Hi, i have render masked input depending on state bool value, but when state bool value changed, mask not changes.

[2016-09-22 10:22] jdsusa opened #235 "Problem mask number"
I try to type my input has as mask : ` mask = ['7','0','3',' ', /\d/, /\d/, /\d/,/\d/, ]`
when I began writing the numbers if I start with the first digit of my mask as 7 in my example, I have to type 2 times the digit that appears in my input.
This happens with the first number for each mask.
my place holder : "703  _ _ _ _"

[2016-09-22 11:08] mzedeler commented on #233
Can you provide a sample?

[2016-09-22 11:11] vadimzham commented on #191
@mzedeler international phone number format is contry-code + 10_digits.
Here are only few countries that doesn't match that format.

[2016-09-22 14:16] futureinapps commented on #233
construcrot(){
      super();
      this.state = {secondMask:false};
}
render(){
     var mask1 = [.....];
     var mask2 = [.....];
     var {secondMask} =  this.state;
     return(
         <MaskedInput
                    mask = {secondMask?mask1:mask2}
                    .
                    .

           </MaskedInput>
     )
}

P.S. i wrote function that work for me
changeMask(){
     var

[2016-09-22 15:22] browniefed commented on #233
@msafi do we want to support changing masks on the fly?

[2016-09-23 03:56] msafi commented on #233
Maybe we want to support that in the future, but for now, it's not possible. I'll add a known issue to the documentation for this.

@futureinapps Can you use a separate component for each mask?

[2016-09-23 04:05] msafi commented on #235
@jdsusa Thanks for the question.

This is the intended behavior of Text Mask. I made it this way because I think when the user sees a placeholder such as `703____`, the user will intuitively enter `7` to match the first `7` in the placeholder. I don't think when the user enters `7` they'll want `7037___`.

The current behavior also makes it possible to paste a complete string like `703859` and hav

[2016-09-23 04:05] #235 closed

[2016-09-23 06:32] be4code opened #236 "Angular2 change() not working"
While using (change)="someFunction()" it is not fired while using textMask. After removing textMask everything works as expected.

[2016-09-23 08:53] mzedeler commented on #233
@futureinapps - replace the mask property with a function that returns the mask you want to use:

    const selectMask = value => <some condition> ? <mask 1> : <mask 2>;

    <MaskedInput mask={selectMask} ... />

Thats how I solved it.

[2016-09-23 08:55] jdsusa commented on #235
@msafi   Thanks for you answer.

I understand behavior of Text Mask but I would automatically put the following numbers after my mask regardless of the number.
If the user wants to insert a number 703 745, he can not because my mask blocking my figure 7.
what is the best way to get over my behavior?

[2016-09-23 10:22] futureinapps commented on #233
@msafi Yes i can, but i use function for changing mask.. like i wrote earlier.

[2016-09-23 10:56] mzedeler commented on #233
Just change this:

mask = {secondMask?mask1:mask2}

To this:

mask = {() => secondMask?mask1:mask2}

Thats all.

[2016-09-24 02:38] msafi commented on #233
@mzedeler That's a good solution!

[2016-09-24 02:49] msafi commented on #236
@be4code Thanks for the report, I'm not sure what's going on here. Would appreciate some help!

CC @andyrue

[2016-09-24 02:51] #231 closed

[2016-09-24 02:56] msafi commented on #235
@jdsusa Here's a trick that might work. Use the following mask:

[code]

The first character, `\u200B`, is a zero width space. So it won't effect how the mask is represented on the screen. And it will give you the behavior you want. But make sure that you strip it out before you send the value to your server.

[2016-09-24 15:41] akiran opened #238 "Input accepting characters that are not allowed by mask"
![screen shot 2016-09-24 at 9 06 06 pm](https://cloud.githubusercontent.com/assets/3403295/18809523/3d8156e4-829b-11e6-8798-44f5684bd151.png)

In the telephone number field of demo page, I was able to a alphabet even though only digits are allowed by mask.

[2016-09-24 23:16] #238 closed

[2016-09-25 12:56] be4code commented on #236
For me it's somehow connected to the way how you registerOnChange. In this case: http://almerosteyn.com/2016/04/linkup-custom-control-to-ngcontrol-ngmodel everything works properly when assign to (change).

[2016-09-25 16:08] msafi commented on #236
@be4code How can we fix this problem in [our component](https://github.com/text-mask/text-mask/blob/master/angular2/src/angular2TextMask.ts) you think?

[2016-09-25 21:07] mzedeler commented on #233
Thanks :-)

[2016-09-25 22:36] andyrue commented on #236
@be4code What's the context to your scenario? What action are you performing to trigger (change)?

[2016-09-26 05:46] be4code commented on #236
@msafi I've tried yesterday to fix this issue but for now without any success.

@andyrue Currently I was trying to console.log some string to show that `(change)` works.

[2016-09-26 11:52] andyrue commented on #236
@msafi It starts working when we remove the calls to `this.textMaskInputElement.update()` on lines 54 and 75. Does that give us any hints? I looked over the `createTextMaskInputElement` file but couldn't see anything obvious.

[2016-09-26 19:49] be4code commented on #236
@andyrue I guess that https://github.com/text-mask/text-mask/blob/master/core/src/createTextMaskInputElement.js#L157 somehow avoids natural angular input lifecycle (as we modyfing input event on the fly).

It's just a guess without any further investigation, it's just based on my little knowledge.

[2016-09-27 00:50] msafi commented on #236
@andyrue Thanks for looking into that.

@be4code I'll check this weekend how `createTextMaskInputElement` could be affecting Angular...

[2016-09-28 13:53] PerfectPixel commented on #236
It does not work as programatically changing the value of an input does not fire a change event. **This is not Angular2 specific**, you'll notice that it does not fire using vanilla javascript either.

The user may type and change the input, but the last interaction with the input is from the library, therefore, no event. jQuery notes this in their [docs](https://api.jquery.com/change/) and [MDN](

[2016-09-28 13:55] PerfectPixel commented on #199
As I ran into the same problem earlier today, I provided a fix that straightens out a few quirks with the handling of `ControlValueAccessor`.

[2016-09-28 13:58] be4code commented on #236
`(ngModelChange)` works like a charm :+1:
It would be nice feature if we can set a flag that determines if ngModel should contain invalid value or not (like ui-mask for angularjs allows us to do).

[2016-09-28 14:18] PerfectPixel commented on #236
@be4code
In principle that is possible, however, at the moment the core does not pass information about the validity of the mask. That information is necessary to conditionally call the `onChange` event that updates `ngModel`.

[2016-09-28 16:31] msafi commented on #236
Thanks for this information @PerfectPixel! I'll add it to the documentation.

[2016-09-28 18:02] PerfectPixel commented on #197
I don't believe there is a trivial solution here.

`textMask` and `md-input` are both custom ControlValueAccessors, which is forbidden because of (I guess) concurrency issues. I am unsure what a possible solution could be in this case...

[2016-09-28 20:10] gzoeller89 opened #242 "Needs fallback empty object to prevent Lightweight JSDOM used in Jest from throwing error"
To prevent Jest from throwing up when trying to snapshot the text input with a mask.

we just need to replace
`this.textMaskInputElement = createTextMaskInputElement({inputElement: this.inputElement, ...props})`
with
`this.textMaskInputElement = createTextMaskInputElement({inputElement: this.inputElement || {}, ...props})`

as a fallback so that the lightweight jsdom implementation wont blow up.

[2016-09-29 00:46] msafi commented on #242
@gzoeller89 Hmmm, I think Text Mask expects an HTML `input` globally. The solution that you suggested might fix the problem for now but it could easily break if the code begins to use more properties of `this.inputElement`. I'm not sure what the most appropriate fix is for this situation...

[2016-09-29 00:48] #199 closed

[2016-09-29 02:48] gzoeller89 commented on #242
I tried using a more robust polyfill in the snapshot functionality, but was
unsuccessful.

On Sep 28, 2016 8:46 PM, "M.K. Safi" <notifications@github.com> wrote:

[2016-09-29 16:27] florea-g opened #243 "Display bug"
When i write a date for exemple everithing works well but after i save my form and i return on my page i have something different:
Exemple :
12/06/1990---19/90/0612

[2016-09-29 16:34] msafi commented on #243
@florea-g Which framework are you using?

[2016-09-29 16:42] florea-g commented on #243
@msafi Angular2

[2016-09-30 20:00] gfviegas commented on #174
@andyrue  @msafi I've just upgraded to angular 2 final release and ionic 2 RC 0, and i'm still having this issue

[2016-10-01 03:36] msafi commented on #174
@gfviegas Are you using the latest `angular2-text-mask` as well?

[2016-10-01 11:35] jafaripur opened #244 "Error on new Ionic2 RC0 with AoT compiler"
After upgrading ionic2 to RC0 and using AoT compiler this error occurred in build time:

[code]

[2016-10-01 18:45] msafi commented on #244
@jafaripur What version of `angular2-text-mask` do you have installed when you get this error? Try `npm ls angular2-text-mask` to get the version

[2016-10-01 18:46] msafi commented on #243
@florea-g Could you provide steps to reproduce this?

[2016-10-01 18:56] jafaripur commented on #244
@msafi  ``angular2-text-mask@0.22.0`` I used the latest. This is the stack trace:

[code]

[2016-10-01 18:59] msafi commented on #244
I'm not sure what's causing that. Might be the way you're importing `angular2-text-mask` or something. Looks like the bundler is unable to find the exported module from `angular2TextMask.d.ts`

[2016-10-01 19:04] jafaripur commented on #244
Same issue in this topic about AoT compiler.

https://github.com/ocombe/ng2-translate/issues/218

After release Ionic2 RC0 some of packages break because the ionic use AoT build instead gulp.

[2016-10-01 19:11] msafi commented on #242
@gzoeller89 I'm not sure what the best solution is in this case. I'll close this for now since it seems to be outside the scope of Text Mask but if you have other ideas, please let me know.

[2016-10-01 19:11] #242 closed

[2016-10-02 00:54] rafaelss95 opened #245 "Error with Angular 2 + Angular Material 2"
I have a project built in Angular 2 + Angular Material 2 and I'm trying to use this library as below:

`<md-input type="text" placeholder="Quantity" [(ngModel)]="item.quantity" [textMask]="{mask: mask}"></md-input>`

Actually I'm getting the following error:

**PS:** I already tried to set a simple `name` attribute, but it doesn't change anything.

However if I try with simple `<input>` it works.

[2016-10-02 01:17] msafi commented on #245
@rafaelss95 Thanks for the report. Yeah, we can't figure out a way to support `md-input` yet. This is a duplicate of #197, so I'm gonna close it. Let's keep track of this issue there.

[2016-10-02 01:17] #245 closed

[2016-10-02 02:45] brunoosilva commented on #244
+1

[2016-10-03 08:33] florea-g commented on #243
I have a form which i send to api. When i recived the date is good , when i get it back in api controller in the JsonReult the date is good but when i look in the angular service is yyyy/MM/dd. Maybe is the browser language i don't know :(  I resolved by parsing the result and when i detect a dateString i will transform in dd/MM/yyyy and then i return the result. Is not the best methode but i didn

[2016-10-03 16:38] msafi commented on #243
@florea-g Hard to guess what could be happening. If you can provide a minimal project that demonstrates this issue, I'd be happy to look into it. I'll close this for now and will reopen if needed. Thanks!

[2016-10-03 16:38] #243 closed

[2016-10-04 01:58] goduhin commented on #244
+1

[2016-10-04 06:53] goduhin commented on #244
@msafi @jafaripur  Take a look this [article](https://medium.com/@isaacplmann/making-your-angular-2-library-statically-analyzable-for-aot-e1c6f3ebedd5#.ioa7rz44s)  I guess you need to have *.metadata.json for AoT complier. Also,  #2 in that article can resolve the issue.

[2016-10-05 04:10] gfviegas commented on #174
@msafi yes. The issue persists just like in my gif up there.

[2016-10-05 04:20] gfviegas commented on #174
@msafi @andyrue new repo with ionic RC 0:

just pull, install the packages and run ionic serve to test it
https://github.com/gfviegas/ionic2rc0-text-mask-test

[2016-10-05 16:42] msafi commented on #174
@gfviegas Thanks for making this example. I'll look into it this weekend.

[2016-10-05 20:49] fernandobandeira commented on #244
Another stacktrace:

cadastro.ts
[code]

app.module.ts
[code]

[code]

Works on ionic serve, not working when building it (ionic build android).

[2016-10-05 21:36] brunoosilva commented on #244
Look this : https://github.com/basvandenberg/angular2-select/commit/68b5c40373c06c9d288a630177584987fa7724b0 Maybe is a solution :/

I'm trying, but I still have problems, maybe because the core is uncoupled for ngc compile:
https://github.com/brunoosilva/text-mask

[2016-10-06 17:52] andrevcf opened #246 "With Ionic2 RC0, model not being updated correctly"
With Ionic 2 RC0, the model is one step behind what's actually being displayed on the input. The model is not getting updated correctly.

Sample code:

[code]

[2016-10-07 14:53] sarahkshows opened #248 "Not able to leverage Angular 2 input state of touched when using [textMask]"
Here's an example:
The email field's touched state will change when a user leaves the field, but the phone number never will. If the [textMask] attribute is removed from the phone number field, it will update as expect.

    <form #f="ngForm" novalidate>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" name="email" [ngMod

[2016-10-08 11:00] sc0ch commented on #246
same with me on vanilla-text-mask. it's a core bug.

[2016-10-08 18:42] msafi commented on #246
The issue here is that with some Angular 2 configurations (FormsBuilder, I think), the model doesn't get updated correctly.

If you how Angular 2 directives work, take a look the [source code here](https://github.com/text-mask/text-mask/blob/master/angular2/src/angular2TextMask.ts). The problem is that in the case of FormsBuilder, [this line](https://github.com/text-mask/text-mask/blob/master/angu

[2016-10-08 18:50] msafi commented on #244
@brunoosilva Thanks for trying to solve this.

During Text Mask's build step, the core gets bundled with the directive and everything gets added to `dist/angular2TextMask.js`, which is a UMD module, built by webpack, using [these configurations](https://github.com/text-mask/text-mask/blob/master/angular2/webpack.buildAngular2Integration.js).

[2016-10-08 19:50] #233 closed

[2016-10-08 19:51] #236 closed

[2016-10-09 04:45] mbellezi opened #250 "build with angular-cli and AOT compiler problems"
The default import statement for the directive as in the docs:

`import MaskedInput from 'angular2-text-mask'
`

is having problems with AOT compiler.

If I import as:

`import { MaskedInput } from 'angular2-text-mask'
`

I'm having errors building in dev or prod:

[code]

The default export seen to cause issues too.

If a import as:

`import { Directive as MaskedInputDirective } from 'angular2-te

[2016-10-09 11:52] PerfectPixel commented on #246
Could you provide a plunker showing the issue?

[2016-10-09 13:55] PerfectPixel commented on #250
#252 fixes the issue with the default export, however, it does not fix the AOT compilation issue.

So far, the plugin is not piped through the `@angular/compiler-cli` I had a brief look at it, but it requires a bit more configuration to bundle the core as well. I'll have a look at it soon if no one else gets around to do it.

This is basically the same issue as #244.

[2016-10-09 17:04] msafi commented on #246
@PerfectPixel [here's a minimal project](https://github.com/text-mask/text-mask/issues/174#issuecomment-251578219) posted by @gfviegas

[2016-10-09 17:06] msafi commented on #250
Let's keep track of this issue at #244, thanks!

[2016-10-09 17:06] #250 closed

[2016-10-10 10:49] PerfectPixel commented on #246
Well, I see _what_ is happening, not sure about the _why_ though...

[2016-10-11 03:30] #248 closed

[2016-10-11 03:32] msafi commented on #246
@PerfectPixel is there anything we can do about that, or what should be our course of action?

[2016-10-11 09:09] PerfectPixel commented on #246
Internally they just overrule the Value Accessor. Material brings their own value accessor which basically leads to a similar problem.

I am unsure what we could do. If we just manipulate the raw input element an emit input events for the value accessor to catch, it would fire multiple times leading to odd behaviour. I'll have a look, if there is the possibility to swap out the value accessor duri

[2016-10-12 15:30] vadimzham opened #253 "Angular 2: incomactible with AOT"
This package used with Angular 2 Ahead Of Time compilation makes build crash.

[2016-10-12 16:48] msafi commented on #253
Thanks for posting this. It's a duplicate of #244. Let's keep track of progress there. Thanks!

[2016-10-12 16:48] #253 closed

[2016-10-12 18:13] borisgastelu commented on #244
The problem persists with angular2-text-mask "1.0.1" in Ionic 2 RC0

In dev mode, I got this error:

`bundle dev failed:  Module /root/path/node_modules/angular2-text-mask/dist/angular2TextMask.js does not export TextMaskModule (imported by /root/path/src/app/app.module.ts) `

So I fixed this overriding `rollup.config.js`

[code]

But I have a problem when trying to build it. So in prod mode:

`ng

[2016-10-12 18:42] nihique commented on #216
@msafi hello, is there any progress on Angular1 verision or should I start looking at vanilla version?

[2016-10-13 04:11] msafi commented on #216
@nihique Hi, sorry there's no progress on this so far. Please feel free to use the vanilla version. Thanks!

[2016-10-14 04:57] AyzPat opened #254 "Angular2"
How to get an input field masked in angular 2??

Give me the directive format without using the text-mask

[2016-10-14 14:03] felipecm commented on #244
+1

[2016-10-14 17:00] msafi commented on #254
Hi,

Are the instructions here not clear? https://github.com/text-mask/text-mask/tree/master/angular2#angular-2-input-mask

Could you please explain what exactly is unclear about these instructions?

[2016-10-15 16:03] #254 closed

[2016-10-15 19:31] jebright commented on #143
I know this is marked as closed, but I took a look at the d.ts files and they are not typescript definition files.  They merely have:
declare var foo: any
export default foo

When I try to use these I cannot get them to work. Was this actually fixed?
I get this error: error TS2307: Cannot find module 'text-mask-addons'.

I'm using Angular 2.1.0 if that helps.  Overall text-mask is a really needed

[2016-10-15 19:52] msafi commented on #143
We just published an update to the addons which has broken the `autoCorrectedDatePipe` for TypeScript. I'll push a fix within the next couple of hours. Thanks for reporting this!

[2016-10-15 20:34] msafi commented on #143
@jebright I just published the fix.

Make sure you have the latest addons package installed, `text-mask-addons@1.0.1`, and then import and use `autoCorrectedDatePipe` as follows:

[code]

[2016-10-15 23:04] jebright commented on #143
@msafi , thank you for the assistance.  I got this to work now.  Pretty cool!  Here are the relevant steps in case that helps anyone else:

First, I put this in the relevant sections of my systemjs.config.js file:

`map: {
	...
	'angular2-text-mask': 'npm:angular2-text-mask/dist',
	'text-mask-addons': 'npm:text-mask-addons'
},`
`packages: {
	...
	'angular2-text-mask': { main: 'angular2TextMask.js'

[2016-10-19 08:10] vittaljk opened #256 "Doesn't support safari phone browser"
As soon as you start enter the cursor moves towards end of field and couldn't able to enter

[2016-10-19 08:12] vittaljk opened #257 "Automation test bug"
when you type very fast it breaks and this leads to execution of automation test case fail, since it inputs fast

[2016-10-19 15:17] mobilestar2015 commented on #244
I am using this library for my Ionic2 app and I faced same issue.
Is there Any solution?

[2016-10-19 16:48] fernandobandeira commented on #244
If you know how to fix this as he described then that's the solution, i'm not 100% sure on how to do it so i'm not creating a PR yet.

[2016-10-20 12:51] mobilestar2015 commented on #244
@fernandobandeira  I tried @borisgastelu 's method but it's still same.
So I used InputMaskModule in Primeng[https://github.com/primefaces/primeng/tree/master/components/inputmask](url) and it works fine.
Anyway, looking forward this issue is resolved in the near future.

[2016-10-20 17:24] dzamula commented on #244
@msafi shouldn't it just be compiled with ngc instead of tsc as described here: https://medium.com/@isaacplmann/getting-your-angular-2-library-ready-for-aot-90d1347bcad#.2sby5kwm5

[2016-10-20 20:56] sirius2013 opened #258 "TextMaskDmodule is not exported by node_module"
![image](https://cloud.githubusercontent.com/assets/5020713/19577637/a9b7dd7e-974a-11e6-9e12-9492d05526a0.png)
I got this error when try to import.

[2016-10-20 21:44] sirius2013 commented on #258
I fixed with this.
commonjs({
      namedExports: {
        // left-hand side can be an absolute path, a path
        // relative to the current directory, or the name
        // of a module in node_modules
        'node_modules/angular2-text-mask/dist/angular2TextMask.js': [ 'TextMaskModule' ]
      }
    }),

[2016-10-20 21:44] #258 closed

[2016-10-21 07:49] RoelRoel opened #259 "Does not work well with other decimalSymbol"
When you change the decimalSymbol to a , and the thousandsSeperatorSymbol to a . it expects the value to be formatted like this and it saves it in this format. But in computer languages decimals are allways stored the american way.
So now 2.95 becomes 295,00 in stead of 2,95...

[2016-10-21 13:16] hassanasad opened #260 "Error with angular-cli and AoT"
Hi,

I am using angular2-text-mask with angular-cli. When i try to build for the AoT using command `ng serve --aot` it gives this error:

[code]

Can you please make it compatible with AoT :)

[2016-10-21 15:26] fernandobandeira commented on #260
Possible duplicate of #244

[2016-10-21 15:30] hassanasad commented on #260
Oh yeah seems like it. Possibly better to follow that mature thread :)
Thanks!

[2016-10-21 15:30] #260 closed

[2016-10-21 21:00] msafi commented on #259
I'm sorry I don't understand the issue. Can you tell me the steps to reproduce this and what the expected vs actual result is?

[2016-10-21 21:03] msafi commented on #256
@vittaljk I just tested the website https://text-mask.github.io/text-mask/ on my iPhone 6 Plus running iOS 10. It works fine. Can you give more specific information about how you tested it and how it broke?

[2016-10-21 21:03] msafi commented on #257
@vittaljk I'm not sure what might be causing this. Can you please make sure that you upgrade to the latest package of the framework component that you're using?

[2016-10-21 21:07] msafi commented on #244
@dzamula I don't know if compiling with `ngc` instead of `tsc` would solve it or not. Can you try and let me know if you need any help?

CC @PerfectPixel

[2016-10-21 21:24] PerfectPixel commented on #244
@dzamula @msafi
The issue I faced with using `ngc` was that the core needs to be compiled as well and there were some hickups on the way. Unfortunately, I did not have the time to resolve them yet.

[2016-10-22 10:57] PerfectPixel commented on #259
I think it is about the stored value. If you swap the decimal and thousands separator from `1,000.00` to `1.000,00` the value stored will be `1.000,00` instead of `1000.00` as he expects.

However, in any case plain inputs parsed with Javascript will usually contain strings. So I do not see a real issue here as you always have to parse your input to get the value you are seeking.

[2016-10-22 16:55] #259 closed

[2016-10-22 21:46] jebright commented on #244
+1

[2016-10-23 18:16] ihadeed commented on #244
@msafi is someone taking care of this? or should I work on it?

[2016-10-23 18:18] msafi commented on #244
@ihadeed Doesn't look like anyone has a complete idea on how to fix it. Please feel free to take care of it and I'll be happy to assist in any way I can.

[2016-10-23 18:21] ihadeed commented on #244
@msafi It's an easy fix we just need to change the build process and use `ngc` from `@angular/compiler-cli` package instead of whatever we have now. I'll submit a PR soon.

[2016-10-23 18:23] msafi commented on #244
@ihadeed Looks like @PerfectPixel took a stab at that, but ran into problems because of how `core` is compiled. Anyway, let's see if it's fixable!

[2016-10-23 19:05] ihadeed commented on #244
@msafi

Yeah just had a look, I managed to compile it properly but it needs `../core` directory to be present. Which wouldn't work out for the NPM module.

We can maybe import the core library from the npm package instead of the relative path. It might complicate the build process but due to your project's layout, that might be our only option.

[2016-10-23 23:33] kkotak opened #262 "Height Mask"
Hi - I'm trying to create a simple height mask with Feet and inches like so-
[/\d/,' ft ',/\d/,/[0-2]/,' in']

And I get an error "cannot read value 'test' of undefined" while trying in the inches value.  It deems like it may be looking for a custom test() function. It is my understanding that for such simple regex, I wouldn't need to do anything custom.

Also, I can't figure out a way to create a

[2016-10-24 00:33] msafi commented on #262
@kkotak Sorry about the confusion. It's an issue with the documentation that I should probably fix. Each element in the array can only be one character. So, for your mask to work, try this

[code]

Regarding the gender mask, you'd have to create a [mask function](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#mask-function). Basically, the `mask` will be a function th

[2016-10-24 07:52] RoelRoel commented on #259
I'm sorry I was a bit unclear. I mean that the visible value string must be different from the underlying data. The data should always be a number just like PerfectPixel said.

[2016-10-24 10:08] PerfectPixel commented on #259
Are you talking about plain Javascript or Angular/another framework?

[2016-10-24 10:09] PerfectPixel commented on #244
@ihadeed
I ran into the same issue.

@msafi
what do you think about splitting the project into separate repositories? One for the core and then directives/functions for each framework.

[2016-10-24 10:51] fernandobandeira commented on #220
Just posting this in case someone come here searching for a fix,

The problem actually happens with the samsung keyboard and his autocomplete function so to reproduce this issue you need to use the samsung keyboard with the autocorrect enabled, the cursor will always go to the begining after you insert any character so you'll literally type anything backwards 123 turns into 321.

You can fix this

[2016-10-24 16:05] kkotak commented on #262
Thanks for the prompt response @msafi and the repo. Your suggestion of course worked. I was curious if there is an option to allow a max number. For example in the 'in' part of the height I should be able to only enter a number from 0 to 12. Thanks again.

[2016-10-24 19:44] ramonornela commented on #244
@PerfectPixel +1
Best form is separate and manage dependencies with **peerDependencies**

[2016-10-25 03:56] msafi commented on #244
@PerfectPixel @ihadeed I don't understand how putting things in separate repositories will help? It is still possible to import `text-mask-core` into the Angular 2 package, even with the current setup. With that said, I would still like to avoid having to import from npm and would rather do direct file system import (which is what's being done today).

By reading [the article linked](https://mediu

[2016-10-25 04:05] msafi commented on #262
@kkotak I'm afraid doing things like accepting a value from 0-12 would require you to write your own mask function. With regard to sanitizing the model, we leave that to the developer because it's kind of hard to implement in a way that satisfies all use cases on the library side.

[2016-10-25 04:05] #262 closed

[2016-10-25 04:05] #257 closed

[2016-10-25 04:05] #256 closed

[2016-10-25 04:12] msafi commented on #259
@RoelRoel Yeah, as @PerfectPixel said, you're expected to format, parse, and store the visible value in anyway you like. Text Mask doesn't change the visible value to the model directly without doing anything with it. We intentionally don't manipulate the stored value in anyway.

[2016-10-25 09:24] ramonornela commented on #244
@msafi
AoT depends typescipt 2.0 the tsconfig should be adjust, start repo isolate [github](https://github.com/ramonornela/angular2-text-mask)  and [npmjs](https://www.npmjs.com/package/@ramonornela/angular2-text-mask) but text-mask-core hit me (I think that can rewrite in typescript 2 and eliminate the babel).
In case not separate think each folder should be thought of as a module see [angular2](

[2016-10-25 22:51] ihadeed commented on #244
@msafi

I could be wrong here, I haven't caught up with the latest build tools and I might be missing out on something. But here are my thoughts according to what I know:

First of all, we have this issue because we weren't publishing `.metadata.json` with our bundle. That is the file that `ngc` needs in order to successfully import your component/service/module in an Angular 2 app. That file is g

[2016-10-26 01:06] ramonornela commented on #244
@msafi @ihadeed fix in project example https://github.com/ramonornela/ionic2-text-mask using temporary repository https://github.com/ramonornela/angular2-text-mask

Thanks

[2016-10-26 01:11] msafi commented on #244
@ihadeed The structure you're proposing makes sense and it's a good alternative to what we currently have. However, the problem we are facing is not related to the structure of the project. It is entirely possible to create `/core` with typings and `/dist` directory and publish that to npm. Then the Angular 2 component can import the npm package rather than what it is doing today (importing from t

[2016-10-26 02:31] ihadeed commented on #244
In #261 I imported from the npm package `text-mask-core`. I still ran into issues though, but I think they would go away as long as we compile the core package with typings.

Another thing you can do is publish text-mask as one library instead of separate ones. So we would just do `npm i text-mask` and import from `text-mask/angular2`.

[2016-10-26 14:04] jpmsegurado opened #263 "Problems with the cents on the number currency mask"
I think when the mask requires decimal, when the user types the 2 first numbers, they should be the cents digits. Because right now the user have to type to the right to put the cents.

[2016-10-27 04:27] msafi commented on #244
I found [this repo](https://github.com/blacksonic/angular2-aot-webpack) which shows an example of how to do AoT compilation with webpack. But since Text Mask is half plain JS and half TypeScript, I'm not sure what's the right way to compile it. I posted an [issue here](https://github.com/blacksonic/angular2-aot-webpack/issues/21) to ask about that.

[2016-10-27 21:38] wlingke opened #264 "Max digits for createNumberMask"
Would be nice if there was some sort of max digits for createNumberMask!

[2016-10-27 22:04] fernandobandeira commented on #263
So you are actually requesting a reverse attribute to make the mask work in the inverse order,

There's an example [`here](http://www.jqueryscript.net/demo/jQuery-Currency-Input-Filed-Mask-Plugin-maskmoney/) of how this should work.

[2016-10-28 02:39] jpmsegurado commented on #263
That's exactly it. I would be very glad to see that feature. And I really believe other people too.

[2016-10-29 13:28] ghetolay commented on #230
@msafi I could help resolve that If you can get me on tracks of what needs to be done precisely.

[2016-10-29 20:02] msafi commented on #230
@ghetolay It's not an easy thing to solve without first having a better understanding of how Text Mask generally works and how the algorithms that do text masking and cursor position adjustment work. If you're really interested, we can get on a screen-share call and I can explain those things to you. But I can't help much more than that as I'm pressed for time at my day job.

[2016-10-30 19:05] ihadeed commented on #244
@msafi Another reason to break this big repo into smaller repos:

I just opened the project on a fresh Windows install, using WebStorm 2016.3 EAP. My IDE indexed the project on first launch as usual, and then decided to treat the whole project as a JSX (React) project. This means I would have to manually change the project settings to match what I'm working with (ES2015 or JSX or ES5).

Not a big

[2016-10-31 11:06] ghetolay commented on #230
I've look a bit into the code, bad thing is you publish minified code without sourcemaps so it's hard to see how it run. Now good thing is code is very well commented so I was able to easily look into it.

But even before going into code, how do you see this working ?

Let's take an example : an input with `_` placeholder, 2 characters already filled in and our cursor at the start (| = cursor)
`|a

[2016-10-31 14:47] msafi commented on #230
@ghetolay It should work like a normal text field. If, in a normal text field, you had the following situation: `|ab`, then you used the delete key, you would end up with `|b`. So in the case of Text Mask with a placeholder `_`, the following is **good**...

[code]

In fact, that's how it works today. You can try it in the "US zip code" example [here](https://text-mask.github.io/text-mask/). You w

[2016-10-31 15:08] intellix opened #265 "Regex quantifier support"
I'm looking at creating a credit-card mask, for a simple Visa/Mastercard, I can create a mask like:
[code]

But I feel like it would be prettier/simpler if I could specify quantifiers (4 digits x 4):
[code]

Any thoughts on this? At the moment it looks like I'll have to create an add-on which accepts a variety of card types and returns an array of single-digit regexes

[2016-10-31 16:12] ghetolay commented on #230
Ok we are not talking about the same issue. I was working with the date and auto-correct. When you use the auto-correct addon the suppr won't work as expected.

I think my problem is about placeholders and it may be personal but
`|b_` is a weird state for me. The mix of cursor and placeholder confuse me as I don't know if the next char I'll enter will be before the b (on cursor position) or after

[2016-11-01 03:36] msafi commented on #265
@intellix Thanks for the suggestion!

With the mask array, I chose simplicity of implementation over developer convenience because creating these masks is a one time cost to the developer, but adding more accepted regexes could mean bigger code base, which would be repeated cost to end users.

With regard to making a dynamic mask for different credit card type, yes, I think you need a [mask functi

[2016-11-01 14:52] sinegovsky-ivan opened #266 "Ability to set cursor to certain position"
Hello!

I need ability to set cursor to second symbol.

For example, i have the mask: ['+', '7', '(', /\d/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/];

i want, if the input field is empty, after focus, cursor will be in second position (after +7)

[2016-11-01 22:45] ameech opened #267 "Disable masking"
After looking around in the documentation, there doesn't seem to be a way to disable masking. I'm currently building a react component and I'd like to only apply a mask if it's specified.

I was able to get it working by doing something like:
[code]
but that feels a bit dirty and isn't ideal.

There is the option of just using a regular input unless a mask is specified, but not sure I'm a fan of t

[2016-11-02 03:27] msafi commented on #267
Hey @ameech, I think it doesn't make a lot of sense for us to make `MaskedInput` work as a regular input in the absence of a `mask` property.

I think the best way to go about it is to create a wrapper over `MaskedInput` that will call `MaskedInput` when there's a mask, and call regular `input` when there isn't.

One other thing: while `MaksedInput` is fully compatible with a regular `input`, ther

[2016-11-02 03:27] #265 closed

[2016-11-02 03:32] msafi commented on #266
@sinegovsky-ivan I'm not sure how to best provide that feature. If you can get a hold of the `input` element, maybe you can call [setSelectionRange](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/setSelectionRange) on it yourself?

[2016-11-03 03:12] #267 closed

[2016-11-03 03:12] #266 closed

[2016-11-05 16:00] PerfectPixel commented on #216
@msafi have a look on #269

[2016-11-05 18:55] msafi commented on #244
@ihadeed Now that we moved almost all of Angular 2 dependencies to to `angular2/package.json` in #261, you can open your WebStorm project in `angular2/` instead of the root of the repository, and it should work fine :P

[2016-11-05 19:15] msafi commented on #244
@ihadeed @PerfectPixel I just published `angular2-text-mask@2.0.0` which has our work in #261 and I tried to set it up with the project from [this repo](https://github.com/qdouble/angular-webpack2-starter) as mentioned at the bottom of [this article](https://medium.com/@isaacplmann/getting-your-angular-2-library-ready-for-aot-90d1347bcad#.rvpfg3ryd), but I'm still getting:

```Error: Unexpected va

[2016-11-05 23:36] PerfectPixel commented on #244
@msafi I just tried it with a clean repository and it works like a charm.

[2016-11-05 23:53] msafi commented on #244
Looks like this issue is solved then. Closing!!!

[2016-11-05 23:53] #244 closed

[2016-11-07 16:34] Nrvax commented on #246
Any updates on this? Actually switching to Ionic RC2, got this error :

1. If 'ion-input' is an Angular component and it has 'textMask' input, then verify that it is part of this module.
2. If 'ion-input' is a Web Component then add "CUSTOM_ELEMENTS_SCHEMA" to the '@NgModule.schemas' of this component to suppress this message.

[2016-11-07 16:52] PerfectPixel commented on #246
Well it won't work as we have colliding custom value accessors. There is no easy way around this.

The error message, however, points to an incorrect import. Which version of angular2-text-mask are you using?

[2016-11-07 18:25] andreynering opened #271 "Existing value is not being masked"
It works once the user add or remove any character, but I think the existing value should be properly masked.

I'm using the Vanilla JS version

[2016-11-07 19:30] PerfectPixel commented on #271
This is indeed happening. We could just call update once everything is setup @msafi

[2016-11-08 02:35] msafi commented on #271
@PerfectPixel I don't see a problem with that approach.

[2016-11-08 02:56] andresmatasuarez opened #272 "Cannot mask non-input value"
Hi guys, first of all thanks for developing this library. Its simply great. However, I came across a use case in which I think this library may be improved.

Let's suppose I have an US phone mask input. I enter the phone, I submit the form and save the data in the database. Suppose also that for some totally valid and common reason, I want to display that phone data outside any input or form (the

[2016-11-08 03:41] msafi commented on #272
Thanks for the request @andresmatasuarez. We could probably expose the [`conformToMask`](https://github.com/text-mask/text-mask/blob/master/core/src/conformToMask.js) function from `core`. It'll add 0.05kb to the overall size of the React component though :)

[2016-11-08 03:56] andresmatasuarez commented on #272
@msafi thanks for the quick reply. Yeah, I think that would be awesome. Please let me know if I can be of any help. It appears to be a pretty straightforward solution (just export the function), but let me know if I can do something to have this as soon as possible.

[2016-11-08 09:04] ramonornela commented on #244
@PerfectPixel working in repository separate too until fix see https://www.npmjs.com/package/@ramonornela/angular2-text-mask

Thanks

[2016-11-08 09:05] Nrvax commented on #246
Yes, thanks for pointing it out, i was still using text-mask 1.0.1,
Ignore the error message, it was a misconfigured NgModules.

[2016-11-08 10:28] PerfectPixel commented on #272
I like it. I guess we should do it for all flavors, not only react.

[2016-11-08 10:31] PerfectPixel commented on #244
until what fix?

[2016-11-08 12:44] Nikolay-Uvarov opened #273 "XHR error (404 Not Found) loading http://localhost:3000/text-mask-core/dist/textMaskCore(…)"
I have a problem with import text-mask.

systemjs.config
[code]
app.module.ts

[code]

[2016-11-08 13:13] nikoTM opened #274 "Unable to create a mask with given length ( Ionic RC 1 )"
I am trying to create a mask  'X-X-X-X', but character length is being ignored.
[code]
[code]
You can write double digits in any field with /\d{1}/, but only one in the input.
Mask is being treated like this:
Input: 1-2-3-4, Model: 1-2-3-4_

[2016-11-08 13:21] andresmatasuarez commented on #272
isn't exporting just a function an all-flavor solution by default?

[2016-11-08 13:47] fernandobandeira commented on #244
I'm getting the

[code]

Tried with a clean project using the following command:

[code]

package json
[code]

app.module.ts
[code]

Compiles normally without the TextMaskModule =X

[2016-11-08 14:06] PerfectPixel commented on #272
Not necessarily, the angular-way would be a pipe / filter. A single function is not enough, except you just wrap the value in the controller.

`{myValue | textMask: myMask}`

[2016-11-08 14:08] PerfectPixel commented on #244
@fernandobandeira
`TextMaskModule` belongs in the `imports` array not in the `declarations` array.

[2016-11-08 14:11] andresmatasuarez commented on #272
Yeah, sure, but by just exporting the function you ensure 100% flexibility for the developer. Then, you can ALSO export an Angular filter, or a <DisplayMasked /> React component, which would be great, but the main idea I think is to keep the core function exposed

[2016-11-08 14:14] PerfectPixel commented on #272
I have no clue about react, I was under the expression `{applyMask(US_PHONE_MASK, value)}` is already some kind of react magic ;-)

Yes, we should expose the function in core and add components for react, angular, ...

[2016-11-08 14:15] PerfectPixel commented on #273
Could you post the full error message in the issues body? The headline gets cropped...

[2016-11-08 14:20] andresmatasuarez commented on #272
`{applyMask(US_PHONE_MASK, value)}` is just a call to `applyMask` function (whose real name is actually `conformToMask`). That function is the core function, no framework-sugar, no nothing.

I agree with that. Expose React/Angular/Whatever components/helpers, but also expose the core function so anyone using the library can get the "raw experience" if they so wish :D.

[2016-11-08 14:23] Nikolay-Uvarov commented on #273
Yeah, i can.
![error](https://cloud.githubusercontent.com/assets/22148553/20102631/d6c31266-a5d7-11e6-89a2-e26c04a2fb91.JPG)

[2016-11-08 18:32] msafi commented on #272
@andresmatasuarez For now, you can include `text-mask-core` package in your project. That package exposes the functions in [this file](https://github.com/text-mask/text-mask/blob/master/core/src/index.js), of which `conformToMask` is one. Then you can import like this

[code]

After we publish `conformToMask` with the components, you will only have to change the dependency and the import.

[2016-11-08 19:30] PerfectPixel commented on #273
You'll need to include the core as well as systemjs does not pull dependencies:
http://plnkr.co/edit/NEB5JkLB1wA4sZMn2t7J?p=preview

[2016-11-08 19:45] Nikolay-Uvarov commented on #273
Thanks a lot! Now it works

[2016-11-08 22:59] #273 closed

[2016-11-09 02:48] #271 closed

[2016-11-09 02:51] msafi commented on #271
@andreynering We've just published `vanilla-text-mask@1.0.0` which should mask initial behavior

[2016-11-09 03:04] msafi commented on #274
@nikoTM You don't have to specify `{1}` in the regex. Each element in the mask array can only accept one element anyway. I think the problem you're having is related to the model not being updated correctly, which is the same problem as issue #246.

What do you think @PerfectPixel?

[2016-11-09 07:32] Nikolay-Uvarov opened #276 "I have a problem with text-mask-addons (emal)"
Hello!
![email-addon](https://cloud.githubusercontent.com/assets/22148553/20130269/c3378a80-a666-11e6-9a6f-8ab8a48828a9.JPG)

systemjs.config
[code]
clients.component.ts
[code]
clients.component.html
[code]
PhoneMask works, but emailMask doesn't.

[2016-11-09 10:06] andreynering commented on #271
Thank you, I confirm it works now.

[2016-11-09 11:21] PerfectPixel commented on #274
I am surprised that it works at all. I guess I'll have to set up Ionic for a test run.

[2016-11-09 13:52] ktriek opened #277 "Unable to create a US phone number with extension"
Is it possible to make a part of the mask array optional, that would be so helpful.
This mask ` ['(', /[1-9]/, /\d/, /\d/, ')', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/, /( x\d{1,6})/ ]` is not working for US phone numbers with extension such as `(123) 123-4567 x123`

[2016-11-09 18:02] msafi commented on #276
@Nikolay-Uvarov What happens if you import the `emailMask` as such:

[code]

[2016-11-09 18:21] Nikolay-Uvarov commented on #276
@msafi The same promlem

[2016-11-10 04:35] msafi commented on #277
@ktriek Thanks for this request!

You would need to use a [mask function](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#mask-function) for that.

You would create a mask function that returns a phone number mask until the user has entered a complete phone number, then if the user enter's an `x`, the mask function would expand the mask to accept more characters.

I'm

[2016-11-10 04:42] msafi commented on #276
@Nikolay-Uvarov I'm not sure what's going on here. I can try it during the weekend to see if I encounter a similar issue. And if you can create a minimal project that reproduces this problem, that would help too.

[2016-11-10 15:42] kinkaz commented on #244
Hi,

I'm trying to get AOT working on my project but am facing the following error with Rollup :

`Export 'TextMaskModule' is not defined by '/Users/tim/Dev/l-pittet/aot/app/app.module.ngfactory.js'`
`'TextMaskModule' is not exported by node_modules/angular2-text-mask/dist/angular2TextMask.js (imported by app/app.module.js).`

The script I'm doing is : `ngc -p tsconfig-aot.json && rollup -c rollup

[2016-11-10 16:03] PerfectPixel commented on #244
@kinkaz
Could you open a new issue please and also provide your rollup-config.js? We'll have a look at it.

[2016-11-10 16:58] fernandobandeira commented on #277
There's an example here:

[code]

Just change the if and the masks and you are good to go =) Then in your input:

[code]

[2016-11-10 17:10] rafaelgoulart commented on #263
+1

[2016-11-10 17:55] andresmatasuarez commented on #272
@msafi @PerfectPixel good! Please let me know if I can be of any help in getting this released

[2016-11-10 18:22] kinkaz opened #278 "AOT Rollup : 'TextMaskModule' is not exported by node_modules/angular2-text-mask/dist/angular2TextMask.js"
Hi,

I'm trying to get AOT working on my project but am facing the following error with Rollup :

Export `'TextMaskModule' is not defined by '/path-to-project/aot/app/app.module.ngfactory.js'`
`'TextMaskModule' is not exported by node_modules/angular2-text-mask/dist/angular2TextMask.js (imported by app/app.module.js).
`
The script I'm doing is : `ngc -p tsconfig-aot.json && rollup -c rollup-config

[2016-11-10 18:23] kinkaz commented on #244
Thanks, done : #278

[2016-11-11 13:16] Nikolay-Uvarov commented on #276
@msafi https://github.com/Nikolay-Uvarov/email-text-mask

[2016-11-11 20:44] PerfectPixel commented on #276
This works, however, it does not feel right:

[code]

[2016-11-11 20:50] seanareed commented on #263
Maybe related: (v ^1.0.1, createNumberMask addon):

With just one digit entered, pressing the period key jumps the cursor to the right of the decimal.

When the user enters more than one digit, they all remain left of the decimal, and pressing the period key does nothing.

Is this the intended behavior?

Perhaps if the period key always jumps the cursor to the right of the decimal, and all other d

[2016-11-12 19:26] msafi commented on #277
Thanks @fernandobandeira!

[2016-11-12 19:26] #277 closed

[2016-11-12 20:06] msafi commented on #276
@Nikolay-Uvarov With your given example, I made the following changes to make it work:

`system.config.js`:

[code]

`app.component.ts`:

[code]

[2016-11-12 20:07] #276 closed

[2016-11-12 23:40] msafi commented on #272
@andresmatasuarez We just published `react-text-mask@0.19.0` which has `conformToMask`. It's documented [here](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#included-conformtomask).

I'll close this for now but please feel free to continue to post!

[2016-11-12 23:40] #272 closed

[2016-11-13 01:05] msafi commented on #216
We've published integration for Angular 1. Details [here](https://github.com/text-mask/text-mask/tree/master/angular1)!!

[2016-11-13 01:05] #216 closed

[2016-11-15 00:05] andresmatasuarez commented on #272
Thanks man! Works smoothly

[2016-11-15 03:56] jensengar opened #280 "angular2/ionic2 dynamic mask updates"
I see to be having issues updating the mask dynamically. For example, I'm trying to use this to mask a credit card number and I'm changing the mask when I detect American Express, however the input doesn't reflect it. Is there something I need to do or is this not supported?

[2016-11-17 04:41] msafi commented on #280
@jensengar Thanks for your question! It's not possible to update the mask after initialization as you can see in the documentation [here](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#updating-the-mask-or-other-values-after-initialization). The way to achieve what you want is to you use a [mask function](https://github.com/text-mask/text-mask/blob/master/componentDoc

[2016-11-17 04:41] #280 closed

[2016-11-17 12:33] adz commented on #263
@seanareed just noticed this same behavior. I think it's unexpected that entering a period doesn't always shift the cursor to the right...  otherwise working great

[2016-11-17 12:35] evolve2k commented on #263
I agree with @seanareed @adz pressing the period key within the input signifies the user wants to add decimal numbers and the cursor should always move to the right of the period to facilitate then entering decimal numbers.

[2016-11-17 18:11] infernobass7 commented on #226
Has this been updated for Vue 2.0 yet?

[2016-11-17 18:59] billcolumbia commented on #226
@infernobass7 not yet. We have a fix but we're discussing which way to go in #268. I have a branch that I tested in chrome, I just need finish testing and get with MK on versioning. If you need support _immediately_ - vanilla plays nice with Vue.

[2016-11-17 22:24] msafi commented on #263
Folks, when I test on [the website](https://text-mask.github.io/text-mask/) with the "US dollar amount (allows decimal)" configuration, it works as expected. Even after multiple numbers, entering a period allows the user to immediately start entering the decimal portion of the number. Am I missing something?

[2016-11-17 22:31] PerfectPixel commented on #263
@msafi This is about filling out the amount in reverse. You start from the right `54321` becomes `123,45`in the mask and not `543,21`.

[2016-11-17 22:33] adz commented on #263
I've since noticed it is less of an issue when require decimal is set to false. I can reproduce even then by backspacing over cents, then arrow left over the ".", then hitting ".".

-----Original Message-----
From: "M.K. Safi" <notifications@github.com>
Sent: ‎18/‎11/‎2016 8:54 AM
To: "text-mask/text-mask" <text-mask@noreply.github.com>
Cc: "Adam Davies" <adzdavies@gmail.com>; "Mention" <mention@n

[2016-11-18 04:00] msafi commented on #263
@PerfectPixel What makes you think that that's what's being requested? I don't see how that's useful.

[2016-11-18 10:33] evolve2k commented on #263
@msafi turn on **requireDecima**l and you should be able to reproduce the issue.

[2016-11-18 11:20] PerfectPixel commented on #263
@msafi I just read the first two posts...

[2016-11-18 17:18] ipassynk opened #281 "conformtomaskrawvalue-mask-config documentation"
in https://github.com/text-mask/text-mask/blob/master/core/README.md#conformtomaskrawvalue-mask-config documentation:

"mask (string): the mask to which you want the string to conform."

SHOULD BE:

"mask (array): the mask to which you want the string to conform."

[2016-11-18 18:43] fernandobandeira commented on #263
I suggested the reverse typing approach since it's actually popular in my country and if you check this quote it seems that this is indeed what he's requesting.

Jumping to the right of the decimals when pressing the ``` decimalSymbol ``` character should also solve it, it seems that this isn't working in some circunstances as ppl commented though.

[2016-11-18 18:50] fernandobandeira commented on #220
Adding more info, it looks like this can be fixed by changing how the caret position is adjusted, i'm not familiar with the package so i'm not sure when i'll be able to have a spare time and fix this,

Theres a PR that fixes this exactly same issue on a jQuery mask: igorescobar/jQuery-Mask-Plugin#464, maybe checking their solution could help a bit...

[2016-11-18 21:14] seanareed commented on #263
@msafi You're right: The "US dollar amount (allows decimal)" on the website works exactly as I expected.

I'm using the Angular 2 package, with the following configuration, and it's behaving as I described.

[code]

[code]

[2016-11-19 18:59] msafi commented on #263
So there seems to be two different issues in this thread.

1. The original post is requesting that the first key presses start filling out the decimal portion of the number, not the integer portion.
1. With the `requireDecimal` setting, the cursor doesn't jump to the decimal portion when the user enters a decimal

No. 1 is a feature request. No. 2 is a bug.

I just merged a fix for no. 2 in #282 a

[2016-11-19 19:02] msafi commented on #281
@ipassynk Thanks for this correction. I'm aware that that page is out of date and inaccurate.

I'm curious about what you were looking for on that page, why were you reading it?

[2016-11-19 19:09] msafi commented on #220
@fernandobandeira It looks like they're opting for an old technique for caret positioning, that is supported by old IE browsers? The PR is removing the logic that chooses between which of the two caret positioning techniques should be used, and always uses the IE one.

[2016-11-19 21:28] ipassynk commented on #281
i am working with angular 2 and use text-mask for some inputs. these inputs are dollar amount and i have limit max and min values for them. so i have to validate input and if the new value is out of range i need to get the previous value from a store, apply mask (conformToMask) and put the old masked value to dom. so i was reading this page to understand how conformToMask works together createNumb

[2016-11-19 23:29] soupman99 opened #284 "Cursor jumping to end of input"
Running into an issue where the cursor jumps to the end of the input mask and will not allow any additional characters to be input beyond the first.

Any idea on what to dependency conflict could be causing this?

[2016-11-19 23:45] msafi commented on #284
@soupman99 It's hard to say without additional looking at the project where this is happening. If you can create a minimal project where this is happening, I might be able to take a look.

[2016-11-20 00:10] msafi commented on #281
@ipassynk Yeah, sorry about that. That page is intentionally not maintained to minimize the general upkeep overhead of the project. I've added a [bigger warning](https://github.com/text-mask/text-mask/blob/master/core/README.md#-the-documentation-below-this-point-is-out-of-date-and-could-be-inaccurate) on the page that's hopefully harder to miss.

But since Text Mask seems to have stabilized for t

[2016-11-20 00:11] #281 closed

[2016-11-20 03:28] evolve2k commented on #263
@msafi awesome, thanks for fixing #2. Greatly appreciated.

Regarding #1, I think the convention should remain as integers-first, this is expected behavior that matches number input fields in excel and Google sheets for example. That said it seems the desire to be decimal-first is region specific.

I am against changing to decimal first as the default but think that decimal-first can definitely be

[2016-11-20 14:06] seanareed commented on #263
@msafi That's great, thanks!

[2016-11-22 11:07] fernandobandeira commented on #220
@msafi Yes, this solves their problem since ``` setSelectionRange ``` is causing the issue, the function does exists on the browser but it's not reliable, so they fixed it this way.

I've recorded a video showing the issue on the website, check it:
https://drive.google.com/file/d/0B5j7CzpTIt5BVTJGRWRmUTV1dFU/view?usp=sharing

[2016-11-23 00:00] #284 closed

[2016-11-23 01:51] simb opened #287 "Initial formatted value not set to model"
Perhaps I am misunderstanding the point of how this component works.  So let me explain my scenario and see if I can get on the right path.

I am using angular 2, and we are using the text-mask component to format dates, SSN and phone numbers.

Much of the data in the system is not formatted correctly, hence the need for this library.

When I supply a SSN mask that should like like "333-22-4444" a

[2016-11-23 04:21] simb commented on #287
I feel like I am not explaining myself well so I made a demo

https://simb.github.io/textMaskDemo/

See that the input starts as invalid. if you delete the end 2 and retype it, then it turns green and becomes valid.

Actual source code for demo here: https://github.com/simb/textMaskDemo

[2016-11-23 04:29] msafi commented on #287
@simb I think this maybe a bug in our implementation. I think I've seen it in the [example](https://github.com/text-mask/text-mask/tree/master/angular2#example) project too.

@PerfectPixel are you aware of this issue?

[2016-11-23 05:34] simb commented on #287
@msafi I was trying to dig into it to see if there was something I could do to work around it.

It seems like the core might need another callback for when the input.value changes.  Then in the wrapper we could ensure that the right things happen in the framework specific files.

But I am not sure with whats there how to see when the input value changes so I can trigger the correct ngModelChange o

[2016-11-23 05:44] msafi commented on #287
@simb yes we agree that the value of the input should be whatever is displayed in the input box :)

[2016-11-23 15:41] simb commented on #287
Well if you have a direction on how you'd like to solve it I am happy to try to contribute.

Sent from my iPhone

[2016-11-23 18:47] simb commented on #287
@msafi It may sound like I am being silly, but I can totally see a valid point that the input should not change the underlying value.  But if thats the case I need some kind of hook so that I can use the conformToMask or something to update the value myself.  Even if its an "i am done initializing and here is what I am showing the user" event. So I can grab it and compare it to what I sent into th

[2016-11-24 10:46] DiMoNTD commented on #235
@msafi

The current behavior also makes it possible to paste a complete string like 703859 and have that handled correctly instead of resulting in 7037038 which is not what the user would want.

Is possible to make such behavior optional?

[2016-11-24 16:19] chrisamaral commented on #230
I hope this failure mode I've encountered can shed some light on the issue.

![screen cap](http://i.imgur.com/S5z8xzu.gif)

The glitch happens when the user hits backspace, to remove a character right after the thousand separator: the caret jumps two characters to the left. I have implemented a input mask in the past and struggled with the same issue, so I understand this is a complex one.

I'm di

[2016-11-24 19:11] gustavolira commented on #143
As @jebright commented on 15 Oct:

declare var foo: any
export default foo
This is happening with the newest version (2.0.0)

[2016-11-27 04:52] dhmkt05 commented on #254
hi when I tried to install it I got error message . i am using
C:\gc9>npm i @msafi/angular2-text-mask --save
npm WARN deprecated @msafi/angular2-text-mask@0.7.0: No longer maintained. Install 'angular2-text-mask' without '@msafi/
'
todo-angular2-firebase@0.8.0 C:\gc9
+-- UNMET PEER DEPENDENCY @angular/core@2.1.2
+-- UNMET PEER DEPENDENCY @angular/platform-browser@2.1.2
+-- @msafi/angular2-text-mas

[2016-11-27 11:49] PerfectPixel commented on #287
Most likely the issue is just that the initial value is written to the element but not sent back once changed by the mask. I'll have a look into it, however, I fear that it might interfere with form validation and possibly mark the model als touched although the user did not touch it.

[2016-11-27 16:37] jebright commented on #278
I had to add the text-mask directories to the commonjs module.  I think if you add that, rollup should work.  Did for me...  Add this to the include configuration (where we have rxjs):
            'node_modules/angular2-text-mask/**',
            'node_modules/text-mask-core/**',
            'node_modules/text-mask-addons/**',

[2016-11-27 16:54] kinkaz commented on #278
Thank you !

Solved this issue by adding to my commonjs include array :

`'node_modules/text-mask-core/dist/textMaskCore.js',
'node_modules/angular2-text-mask/dist/angular2TextMask.js'`

[2016-11-27 16:54] #278 closed

[2016-11-28 14:21] gustavolira opened #288 "Addons (Angular 2)"
Hi, The same problem related at #143 is happening again.

See the content of https://github.com/text-mask/text-mask/blob/master/addons/dist/createNumberMask.d.ts
The content is only:
`
declare var foo: any
export default foo
`

[2016-11-29 01:15] msafi commented on #288
@gustavolira Thanks for reporting this.

The content of `createNumberMask.d.ts`

[code]

...is not the problem...

Please follow the steps in [this comment](https://github.com/text-mask/text-mask/issues/143#issuecomment-254016395) and let us know if it fixes your issue.

[2016-11-29 01:24] msafi commented on #287
@PerfectPixel Yeah, if you launch the example app, you can see this

![](https://i.imgur.com/XCdQsFl.png)

The model is different from what's in the input field.

If there's no way around this, we should probably list it as a known issue?

[2016-11-29 01:35] msafi opened #289 "`createNumberMask` caret positioning bug"
The bug is reproducible on the website: https://text-mask.github.io/text-mask/

If user selects "US dollar amount" then puts the input field in the following state...

[code]

...then deletes the `3`, the correct state should be...

[code]

...instead, it goes to this state...

[code]

[2016-11-29 01:36] msafi commented on #230
@chrisamaral Thanks for reporting this! This is a different bug than what this issue is for though. I opened a new issue for the bug you reported [here](https://github.com/text-mask/text-mask/issues/289).

[2016-11-29 02:07] larrygarrett opened #290 "Failed to load resource"
I followed install instructions, but I receive ...
http://localhost:3000/angular2-text-mask Failed to load resource: the server responded with a status of 404 (Not Found)
I then tried manually specifying .js file from nodemodule but then it failed on some core module.

[2016-11-29 14:54] PerfectPixel commented on #287
I'll check out soon, if we could write back the value without messing with form validation.

[2016-11-30 11:31] jadav1982 opened #291 "Error"
I am getting below error

vendor.bundle.js:30316 EXCEPTION: Error in ./QuickAppVerification class QuickAppVerification - inline template:173:28 caused by: e.map is not a functionErrorHandler.handleError @ vendor.bundle.js:30316
vendor.bundle.js:30318 ORIGINAL EXCEPTION: e.map is not a functionErrorHandler.handleError @ vendor.bundle.js:30318
vendor.bundle.js:30321 ORIGINAL STACKTRACE:ErrorHandler.

[2016-11-30 12:32] maiconfunke commented on #290
i've the same issue... can somebody help me?

[2016-11-30 19:41] oliveiracdz commented on #109
For anyone using model driven forms:
`this.form.valueChanges.subscribe(obj => obj.field = obj.field.replace(/\D+/g, ''));`

[2016-11-30 22:58] JPAtInstech opened #292 "Provide TypeScript typings for the React component"
I tried running

typings install react-text-mask

but here was the result:

typings ERR! message Unable to find "react-text-mask" ("npm") in the registry.
typings ERR! message We could use your help adding these typings to the registry: https://github.com/typings/registry
typings ERR! caused by https://api.typings.org/entries/npm/react-text-mask/versions/latest responded with 404, expected it to e

[2016-11-30 23:34] PerfectPixel commented on #290
Could you provide a little more info? The configuration used would help alot.

[2016-12-01 16:15] maiconfunke commented on #290
I followed install instructions as show in  project home page.

`Error: (SystemJS) XHR error (404 Not Found) loading http://localhost:3030/angular2-text-mask(…)`

configuration files...

`* System configuration for Angular samples
 * Adjust as necessary for your application needs.
 */
(function (global) {
  System.config({
    paths: {
      // paths serve as alias
      'npm:': 'node_modules/'

[2016-12-01 23:45] msafi commented on #291
@jadav1982 Thanks for reporting this. Can you please provide a minimal project where you're having this problem?

I'll close this for now but will reopen it when a minimal project is provided. Thanks!

[2016-12-01 23:45] #291 closed

[2016-12-01 23:47] msafi commented on #290
Sorry, I'm a bit confused but what are you expecting to find when you load `http://localhost:3000/angular2-text-mask`?

[2016-12-01 23:48] #288 closed

[2016-12-02 17:28] msafi commented on #290
I'll close this for now, but will be happy to continue to answer questions or reopen the issue if needed. Thanks!

[2016-12-02 17:28] #290 closed

[2016-12-02 20:33] alsoicode opened #293 "r[N].test is not a function"
I'm using Angular 2.1.2, importing `TextMaskModule` into a shared module that is used across a couple of other modules.

I've left off all of the imports and component definition, but when implemented as:

[code]

I get an error on input into the field:

![error](https://cloud.githubusercontent.com/assets/86738/20849347/50348b96-b8a4-11e6-8a62-03a4687dfa37.png)

additionally, the underscore mask c

[2016-12-03 02:11] msafi commented on #293
It might be because you have string elements in your array that are more than one character long. Can you avoid those and try again and see what happens?

[2016-12-03 02:28] alsoicode commented on #293
That's got it. Thanks!

[2016-12-03 02:28] #293 closed

[2016-12-03 10:04] ihadeed commented on #246
Running latest version of Ionic, not having this issue.

[2016-12-03 10:33] ihadeed opened #294 "Input takes additional character that appears only in the model"
This issue possibly only occurs with Angular 2, I haven't tested with Vanilla JS.

The mask displays the number of characters correctly, but if you fill all the characters and then add one more, the model will register it even though the mask doesn't show that character. You can only add one additional character, and it's usually the last character you type.

So lets say our mask takes 4 digit num

[2016-12-03 10:38] ihadeed opened #295 "Typing a character at a specific location inserts instead of replacing"
While testing this plunker from my previous issue: http://plnkr.co/edit/rYKjK1oQclW2vOFnfIwQ?p=preview

I noticed that if I click at a certain position of the mask and type in any character, it will insert that character at the location instead of replacing what is there. Which causes the rest of the characters that were already typed in to be pushed away.

Ideally, it should replace what ever cha

[2016-12-03 11:00] PerfectPixel commented on #246
I guess Ionic stopped slapping their CVA over every input. Good move :-)

[2016-12-03 18:19] msafi commented on #295
@ihadeed The [`keepCharPositions`](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#keepcharpositions) option is close to what you're requesting. It doesn't replace existing characters, but filling out an empty place doesn't cause the characters to move.

[2016-12-03 18:28] msafi commented on #294
@ihadeed I'm not sure why that's happening for you. If you run the [included Angular 2 example](https://github.com/text-mask/text-mask/tree/master/angular2/#example), you can see that the model gets updated without an extra character.

[2016-12-03 18:30] msafi commented on #246
I guess we can close this for now then...

[2016-12-03 18:30] #246 closed

[2016-12-03 21:39] ihadeed commented on #295
@msafi Ok, thank you.

[2016-12-03 21:39] #295 closed

[2016-12-03 21:40] ihadeed commented on #294
@msafi could be an issue with Ionic or something else then. I'll check.

[2016-12-05 10:24] tjoskar opened #296 "Replace char at current position"
Hi,

Let's say I have the following mask: `[/\d/, /\d/, /\d/, /\d/, '-', /[0-1]/, /\d/, '-', /[0-3]/, /\d/]` (YYYY-MM-DD). Then I want to be able to replace a character at the current cursor position.

e.g. let's say we have this state:
[code]
If the user now enter a `1`, I want the result to be:
[code]

Is this possible? I have created a simple pipe for the purpose:

[code]

If works fine if the

[2016-12-05 11:00] AramAnd commented on #294
@ihadeed Where you able to find the solution for the issue ? I am facing to it too.

[2016-12-07 04:05] wuilmerj24 opened #297 "How to make a mask with this format: Aa-1234."
Hi.  I need this format Aa-1234.
How could I do it?

[2016-12-07 04:19] msafi commented on #296
@tjoskar Thanks for this detailed question!

It is by design that the cursor doesn't move when the input doesn't change. If I'm not mistaken, this is the [responsible line](https://github.com/text-mask/text-mask/blob/master/core/src/createTextMaskInputElement.js#L153).

[2016-12-07 04:21] msafi commented on #297
Hi, explanation for how to create a mask is in the documentation [here](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#mask).

[2016-12-08 14:28] mzedeler opened #298 "conformToMask as method on MaskedInput"
It seems that the build step optimizes away `conformToMask`, so it isn't exported as it should:

    $ npm install react-text-mask
    $ grep -lr conformToMask node_modules/react-text-mask/
node_modules/react-text-mask/dist/stats.json
    node_modules/react-text-mask/dist/stats.json

`reactTextMask.js` should be there as well, but it isn't.

I tried looking into the webpack setup, but webpack is s

[2016-12-09 01:35] msafi commented on #298
@mzedeler Are you on version `react-text-mask@0.19.0`? I just tried it with this version and was able to find `conformToMask`

[2016-12-09 01:35] #297 closed

[2016-12-09 01:35] #296 closed

[2016-12-09 09:03] mzedeler commented on #298
I'm going to check now.

[2016-12-09 10:27] tjoskar commented on #296
Thanks for your answer @msafi, I could solve this by returning a `String` instance, i.e. `return new String(...`.

I created a jsbin If someone wants to achieve the same result: https://jsbin.com/sefufifogu/edit?js,output

[2016-12-09 11:15] mzedeler commented on #298
It turned out that I was on v0.18.3 due to some pinned peer dependencies.

[2016-12-09 16:27] matheusdavidson commented on #139
should be in the docs.

[2016-12-13 01:18] ignovak commented on #220
In case if somebody is still experiencing the Android 4.4 problem, you can check out my workaround: https://github.com/ignovak/text-mask/commit/a3851ed, mb it will be useful. It's a bit dirty but seems working: http://inovak.neocities.org/text_mask.html.

[2016-12-13 10:26] RobbyDeLaet opened #299 "Optional parameter to enable the mask being displayed immediately"
Is it possible to add an optional parameter that, when set to true, displays the mask immediately. In the current version, the user has to type the first character before the mask is shown.
It would like that all input fields with a mask, display there mask when the form is rendered.

[2016-12-14 20:46] studentIvan commented on #299
+1, without this the text-mask can be used only for simple local phone
Another needed improvement is placeholder-mask like dd/mm/yyyy 12/mm/yyyy 12/03/yyyy (the user uses the correct format, not guess it e.g. __/__/____ - what should I put first, day or month?)

mask: CHE999999999 (ide of swiss doctor)
what I see in placeholder: CHE99999999
when I start typing, I do "C" and see that my cursor on "

[2016-12-14 21:04] superkew opened #300 "Caret position incorrect on android device"
Initially discovered when compiling for ionic but is apparent on the default browser on an android device. The caret moves incorrectly when passing over mask characters eg. `(`or `)` in the phone number mask.

To reproduce use the sample website https://text-mask.github.io/text-mask/ and enter numbers for the phone number.
Works fine on computer browser and ios.

[2016-12-14 23:54] leobispo commented on #300
I am facing the same issue on Samsung S6 and S7. All other de vocês seems to work as expected

[2016-12-14 23:55] leobispo commented on #300
Sorry about de vocês it should be devices. Spell check changed

[2016-12-15 08:52] tompazourek opened #301 "Bower support"
I'd like if this library was published on Bower.

I think lot of people use Bower for all client-side libraries and could find this useful.

Anyway, thanks for this great project, I haven't found a better input masking library yet and I've already tried many of them. 👍

[2016-12-15 13:52] lucassmacedo opened #302 "Unbind Mask"
Hello! How unbind the input mask? ex:
i want change dynamically a mask of input but don't work

[2016-12-15 17:47] kengoldfarb commented on #300
I'm seeing this bug on Chrome v55.

Working as expected for me on Chrome v54

[2016-12-16 10:37] tompazourek commented on #302
The mask option accepts a function that can return the mask array.

I've just used that yesterday on my project to change the mask dynamically.

[2016-12-16 12:48] lucassmacedo commented on #302
Can you post an example?

[2016-12-16 14:25] tompazourek commented on #302
[code]

This is text mask for credit card CVV field. If the card type is AMEX (which depends on the card number field, so it can change dynamically), the code has 4 digits, for all other card types it's 3 digits.

Note that you can also use the `value` argument of the function, which contains the current value of the masked input.

[2016-12-16 14:29] tompazourek commented on #302
btw. you can also unbind the text mask this way (as described in the [documentation here](https://github.com/text-mask/text-mask/tree/master/vanilla#readme)):

[code]

[2016-12-16 15:57] fernandobandeira commented on #220
@ignovak could you open a pr with this? it's dirty but it'll open a space for discussing the implementation...

[2016-12-17 17:56] msafi commented on #220
Folks, I don't think we need to open a PR for this. I'm glad these workarounds exist, but it will be hard to integrate such a fix in a clean way. And the affected platform is quite old. That's why I don't think this issue is a priority.

[2016-12-17 17:59] msafi commented on #302
@lucassmacedo If you still need more information after @tompazourek answer, please feel free to update this issue. I'll close it out for now.

Thanks folks!

[2016-12-17 17:59] #302 closed

[2016-12-17 18:15] msafi commented on #300
I jus tried this on Android Nexus S running Lollipop. I don't see any problems.

I also don't see any issues on Chrome v55 on the desktop or on Android 6 browser.

I think this discussion might be related to [this ticket](https://github.com/text-mask/text-mask/issues/220).

[2016-12-17 18:20] msafi commented on #301
Thanks for this request @tompazourek and for helping close that other issue.

I frankly don't see the benefit of Bower. Anyone who uses Bowers already uses npm, so why not use npm? They both do the exact same thing. Adding Bower will be a maintenance overhead for us, that's why I'd like to not add it.

Thanks a lot!

[2016-12-17 18:20] #301 closed

[2016-12-17 18:39] leobispo commented on #300
@msafi it is not the same bug. And it is only on android chrome v55. It is happening as well on zenfone 2. I will debug to check what is going on

Tnx for the reply

[2016-12-17 21:59] ignovak commented on #220
@fernandobandeira Hi, I've tested the workaround again and found out that it doesn't always work...

Instead, I've made sure that in the most cases the reason is the autocomplete feature for android keyboards.
The details are described well enough on http://stackoverflow.com/questions/34774684/masked-input-working-ok-on-desktop-and-working-ok-for-some-masks-on-mobile/34887682#34887682.

For exampl

[2016-12-17 22:11] ignovak commented on #220
@msafi Regarding the quite old platform: according to https://developer.android.com/about/dashboards/index.html, 40% of users have old devices with Android < 5.0, mostly without chances to upgrade. So even if the bug affects only old browsers it's still a huge part of the users...

[2016-12-17 22:13] msafi commented on #220
@ignovak Ok. Your PR #304 is much simpler than the other solution proposed, so I think we maybe able to merge that. I've left a comment there. Let's see if we can make it mergeable.

[2016-12-18 11:35] rafaelcb21 opened #305 "Error importing createNumberMask.js file in Angular 2"
How to import createNumberMask.js in Angular 2 because for me it is giving the following error:
`Uncaught SyntaxError: Unexpected token export:  createNumberMask.js:12`

He is finding the createNumberMask.js file but occur an error on line 12:
`export default function createNumberMask({`

In file `index.html` I put:
`<script src="createNumberMask.js"></script>`

I'm using Angular 2 along with Expr

[2016-12-18 17:33] msafi commented on #305
Hi @rafaelcb21! Can you import `createNumberMask` as an addon as shown in the documentation?

[2016-12-19 20:12] thiagotoshiro commented on #300
I have the same problem with samsung s7 and s6. Any solution? @leobispo @msafi

[2016-12-20 17:21] douglascofferi commented on #263
+1 I use Ember.js and also need this change so that the cursor starts at the end of the decimal places.

Here is a basic example, this is very useful.

http://www.jqueryscript.net/demo/jQuery-Currency-Input-Filed-Mask-Plugin-maskmoney/

[2016-12-22 17:13] noltegit commented on #305
I'm doing the following import in my component, but TypeScript can't resolve... Is there other setup in order to use?

`import createNumberMask from 'text-mask-addons/dist/createNumberMask.js';
`

[2016-12-23 17:37] healkar01 opened #306 "zone.js:1645 GET http://localhost:3000/node_modules/angular2-text-mask/ 404 (Not Found)"
I cannot get past this error!

![textmask](https://cloud.githubusercontent.com/assets/20865786/21459480/7d3e289a-c90c-11e6-9eb3-eb5c3ebb33b5.png)

System.config.js
============

/**
 * System configuration for Angular 2 samples
 * Adjust as necessary for your application needs.
 */
(function (global) {
  System.config({
    paths: {
      // paths serve as alias
      'npm:': 'node_modules/'
    }

[2016-12-25 00:38] msafi commented on #306
Usually, I would expect the library to be imported as such:

[code]

...not the way you've posted.

Could you please post a minimal project that shows your setup?

[2016-12-25 00:39] #305 closed

[2016-12-25 15:00] lozovoyv opened #307 "How to store mask pattern in data attribute of input field?"
I making automated CRUD for Laravel (using MDL based framework)
I have data template for fields:
[code]
Then I'm  generating html using this template.
[code]
And then in script I initialize `text-mask`
[code]

Is there any simple way to do that? Or I need to store it in JSON and parse it to array of RegExp?
It could be a feature request =). Thanks.

[2016-12-26 00:02] msafi commented on #307
Hi! I'm not familiar with Laravel, so I'm not sure what is required on Text Mask's part to make this process easy. It seems to me that there needs to be some kind of adapter for Laravel that converts some template syntax to a JavaScript array? At the end of the day, Text Mask's `mask` attribute is just a plain JavaScript array.

[2016-12-26 12:23] juracy commented on #197
I believe that issue doesn't occur anymore at @angular/material@2.0.0-beta.0

At least using md-input-container !

[2016-12-26 12:51] gustavopch commented on #294
I'm facing this issue on vanilla-text-mask.

[2016-12-26 19:13] #306 closed

[2016-12-27 03:08] hugobessa commented on #300
I've made the test on the demo site. I tried to write the number (123) 456-7890. The screenshots go as attachments.
![slcreenshot_2016-12-27-00-02-18-888_com android chrome](https://cloud.githubusercontent.com/assets/1779823/21489323/0148a3be-cbc8-11e6-808d-0eebb6724543.png)
![screenshot_2016-12-27-00-02-59-044_com android chrome](https://cloud.githubusercontent.com/assets/1779823/21489324/08b6789

[2016-12-27 13:00] lozovoyv commented on #307
@msafi, Laravel is php framework. Just see this as plain php in this case. The question is how to transmit mask pattern (array of regexps) from php to javascript. I can generate masks as `<?php echo "<script>maskForSomeField = [/\d/, ....]</script>"` but it seems to me as not best and elegant way. I like to use data attribute of input field, but there is some troubles using it. Array can be stored