[2016-12-27 13:52] healkar01 commented on #306
My import is exactly as you describe above.

I was able to add it to the angular2 seed project, so there must be something in my project that is causing some sort of conflict.   Any ideas on that?

[2016-12-27 14:22] healkar01 commented on #306
OK, got it working but this was way more complicated than it should have been.

I had to import like this:

import { TextMaskModule } from 'angular2-text-mask/dist/angular2TextMask';

have this in my systemjs.config.js

      'angular2-text-mask': 'npm:angular2-text-mask',
      'text-mask-core': 'npm:text-mask-core',

AND

      'angular2-text-mask': { defaultExtension: 'js' },
      'text-mask-c

[2016-12-27 14:24] ihadeed commented on #306
@healkar01 Try adding the following in your systemjs configuration:
[code]

[2016-12-27 18:14] CoachHockey commented on #53
Is this still not supporting reactive forms with FormControl?  You have built out an example with such a use case in your angular2 code, but I'm still receiving the error: "Cannot bind to 'textMask' since it isn't a known property of input."

[2016-12-27 18:31] PerfectPixel commented on #53
That does sound like the directive is not recognized. What version are you using?

[2016-12-27 18:41] CoachHockey commented on #53
Thanks for the quick response, but never mind the issue.  I hadn't imported into the component-specific module, just my application base module.  Resolved.

[2016-12-28 12:05] bastaware opened #308 "Delete key doesn't delete across thousand seperators"
When cursor is placed in front of a thousand seperator, the delete-key does nothing.

Initial:
12|,345
press [delete] key

Result:
12|,345

Expected:
1|,245

![image](https://cloud.githubusercontent.com/assets/1000036/21521524/1a0ab9a0-ccfe-11e6-9139-33e8c4dffc74.png)

[2016-12-28 16:53] Cutless009 opened #309 "Ability to pass a value to disable masking"
In many cases it would be greatly advantageous to be able to disable masking dynamically. When passing a mask array back to the directive through a function, being able to pass it a value to disable the masking such as "none", null, undefined, etc would be extremely helpful.

Currently to disabled masking once it is applied to an input, a massive array full of /./ must be passed in order to free u

[2016-12-28 20:51] msafi commented on #308
Thanks for reporting this @bastaware. It's related to #230. (I'll link to this issue from #230 and close this one.)

Thanks!

[2016-12-28 20:51] #308 closed

[2016-12-28 20:53] msafi commented on #309
@Cutless009 How about, when you don't want masking, display a regular input element instead of the Text Mask input element?

[2016-12-28 21:00] Cutless009 commented on #309
This causes duplicate markup, and does not allow for dynamically turning it off and the back on, on the same input, as it is needed.

I'm not talking about cases where it simply isn't needed, I'm talking about when it is needed conditionally, and needs to be toggled on and off according to those conditions.

[2016-12-30 00:53] #307 closed

[2017-01-02 16:15] gustavopch commented on #226
I'm using vanilla-text-mask, but I'd like support for Vue 2.0 too if possible.

[2017-01-03 02:32] gustavopch commented on #294
I think I know what's the problem (at least with vanilla-text-mask on Vue).
The model's data is getting the value of the input before text-mask does its business of accepting/rejecting characters.
Example:
a) input has value `$1.25` and cursor is after the "5"
b) user types something like "3" then input value becomes `$1.253`
c) model's data is set to `$1.253`
d) text-mask enters in action and rev

[2017-01-04 09:48] wolfflow opened #310 "Transform leading dot input to '0.'"
Hi. As a text-mask library user, I would like to be able to transform data like '.34' to '0.34' on number-masked field input.
Is it a complex thing to write this transform on my own ?

[2017-01-04 16:53] mdrunk commented on #309
+1

[2017-01-04 16:53] mdrunk commented on #299
+1

[2017-01-04 20:59] dallinski commented on #300
I'm also experiencing this on a Sony Xperia Z4 tablet (model: SGP712)

[2017-01-05 10:31] JustRonald opened #311 "Multiple decimal seperators creates wrong value"
When you go to the demo page and use the dollar amount with decimals and enter "1234.99", it works like a charm. However, when you enter another dot (yes there are stupid users), it changes the value to "123.499". Since "decimalLimit" is set to 2, I would expect it just ignores the second dot on the end, just like it ignores my input when I enter a letter character. Does this make sense?

[2017-01-05 16:09] DanielLuu opened #312 "Conditional directive to NOT mask"
Wondering if there's a value I can give it to just not mask

[2017-01-05 16:27] mdrunk commented on #312
The easiest way I've found to do this is to make two identical components, decorate one with the mask directive, decorate both with *ngIf and putting a positive condition on one and the negation on the other.  Bind both of the ngIf's to the same variable that says whether or not the field needs masked, and there you go.

[2017-01-05 16:28] DanielLuu commented on #312
That's what I did thought there would be an easier way.

[2017-01-05 16:34] #312 closed

[2017-01-05 16:35] DanielLuu opened #313 "Temporarily mask with X"
Adding an SSN field to my app and need to mask all the numbers except the last 4 with X is this possible?

[2017-01-05 19:56] ricardo-mello commented on #300
It's happening with me on Nexus 5X too

[2017-01-05 20:03] msafi commented on #300
I'll look into it this weekend. I don't have an Android device, but I'll see if I can reproduce it using an Android emulator with Android Studio.

[2017-01-07 19:53] msafi commented on #300
Folks, I'm afraid to report that I was not able to get a hold of an Android version that has Chrome 55. Unfortunately, without a way to reproduce the problem, I can't begin to try to solve it.

The latest version that is available through Android Emulator is Chrome 53. The Play Store is not available on Android Emulator devices so I can't download Chrome 55 or update to it. I looked online for way

[2017-01-07 21:09] msafi commented on #313
If I understand correctly, this should be possible. A mask as follows should do what you want:

[code]

[2017-01-07 21:09] #313 closed

[2017-01-07 21:13] msafi commented on #311
@JustRonald I can't reproduce the behavior that you're describing. What I see is the following (`|` indicates cursor position):

[code]

Then I enter another `.`, the input state changes to

[code]

Which is what is expected. The user can now enter another 2 decimal digits.

[2017-01-07 21:13] #311 closed

[2017-01-09 02:52] DanielLuu commented on #313
I still need to capture the data though.

[2017-01-09 05:08] msafi commented on #313
So if you want to allow the user to enter any character for any of the last four digits, you could do:

[code]

[2017-01-09 15:34] mdrunk commented on #313
I think everyone is misunderstanding what he's asking. Daniel...I believe that you'll have to use at a minimum two (three to make it look clean) inputs to accomplish this. Two that are masked and one that is not. Concat on the back side.

[2017-01-09 16:01] DanielLuu commented on #313
Yeah that was the solution I was thinking of.  Having an input that runs this mask but on change storing actual data in the backend.

[2017-01-09 18:27] rafael-iop commented on #300
Same problem here with Ionic + Chrome 55.

@msafi Have you tried to manually download and install Chrome 55 APK?

**APK Download:** http://www.apkmirror.com/apk/google-inc/chrome/chrome-55-0-2883-84-release
**Manually install APK steps:** https://www.androidpit.com/android-for-beginners-what-is-an-apk-file

[2017-01-09 18:35] deepinit-arek commented on #197
This issue should be closed as @juracy actually pointed to the solution, which is to use md-input-container and input.

[2017-01-10 16:41] akz92 commented on #187
I'm still experiencing this issue on Ionic 2 RC4 using angular2-text-mask v2.1.0

[2017-01-10 17:28] akz92 opened #314 "FormControl value accepts one character after the defined length (Ionic RC4)"
I'm using v2.1.0 on Ionic RC4 and I'm experiencing and old issue where the field value accepts one more character after the defined length. @gfviegas created a gif that gives a perfect example of this issue:
![Example](https://cloud.githubusercontent.com/assets/6178801/18258722/92689cc4-73b1-11e6-857d-12d6df932e97.gif)

[2017-01-10 17:28] Sn3b opened #315 "Upper case"
I'd like to only allow upper case letters, so using [A-Z], obviously lower case letters are now simply discarded. Is there a way I could simply convert lower case letters to upper case on the fly?

[2017-01-12 00:20] kengoldfarb commented on #300
I think I've found a workaround to this issue...

After more testing, I've been able to reproduce this on only some (android, chrome 55) devices and the symptom is that ```inputElement.selectionStart``` is always reported as ```0``` which made me think that it was being computed prior to the actual text being in the field (perhaps on key down?).
https://github.com/text-mask/text-mask/blob/master/c

[2017-01-12 00:54] browniefed commented on #300
OnKeyUp will fire more frequently and likely won't fire in the event of a paste event using a mouse.

[2017-01-12 01:00] kengoldfarb commented on #300
@browniefed good call - you're correct that onKeyUp does not fire when pasted w/ a mouse or with long hold/paste on a device

[2017-01-12 09:09] skrappyzz opened #316 "Specific placeholders for every digit"
Hi there! Is it possible to make specific placeholder for every digit.
For example for the date mask i want to make a placeholder MM/DD/YYYY instead of __/__/_____

[2017-01-12 21:22] vasilcovsky commented on #300
I was able to reproduce on Android Samsung S6, Chrome 55
URL:  https://text-mask.github.io/text-mask/

[2017-01-13 06:49] sonal-Paghdal opened #317 "24 hours mask"

[2017-01-13 18:42] lypborges opened #318 "Import createNumberMask EmberJS"
Tks for th addon. How Can I import createNumberMask in EmberJS?

[2017-01-13 19:17] msafi commented on #317
Could you please give more information about what you want?

[2017-01-13 19:18] msafi commented on #316
Thanks for your request. That's not currently possible.

[2017-01-13 19:20] msafi commented on #315
It's possible to use a [pipe](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#pipe) that upper-cases all entries. The code for the pipe could be something like:

[code]

Thanks for your question!

[2017-01-13 19:20] #315 closed

[2017-01-13 19:23] msafi commented on #197
Thanks folks, I'll close this one!

[2017-01-13 19:23] #197 closed

[2017-01-13 19:26] #317 closed

[2017-01-13 19:29] msafi commented on #318
I'm not really sure about Ember. @lozjackson might know?

[2017-01-13 19:59] msafi commented on #300
Unfortunately, I still don't have the means to reproduce it. I launched a Samsung S6 as an Android Virtual Device through Genymotion and installed the Chrome 55 APK linked by @rafael-iop. I opened https://text-mask.github.io/text-mask/ in Chrome 55 on the device and tried using Text Mask there...everything seems to work fine...

I guess like @kengoldfarb said, this is only reproducable on actual d

[2017-01-13 20:26] dallinski commented on #300
I was experiencing it with Angular 2

[2017-01-13 21:08] lozjackson commented on #318
Take a look at [https://github.com/text-mask/ember-text-mask-addons](ember-text-mask-addons)

It imports the `text-mask-addons` into an ember-cli project.. see here for how to import the `createNumberMask`
https://github.com/text-mask/ember-text-mask-addons#createnumbermask

[2017-01-14 16:21] Sn3b commented on #315
How do you then use the pipe?

[2017-01-14 18:49] msafi commented on #315
It depends on the framework component that you're using. You can start by reading the `README.md` of the framework component that you're using which will then lead you to this [documentation page](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md), which contains information about using `pipe`.

[2017-01-15 00:27] Sn3b commented on #315
Got it working thanks :)

[2017-01-15 00:28] msafi commented on #315
Awesome!

[2017-01-15 00:41] Sn3b commented on #315
Just in case it might help someone, with angular2 I just have the following function in my component:

[code]

And in my template I have the this:

[code]

[2017-01-15 18:26] lypborges commented on #318
Work for me. Tks

[2017-01-15 22:39] wuilmerj24 commented on #300
Hello I had that problem with ionic 2, had an ion-input type tel and gave me that error. To solve what I did was to change the type tel by text and it worked very well.

[2017-01-17 17:38] hikirsch commented on #300
Hi @msafi -

I was able to replicate this issue on my Google Pixel. I saw this issue https://bugs.chromium.org/p/chromium/issues/detail?id=32865 and it seems this issue is related. I added a setTimeout to line 213 in createTaskMaskInputElement.js

To confirm, I changed:
``element.setSelectionRange(selectionPosition, selectionPosition, strNone)``
to
``setTimeout(() => element.setSelectionRange(sele

[2017-01-17 17:48] browniefed commented on #300
The problem is that now makes inputs async and adds a whole host of different issues.

[2017-01-17 20:56] dfostic commented on #306
What should I have in dist directory?
Where this directory should be in the project?
Where can i get angular2TextMask.js?

I am getting following error:
(http://localhost:3000/node_modules/zone.js/dist/zone.js:345:33) [<root>]
	Error loading http://localhost:3000/angular2-text-mask/dist/angular2TextMask.js as "angular2-text-mask" from http://localhost:3000/app/app.module.js

[2017-01-17 23:49] Sn3b opened #322 "Triggers validation even when filled"
When my input is filled and matches the mask, pressing any key will still trigger the validation. Is there a way to prevent this? I'm using a custom async validator that does a request to the server and I'd like to avoid it...

[2017-01-18 00:14] ThreadedLemon opened #323 "selectionStart is undefined (Ionic RC5)"
Upgraded to Ionic RC5 and it appears to have broken input masking.

`Cannot read property 'selectionStart' of undefined
    at Object.update (textMaskCore.js:1)
    at MaskedInputDirective.onInput (angular2TextMask.js:42)`

I tried to debug this a bit and I can confirm the 'selectionStart' value is contained within the element but It doesn't look like the `textMaskInputElement.update()` function i

[2017-01-18 08:22] Sn3b opened #324 "Apply mask from component"
Is it possible to apply the mask from the component?
I receive the data from the database without format, set the value of my field from within the component with: `this.form.get('field').setValue(value);`.
On the UI the data is formatted fine (meaning the mask is applied), but the control doesn't validate because its actual value is what was received from the database without format...

[2017-01-18 08:33] Sn3b commented on #324
Nevermind, I managed to do it with [conformToMask](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#included-conformtomask) :)

[2017-01-18 08:33] #324 closed

[2017-01-18 12:52] Mandeep20gill commented on #287
@PerfectPixel this issue is causing production delay for me. Appreciate if you have any workaround to resolve this. Really wish to have mask pass form validation :-( !!

[2017-01-18 18:28] DVishin commented on #323
All the same...

[2017-01-18 18:31] PerfectPixel commented on #287
@Mandeep20gill
sorry, I was a little busy. I'll get back to you until friday.

[2017-01-18 19:25] dfostic commented on #236
I am building card input with different mask, i.e.:
visa:        XXXX XXXX XXXX XXXX
amex:     XXXX XXXXXX XXXXX

I figuring out the card brand after user inputs first 4 digits.
I am trying to change the mask then on the fly(my mask is a property of my component).

Does anybody have any idea how to do it?

[2017-01-18 19:48] Ganim opened #325 "Doesn´t work with Angular Material 2"
hi, I tried use the text-mask with Angular Material 2, but it´s not support <md-input> tag

[2017-01-19 13:49] dfostic commented on #53
For those having following issue when trying to run npm test:
Can't bind to 'textMask' since it isn't a known property of 'input'. ("  <div id="input_amount">
             <input [ERROR ->][textMask]="{mask: mask}" ...

It works if you add in karma.config.js  in files: [
    // Text Input Mask
    'node_modules/angular2-text-mask/dist/angular2TextMask.js',
    'node_modules/text-mask-core/dist/tex

[2017-01-20 03:55] acinader commented on #323
Here's my ion-input that is generating this error:

``` <ion-input [textMask]="{mask: mask}" type="text" [(ngModel)]='maskedPhone' name="phoneNumber"></ion-input>```

[2017-01-20 12:57] sdvinfo commented on #314
Hi!
I have the same problem. This is my temporary solution to work around:
[code]

[2017-01-20 22:07] ihadeed commented on #323
I'm unable to reproduce this. Here's my Plunkr: http://plnkr.co/edit/g1gQMOs8ZzoP4ISh51Il?p=preview

Does this happen if you create a new Ionic project?

[2017-01-20 22:09] ihadeed commented on #325
Make sure to import `TextMaskModule` and include it in your app's module.

[2017-01-20 22:11] ihadeed commented on #314
@akz92 what is the mask used in that example?

[2017-01-20 22:36] ihadeed commented on #323
I can confirm this. Here's a Plunkr with the issue: http://plnkr.co/edit/g1gQMOs8ZzoP4ISh51Il?p=preview

The mask doesn't show at all. It seems like there is an issue initializing the directive. The error message indicates that the value of `inputElement` is undefined, which is why it can't read the value of `inputElement.selectionStart` (see https://github.com/text-mask/text-mask/blob/17ad73bd74b

[2017-01-20 22:45] PerfectPixel commented on #323
@ihadeed
looking at the debugger, I can confirm that the element does indeed not exist yet.

I would suggest that you try **ngAfterContentInit** or ** ngAfterViewInit** instead of **ngOnInit**.

See: [lifecycle-hooks](https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html)

[2017-01-20 22:49] PerfectPixel commented on #287
So updating the underlying value does indeed set the element to dirty and touched.

What we could do is give you another output that gives you value is conformed to a mask. Would that help?

[2017-01-20 23:03] PerfectPixel commented on #322
Are you talking about Angular 2, if so, yes we could prevent that behaviour.

@msafi Do you think this should be changed?

[2017-01-20 23:36] PerfectPixel commented on #294
@ihadeed the error should originate somewhere in the ion stack. If you replace the ion-input with a regular input in your plunkr, everything works as expected.

[2017-01-21 15:18] Sn3b commented on #322
Yes for angular2 sorry :)

[2017-01-21 15:29] Sn3b commented on #322
Obiously it should still trigger validation at least once, but only the first time it matches the mask :)

If you guys decide not to change this, is there a way I could do it myself with the available events?

[2017-01-21 15:32] PerfectPixel commented on #322
Not sure about that. The main change would be the frequency of events triggered. Currently, the model is updated anytime a change event is fired. We would have to change that behaviour by filtering out those change events that do not result in a change of the model.

I'm unsure if this would break functionality of others possibly relying on it.

[2017-01-21 18:22] msafi commented on #322
@PerfectPixel Yeah, I'm not sure about the possible impact of this. If we decide to change it, we can publish a major version bump. I'll leave the decision to you.

[2017-01-21 18:25] Sn3b commented on #322
And what about having it as an optional change only available with a boolean setting? Like the guide one...

[2017-01-21 18:25] msafi commented on #325
I'll close this out but please feel free to update the issue if you continue to have problems. Possibly post minimal project where we can see the problem and you setup.

[2017-01-21 18:26] #325 closed

[2017-01-21 18:34] msafi commented on #287
@PerfectPixel After updating the model, does Angular give us a way to set the element as pristine and untouched?

[2017-01-21 18:38] msafi commented on #323
We're currently [using `ngOnInit` in the Angular component](https://github.com/text-mask/text-mask/blob/master/angular2/src/angular2TextMask.ts#L38). Should we change it to use the `ngAfterContentInit` or `ngAfterViewInit`?

[2017-01-21 19:02] #318 closed

[2017-01-22 14:07] PerfectPixel commented on #323
Well `ngAfterContentInit` and `ngAfterViewInit` are called once some of the children are instantiated. Possibly that is enough for the input element to be placed in the DOM. However, to try that out you'll need an Ionic test setup which I do not have ;-)

[2017-01-22 14:07] PerfectPixel commented on #287
We could try to get access to the controls. I'll look into it.

[2017-01-22 14:10] PerfectPixel commented on #322
I don't see a good reason why we should not suppress ngModel changes if really nothing changed. If someone needs to be notified everytime something happens, they can still fall back to the regular change event.

I'll submit a PR shortly.

[2017-01-22 17:33] #322 closed

[2017-01-22 17:37] msafi commented on #322
Published @PerfectPixel's PR #330 with this fix as `angular2-text-mask@3.0.0`!

[2017-01-23 04:25] ValterSantosMatos commented on #300
@hikirsch you saved my day, I can confirm that with the setTimeout it works. Also this is not a bug only related to text-mask, using Ionic2 and changing the value of the input to something else while the user is typings places the caret in a wrong position.

[2017-01-23 12:58] akz92 commented on #314
@ihadeed that is really just an example, this problem happens with any mask I use like this one:

    this.documentMask = [/\d/, /\d/, /\d/, '.', /\d/, /\d/, /\d/, '.', /\d/, /\d/, /\d/, '-', /\d/, /\d/];

[2017-01-24 10:42] andrea-spotsoftware opened #332 "Support integer limit"
See the pull req --> #331

Ciao!

[2017-01-24 14:00] andrea-spotsoftware commented on #205
#331

[2017-01-24 14:24] martingra commented on #323
Same issue. Could someone resolve this?

[2017-01-24 17:13] andrea-spotsoftware commented on #264
#331

[2017-01-24 17:41] andrea-spotsoftware opened #333 "Caret positioning in createNumberMask (with decimals)"
Hello,
today I discovered this lovely project, and I think i'm gonna use it so much!

I am building an application where i need a number mask, actually very similar to the one you developed, but I have a problem with decimal separator:
the issue can be replicated in the demo page, with the "US dollar amount (allows decimal)" configuration.

If i type 12 then press _period_ and another 12, the resu

[2017-01-24 18:45] gorhan99 commented on #323
It is working with ngAfterViewInit. Not with ngAfterContentInit or ngOnInit.

[2017-01-25 03:12] msafi commented on #333
Thanks for the question and for your kind words @andrea-spotsoftware!

Yes, this is the intended behavior.

I'm not sure what you mean by:

Can you give an example of the behavior that you want to see instead?

As to whether this behavior can be changed, I'm not sure right now. I need to look at the code. I may have time to do that this weekend.

[2017-01-25 03:13] msafi commented on #332
Will look at the PR. Thanks!

[2017-01-25 03:13] #332 closed

[2017-01-25 05:38] sidjoshi001 commented on #323
@gorhan99 It's not working with ngAfterViewInit, ngAfterContentInit or ngOnInit....!! Anybody Solve this...!!

[2017-01-25 05:39] ashlesha86 opened #334 "this.element.nativeElement.getElementsByTagName is not a function at MaskedInputDirective.ngOnInit"
Hello,
i am working on angular2+asp.netcore application.
i installed the component by
npm i angular2-text-mask --save
then  i imported the textmaskmodule in ngmodule in app.module.ts. It did not show up any error. project.json is also updated.I run the application. i got following error.

this.element.nativeElement.getElementsByTagName is not a function
at MaskedInputDirective.ngOnInit
Can you ple

[2017-01-25 06:12] ihadeed commented on #334
I think this is related to https://github.com/text-mask/text-mask/issues/323

[2017-01-25 06:16] ashlesha86 commented on #334
i am not using ionic framework

[2017-01-25 07:45] Behnam-r commented on #323
I thing it have some conflict with ion-input because when you use input element it work on browser but when you use ion-input element error shows up in browser

[2017-01-25 07:52] andrea-spotsoftware commented on #333
This plugin implements the behavior that I'd love to have:
http://robinherbots.github.io/Inputmask/
please see the decimal input.

[2017-01-25 08:37] javist7 opened #335 "Callback function when all characters in mask is accepted"
How to add callback function which will be called when the user enters all characters that is accepted and displayed on the input element ? (angular2)

[2017-01-25 15:50] eldeer opened #336 "webpack dllplugin problem"
Building my project using webpack.DllPlugin failed with this message:
"ERROR in dll vendor Module not found: Error: Cannot resolve module 'text-mask-addons' in ./  @ dll vendor ". All another dependencies succesfully bundeled into vendor.js.
When i added the following row:
            "main": "dist/createNumberMask.js",
 in "node_modules/text-mask-addons/package.json" build is ok. I use only creat

[2017-01-25 16:04] dfostic opened #337 "Cannot use it in Angular2. Does anybody use it in angular2 projects?"
Hi,
I was not able to use text-mask-addons in Angular2.
I need to use createNumberMask, but nothing i have tried worked.

Can anybody help me please?

Here is the config i am using

- **package.json:**

"text-mask-addons": "2.1.0"

- **system.config.js:**

map: {
...
'text-mask-addons': 'npm:text-mask-addons',
... },
packages: {
...
'text-mask-addons': {
     defaultExtension: 'js',
     main: //

[2017-01-25 16:15] eldeer commented on #337
i use that module this way:
**price-select.component.ts**
import createNumberMask from 'text-mask-addons/dist/createNumberMask';

@Component({
    selector: 'price-select',
    templateUrl: './price-select.component.html',
    styleUrls: ['./price-select.component.css']
})
export class PriceSelectComponent implements AfterViewInit, OnDestroy {
   ...
    numberMask = createNumberMask({
        pre

[2017-01-25 16:18] eldeer commented on #337
forgot, also you need installed and configured this package - angular2-text-mask. Here is instruction https://www.npmjs.com/package/text-mask-addons

[2017-01-25 16:45] #337 closed

[2017-01-25 16:50] dfostic commented on #337
Thank you eldeer!

I just figured it out.
I don't know what exactly i was doing wrong, because i have tried many
things, but suddenly it started working.

Thanks!

On Wed, Jan 25, 2017 at 11:18 AM, eldeer <notifications@github.com> wrote:

[2017-01-25 17:52] andrea-spotsoftware opened #338 "example using conformToMask when the mask is createNumberMask"
I can't find a way to use them together.
I tried to extract the mask from createNumberMask({...}) return function, passing the value to parse.
MaskArray is the extracted mask, but the following code is throwing an exception:
[code]
 Cannot read property 'test' of undefined
 at Object.n [as conformToMask] (eval at <anonymous> (app.js:2766), <anonymous>:1:3029)
...

Any working example?

[2017-01-25 18:19] DVishin commented on #323
You need to replace this line:
`MaskedInputDirective.prototype.ngOnInit = function () {`
to this:
`MaskedInputDirective.prototype.ngAfterViewInit = function () {`
in node_modules/angular2-text-mask/dist/angular2TextMask.js

[2017-01-25 18:52] drdpedroso opened #339 "Starting field by decimal part"
I need to start the input typing by the decimal part, not the integer one. Its there a way to do this in the current version?

The way it is today:
![mask](https://cloud.githubusercontent.com/assets/12386985/22304457/a28c5870-e31e-11e6-98dc-518bbcf1ed77.png)

[2017-01-25 19:36] Kizmar commented on #309
I'm looking for the same feature. We have a `app-input-container.component` that wraps `md-input-container`. I'd like to be able to add `[textMask]="inputMask"` on the `<input md-input ...>` element, and have it only activate if a mask value is passed in. Another option is the ability to pass in something like `{ disabled: true }` if the directive is not to be used in a specific component instance

[2017-01-26 06:23] DVishin commented on #323
To enable this in prod mode you also need to replace this:
`"ngOnInit":[{"__symbolic":"method"}],`
to this:
`"ngAfterViewInit":[{"__symbolic":"method"}],`
in node_modules/angular2-text-mask/dist/angular2TextMask.metadata.json at 1:902
Have a nice day! )

[2017-01-26 10:11] stevengunneweg commented on #323
@DVishin I changed this manually and ran `ionic serve` after that but it did not resolve the issue.
I still see `error_handler.js:49 ORIGINAL EXCEPTION: Cannot read property 'selectionStart' of undefined`

Ps. I'm using Ionic2 RC6 at the moment

[2017-01-26 10:35] DVishin commented on #323
@stevengunneweg I'm using RC6/2.0.0 too and there is ok. https://yadi.sk/i/8DDZUUt63AzmtJ try to build in dev mode, may be you have an old code in your main.js file

[2017-01-26 10:38] stevengunneweg commented on #323
@DVishin sorry, I already updated my comment to say your solution does work (needed to apply both your comments (in `node_modules/angular2-text-mask/dist/angular2TextMask.js` and `node_modules/angular2-text-mask/dist/angular2TextMask.metadata.json`) but something went wrong with the interwebs ;) Thanks you

@msafi Please apply to the repository so this issue is resolved. Thanks!

[2017-01-26 11:27] sidjoshi001 commented on #323
@DVishin Thanks for this temporary solution..!! @msafi Kindly apply to repo..!!!

[2017-01-26 19:20] Kizmar opened #340 "Errors when using the directive in a wrapper component"
We've created a wrapper component for `md-input-container` in our app (code below). This component works fine until I try to add  `textMask` to the `input` element. Doing so results in a `ViewWrappedError` followed by a `ZoneAwareError` (more error detail below the component code).

At some point I'm going to try to create a Plunker to reproduce this, but I don't have time quite yet. I wanted to d

[2017-01-26 20:44] #340 closed

[2017-01-27 12:33] muriloecfaria opened #343 "Change mask using angular 2"
How can I change the mask initially configured using angular 2?

[2017-01-27 13:01] gorhan99 commented on #156
Anyone got a solution for this?

[2017-01-27 13:11] leonibr commented on #343
short answer: You can't!
...but you can trick the component using ngif
[code]

[2017-01-27 13:17] muriloecfaria commented on #343
The problem is that I need to change it depending of user input

[2017-01-27 21:29] PerfectPixel commented on #334
What kind of html element are you using the text-mask directive on?

[2017-01-28 17:18] msafi commented on #343
@muriloecfaria A [`mask function`](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#mask-function) may be what you want.

Thanks!

[2017-01-28 17:18] #343 closed

[2017-01-28 17:20] msafi commented on #339
Thanks for posting this. I think it's related to this issue?
https://github.com/text-mask/text-mask/issues/339

[2017-01-28 17:20] #339 closed

[2017-01-28 18:07] msafi commented on #338
@andrea-spotsoftware This will work I think:

[code]

The `[]` are special array values that can only be processed if the mask is a function. Sorry about the confusion!

[2017-01-28 18:12] msafi commented on #338
@andrea-spotsoftware Actually, ignore my answer above. I misunderstood your requirements.

So, to get this to work, try the following...

[code]

The `[]` are special array values that are only required for caret positioning and they can only be used when the mask is a function (`conformToMask` doesn't accept mask functions, it only accept mask arrays). Since you're using `conformToMask` and there

[2017-01-28 18:12] #338 closed

[2017-01-28 18:16] msafi commented on #336
I'm not really sure about webpack DLL plugin. I don't have much experience with it. Could you provide a minimal example that I can play around with and dig into?

[2017-01-28 18:34] msafi commented on #335
I'm afraid this functionality is not built into text-mask. You can subscribe to changes in the model and make a RegExp check on every change though to see if it meets your requirements.

[2017-01-28 18:35] #335 closed

[2017-01-28 20:18] msafi commented on #333
@andrea-spotsoftware The behavior in that plugin is very different from text-mask. In some ways maybe it's good, but I generally feel text-mask is more natural. So, can you be more specific about what on text-mask needs to be tweaked to address the point brought in this issue?

[2017-01-28 20:46] chintan9 commented on #298
still how to Import `createnumbermask` in react

[2017-01-28 21:17] mzedeler commented on #298
I gave up on using `conformToMask` because it requires some settings that only the `InputMask` component itself contains. It could be nice if the `InputMask` just exposed a method called `conformToMask` that was using the same settings as the component itself.

[2017-01-28 21:52] msafi commented on #298
@mzedeler I think it's better to open a new issue with more details about the changes you would like to see. I hope you don't mind me closing this one. Thanks!

[2017-01-28 21:52] #298 closed

[2017-01-29 19:27] #323 closed

[2017-01-29 19:48] msafi commented on #323
This has been fixed in #344 and published as `angular2-text-mask@4.0.0`. Thanks for your contributions folks!

[2017-01-30 05:13] ashlesha86 commented on #334
<input type="text" class="form-control" placeholder="Daytime Number*" formControlName="dayPhone"
                           [(ngModel)]="userContactDetails.dayTimePhoneNumber" [textMask]="{mask: mask}"   />

[2017-01-30 07:43] rsa408 commented on #323
Hi, I've started yesterday to test new release but still it has problems. I posted on Josh' website the photo. https://uploads.disquscdn.com/images/c1400154c6e459a1554193f56dd603de09a862bb9cd44393e2097bd9b553ce7e.png

[2017-01-30 08:25] andrea-spotsoftware commented on #333
For my customer the basic problem is that if a user types a decimal number, and then he press again the decimal separator (by mistake or to correct the previous one), the number totally changes, shifting left the decimal part that becomes the less significant digits of the integer part. I would like to avoid this behavior, because can be misleading for the user.

[2017-01-30 10:18] RobbyDeLaet commented on #299
Any news about this issue?

[2017-01-30 10:29] Behnam-r opened #346 "textMask still have problem on ion-input"
creating a mask for price with `angular2-text-mask v4.0.0` and `text-mask-addons v3.0.0` but still have this error on `ion-input` ionic v2 final and mask won't work
`Cannot read property 'selectionStart' of undefined`

Someone fix it pls

[2017-01-30 10:38] adairborba commented on #346
+1

[2017-01-30 10:54] marcocarosi commented on #346
Confirmed, the recent fix done by adding _ngAfterViewInit_:

[code]

should be written instead as:

[code]

I tried and tested it on my ionic rc5 project by changing the corresponding code on the dist js file:
[code]

@PerfectPixel Shall I make a PR on this?

[2017-01-30 10:55] ihadeed commented on #346
@marcocarosi yes please do submit a PR. Thanks for taking the time to figure out a fix.

[2017-01-30 11:14] marcocarosi commented on #346
@ihadeed created a branch, committed locally but I guess I don't have access to the repository to created a PR. I guess you would need to give me access. But I have no issue if you create the same PR on my behalf.

[2017-01-30 11:14] ihadeed commented on #346
@marcocarosi you can fork the repo and submit a PR.

[2017-01-30 11:42] marcocarosi commented on #346
Requested #347

[2017-01-30 13:41] AfonsoHenrique commented on #323
I updated the package json of my project to angular2-text-mask@4.0.0 and ran npm install. The selectionStart error stopped, but the mask don't appear anymore on the browser (Chrome) or the device (iOS), don't log anything either.

<ion-input placeholder="Seu CPF" [textMask]="{mask: masks.cpf}"  [formControl]="controlFormRegistro.controls['cpf']" type="tel"></ion-input>
----------------------------

[2017-01-30 14:31] DVishin commented on #323
@AfonsoHenrique use my solution or try to make npm clear cache BEFORE npm install

[2017-01-30 15:23] rsa408 commented on #323
@DVishin if I could I will buy a beer for you. Cheers man

[2017-01-30 15:34] intellix commented on #191
In regards to a mask per country for phone numbers. It would be possible to dynamically output masks for a selected country by using the data provided by Google libphonenumber: https://github.com/googlei18n/libphonenumber

Here's an example of a library that already uses that data to dynamically change the placeholder. We could go one step further and create the mask per country as well: https://g

[2017-01-30 16:29] BenMGilman commented on #176
+1

[2017-01-30 18:07] msafi commented on #333
@andrea-spotsoftware So, if the user enters the decimal symbol a second time, what do you want to happen?

[2017-01-30 18:16] PerfectPixel commented on #334
What browser are you using?

[2017-01-30 18:52] mquandalle commented on #292
I started the work on a Typescript declaration file. I'm using it locally and it is working as expected:

[code]

@msafi Are you interested in adding this declaration file in the `react-text-mask` package?

[2017-01-30 18:54] msafi commented on #292
@mquandalle Sure, I can add it. Thanks for making it.

Just one question: adding this to the project should not affect backward compatibility in anyway, right? I'm asking because I'm not sure how TypeScript definitions are added, and when they are added, if they will affect how other users use the package?

[2017-01-30 19:05] mquandalle commented on #292
So in Typescript when you use a third-party untyped library, every function, objects, variables, etc. gets implicitly typed with the `any` type, which is a special type that accepts any value (`1`, `undefined`, `abc`, `false`, etc. are all values of type `any`).

Adding a declaration file enable meaningful type checking, and as such it will break previously silenced type mismatches (like for examp

[2017-01-30 19:15] msafi commented on #346
Just published the changes in #347 as `angular2-text-mask@4.1.0` which should hopefully fix this.

[2017-01-30 19:15] #346 closed

[2017-01-30 19:17] msafi commented on #323
We just published more changes from #347 as `angular2-text-mask@4.1.0`. Hopefully this time it'll stick :)

[2017-01-30 19:19] msafi commented on #292
@mquandalle Hmm, in that case, it sounds to me like if we publish the types file separately we give our users more flexibility and less interruptions...can we do that?

[2017-01-30 19:20] msafi commented on #264
Fixed in https://github.com/text-mask/text-mask/pull/331 and published as `text-mask-addons@3.0.0`

Thanks!

[2017-01-30 19:20] #264 closed

[2017-01-30 19:23] mquandalle commented on #292
Yes, the best way to distribute a declaration file if it's not referenced in the library `package.json` manifest, is to publish it on the DefinitelyTyped repository. Users will then be able to use it using `yarn add @types/react-text-mask` (or similar using NPM).

[2017-01-30 19:34] msafi commented on #299
I'm afraid I still haven't had time to figure it out.

[2017-01-30 19:40] msafi commented on #292
@mquandalle okay, so in that case perhaps it is best if you publish the typings file above to DefinitelyTyped?

[2017-01-31 05:48] ashlesha86 commented on #334
google chrome...i do not get any error on dev console

[2017-01-31 08:45] andrea-spotsoftware commented on #333
Well, I would like to replicate one of the following behaviors (in order of preference):
- The caret is repositioned after the previous decimal separator;
- Nothing happens.

[2017-01-31 10:47] mquandalle opened #349 "Support providing our own Input component"
Hello,

I would be interested in an additional Prop for the `MaskedInput` component, that would allow the user to provide its own `Input` component implementation, which for instance would be useful to integrate MaskedInput with http://react-toolbox.com/#/components/input

Any opinion on that?

[2017-01-31 11:52] AfonsoHenrique commented on #323
Thank you @DVishin I update everthing the cache clean and work it after

[2017-01-31 12:41] rsa408 commented on #323
Many thanks @msafi .

[2017-01-31 13:11] rogerfsg opened #350 "Error: (SystemJS) XHR error (404 Not Found) loading http://localhost:3000/angular2-text-mask - Persists"
In Node version "_nodeVersion": "6.7.0", this problem persists.

I executed
"npm i angular2-text-mask --save"

All files downloaded, and I put the follow lines in code:

import { FormsModule } from '@angular/forms';
import { TextMaskModule } from 'angular2-text-mask';

 imports: [
    FormsModule,
    TextMaskModule
  ],

`Error: (SystemJS) XHR error (404 Not Found) loading http://localhost:3000/a

[2017-01-31 17:43] TomDemulierChevret commented on #134
The compatibility with Ionic 2 doesn't seem to work anymore (since the release or last RC).
If I try to use the textMask directive within an _ion-input_, I get the following error :

But it does work perfectly if if put a regular _input_ instead.

Am I missing something ?
If not, any workaround possible ? It would be a shame to not be able to use this great plugin with the native-looking inputs of

[2017-02-01 01:58] msafi commented on #350
Can you please post a minimal project showing this issue so that we can debug it

[2017-02-01 01:59] msafi commented on #349
I think @browniefed looked into that awhile back but we couldn't agree on an implementation so we're still not sure about the best way to implement this.

[2017-02-01 02:00] browniefed commented on #349
Haven't looked into it anymore since that. I'm fine with the implementation you had come up with @msafi

[2017-02-01 02:01] browniefed commented on #349
Oh thought this was a react native question ha.

[2017-02-01 02:06] browniefed commented on #349
Sure we can do it, and we'll just use `findDOMNode` because whatever?

[2017-02-01 03:05] msafi commented on #333
You can make your own `createNumberMask` function that can give you the "nothing happens" feature. You can copy the existing number mask and modify it as below:

[code]

As for your first preference, I don't think it's achievable given how text-mask works.

[2017-02-01 09:57] mquandalle commented on #349
What about giving an input component through a new prop, like this:

[code]

For Flow and Typescript users, we could enforce that the optional `inputComponent` prop must extend `HTMLInputElement`, ie it must have all properties like `value`, `plaholder`, `setSelectionRange`, etc.

[2017-02-01 11:58] ebrandes commented on #300
@hikirsch do it. please!

[2017-02-01 13:20] alanrubin commented on #289
Any news on fixing this issue? I have experienced that today, it makes the behaviour strange when deleting chars before the thousands separator.

[2017-02-01 14:48] joashmusyoka opened #352 "Support for different placeholder character at different positions"
Thanks for the awesome input mask.

I have a use case as follows:

User should type date in the format DD/MM/YYYY e.g 01/02/2017
When the user is typing, the user should be able to see the placeholder for what they have not yet typed e.g after typing the day it would look like 01/MM/YYYY so that in case they confuse day/month, when they get to the month they know they are typing the month.

[2017-02-01 16:42] dfostic commented on #233
What if we want to change mask for functions like createNumberMask on the fly?
example:

import createNumberMask  from 'text-mask-addons/dist/createNumberMask';
...

mask = createNumberMask({
     prefix: 'USD ',
     integerLimit: 8
 });

later based on some events we want to change the mask

mask = createNumberMask({
     prefix: 'GDP',
     integerLimit: 5
 });

Do you have any ideas how/if it

[2017-02-01 16:44] browniefed commented on #349
Yes, we can do that the problem is we need access to the raw node.
The solution is just using `react-dom` and `findDOMNode(this)` to get the selection start.

[2017-02-01 16:45] rogerfsg commented on #350
I cannot attach the real application, but I got a simple example from Angular2, and tryed all instructions showed in your page.

Remember to execute after unzip:

npm install
npm start

[AppTest.zip](https://github.com/text-mask/text-mask/files/745479/AppTest.zip)

[2017-02-01 17:26] mquandalle commented on #349
Do you need the raw node outside of event handlers? (because otherwise you can get it easily with `event.currentTarget`)

[2017-02-01 17:32] mquandalle commented on #349
Just looked at the code, and it seems that the raw node is required outside of event handlers (I guess it would be theoretically possible to avoid that, but that would be a hard refactoring), so indeed `findDOMNode(this)` sounds reasonable

[2017-02-01 17:54] browniefed commented on #349
@mquandalle this is what I had brought up awhile ago as a potential, however yes unfortunately it is required at instantiation time.

[2017-02-01 23:12] FongChin opened #353 "onReject and onAccept callback functions aren't triggered when mask is a function"
I only tested this in Ember. Is this by design that `onReject` and `onAccept` functions don't get triggered reliably when mask is a function?

#### when mask is a function
![wrong-behavior-on-accept](https://cloud.githubusercontent.com/assets/1923328/22530356/fe00a078-e88f-11e6-8eaa-858451adbf48.gif)

#### when mask is an array
![right-behavior-on-accept](https://cloud.githubusercontent.com/assets

[2017-02-02 07:54] andrea-spotsoftware commented on #333
Ok, I will try this solution.
Thank you!

[2017-02-02 07:54] #333 closed

[2017-02-02 12:08] zalishchuk opened #354 "Export default module name for Angular.js"
What about to export default module `.name` property instead of `angular.Module` instance, so we can do injecting using  like in example below:

[code]

[2017-02-02 14:00] deepinit-arek commented on #309
Could we start working on this feature ? I think this is pretty important feature to have.

[2017-02-02 14:27] lozjackson commented on #353
I will take a look into this and get back to you

[2017-02-02 17:31] lozjackson commented on #353
OK, after some investigating I think the problem is in the core library.  [This line](https://github.com/text-mask/text-mask/blob/master/core/src/createTextMaskInputElement.js#L154)

Hopefully @msafi can help debug this..

I have found that if you use a mask like `[/\d/, /\d/, /\d/, /\d/]` the `onAccept` method never gets called.. and if you fill up all four characters and keep typing the `onRejec

[2017-02-02 21:34] lozjackson commented on #353
To reproduce the bug you have to set `guide` to `false`.. and have no other characters in the mask (ie. like `[/\d/, /\d/, /\d/, /\d/]` ).

As a workaround, you can set `guide` to `true`.

[2017-02-02 21:38] lozjackson commented on #353
I have been able to reproduce the bug using the vanillaTextMask..

As far as I can tell it only affects the `onAccept` callback.  The `onReject` callback gets called everytime (for me).

Unless you hit the end of a mask's length limit and then neither `onAccept` or `onReject` callbacks get called.

[2017-02-02 21:51] lozjackson opened #355 "onReject callback is not called when a character is rejected because it exceeds the mask length"
While debugging this issue https://github.com/text-mask/text-mask/issues/353 ...I found another similar issue, but I don't think they are the same.

If you hit the end of a mask's length limit then keep typing neither `onAccept` or `onReject` callbacks get called.

So with a mask like `[/\d/, /\d/, /\d/, /\d/]`...

When you have typed four characters and keep typing the `onAccept` and `onReject` c

[2017-02-02 22:32] lozjackson commented on #353
When using the numberMask, the `onAccept` callback is only called after the first `,` is added - so the first 3 characters don't trigger `onAccept.  Nothing seems to trigger `onReject`.

If I set `includeThousandsSeparator=false` then neither callback is triggered for any keypress.

[2017-02-03 08:05] ashlesha86 opened #356 "input element doesn't exist when the textMask directive runs"
Hello,
   i am using asp.net core with angular 2 template +webpack 2+. My input mask runs on 2nd or 3rd page but not on first. i guess on first page, the directive runs before the element loads and throws the error as
this.element.nativeElement.getElementsByTagName is not a function at MaskedInputDirective.ngOnInit.

Can anyone help plz?

[2017-02-03 08:28] lmeliberty commented on #300
@All, this fix works fine with Android 6.0.1 and Chrome 55 but don't work with Android 7 and Chrome 55.
In the last case, the focus are always on the first character.

[2017-02-03 15:16] PerfectPixel commented on #356
In what kind of environment are you running your angular app? Do you load the BrowserModule in your app? Are you running the directive in a web worker?

[2017-02-03 17:44] TomDemulierChevret commented on #294
I'm experiencing the same issue with last version of Ionic and Angular2-text-mask.

It's definitly related to Ionic stack since a basic input doesn't trigger this issue.

[2017-02-03 20:00] fulcircle commented on #309
Agreed, this would be super convenient in our case because we have a custom input component where the calling component has the option to pass in a textMask or not.  If they do not, we'd like to disable the textMask, but we cannot since we must always provide a mask.

[2017-02-03 20:13] mdrunk commented on #309
Event just being able to set the mask to null or an empty array would be a lot easier than duplicating controls and just hiding one.

[2017-02-03 20:14] mdrunk commented on #309
Having it disable on setting the mask property to null or an empty array would be ideal.

[2017-02-04 22:34] jgerbes opened #358 "Support for Vue 2.0"
Could you please give an update about Vue 2.0 support?

[2017-02-04 22:36] msafi commented on #358
Thanks for the question.

We have a PR open but it's not in a mergeable state. As I mentioned in that PR:

[2017-02-04 22:36] #358 closed

[2017-02-04 22:46] jgerbes commented on #358
I will have a go. Could you please explain what this line in vueTextMask.js does?

`let options = this.vm[this.expression] || {}`

[2017-02-04 22:48] msafi commented on #358
@jgerbes Not really sure, that seems like a Vue thing :)

[2017-02-05 00:23] leandroz commented on #294
@TomDemulierChevret just settign maxlength is not working for me, I get an invalid value in the model always.

[2017-02-05 01:41] jgerbes commented on #358
I have updated the Vue directive to support Vue 2.0. Please review my pull request.

[2017-02-05 20:12] msafi commented on #334
Could you please create a repo with a minimal project showing this error so that we can debug it? Thank you!

[2017-02-05 20:15] msafi commented on #289
I'm afraid there's no progress on this yet.

[2017-02-05 20:16] lozjackson commented on #355
I see in the tests for the `createTextMaskInputElement()` method that the `onReject` callback `is not called when a character is rejected because it exceeds the mask length`.

If that is how it is intended to work then this issue can be closed.. however, that doesn't seem intuitive to me - If you type a character and it is rejected it should call `onReject`.

Please correct me if this is wrong, bu

[2017-02-05 20:16] msafi commented on #352
Thanks for this request. It's been requested before and I've filed it as a feature request: https://github.com/text-mask/text-mask/issues/316

I still haven't had time to look to look into feasibility or implementation of this. Thanks!

[2017-02-05 20:16] #352 closed

[2017-02-05 20:21] msafi commented on #354
@PerfectPixel Any thoughts on this?

[2017-02-05 20:24] msafi commented on #356
Can you please create a repo showing a minimal example of this problem so that we can debug it?

I'll go ahead and close this for now, but will reopen if necessary. Thanks!

[2017-02-05 20:24] #356 closed

[2017-02-05 20:28] #336 closed

[2017-02-05 20:29] #292 closed

[2017-02-05 22:00] msafi commented on #355
To me, the use case for `onReject` is to show a message to the user that their input has been rejected, and perhaps tell them why. That's why I thought it would not make sense for this use case to show the `onReject` message after the mask has been completely filled out.

Can you describe a use case where we would want the `onReject` or `onAccept` callbacks to fire after the mask has been complete

[2017-02-05 22:04] lozjackson commented on #355
in the number mask if the cursor is at the end of the input string (ie `12345|`) and you press a key that should be rejected, like "a" it should be rejected.  The `onReject` callback is not called, but it is not accepted into the mask - that is one example.

To me, anytime the key press is not accepted it should call onReject.. so if you press a key and it doesn't appear in the input it should cal

[2017-02-05 22:06] lozjackson commented on #355
@msafi how can I run tests using the createNumberMask method as the mask in the core library so that I can run tests on the onAccept/onReject callbacks using the number mask..

[2017-02-05 22:16] lozjackson commented on #355
Some questions..

Should any keypress trigger both callbacks?

Should every keypress trigger at least one (or the other) callback?

Consider pasting in a string where some characters could be accepted and some not.. should both callbacks be triggered in this case?

[2017-02-05 22:25] PerfectPixel commented on #354
We could do that, but whats the upside of this change? Do we actually gain any usability over the regular import?

[2017-02-05 22:39] lozjackson opened #362 "createNumberMask onReject triggered by thousandsSeparator"
sorry, found another related (to #353) but different bug.

When using the `createNumberMask` with `includeThousandsSeparator` set to `true`...

The "`,`" triggers the `onReject` callback (in addition to the `onAccept` callback being called).

Take the following example:

As you type `12345` (all acceptable characters in the number mask...)..  all 5 keypresses *should* trigger `onAccept`, none shou

[2017-02-05 22:41] zalishchuk commented on #354
Actually exporting module name instead of [angular.Module](https://docs.angularjs.org/api/ng/type/angular.Module) instance is highly recommended, because of bundlers like webpack, browserify or modules in general. Default modules like angular-route or angular-animate are using this practice to have more control when importing these modules in your application, by the way you can use `'text-mask'`

[2017-02-05 22:47] PerfectPixel commented on #354
I tend to write my AngularJS apps in ES5 so I have no strong feelings about this, however, I see your point. Feel free to submit a pull request.

[2017-02-06 00:32] msafi commented on #355
I see your point. I guess both approaches could make sense depending on how you look at it. Since users haven't complained about the current behavior, I think we should leave it as is for now.

I think you can import `createNumberMask` into `createTextMaskInputElement.spec.js` and pass it to it there?

A single keypress that triggers both callbacks? I don't think so.

I don't think so either. That

[2017-02-06 08:21] lozjackson commented on #355
Perhaps in the case of a fixed length mask (although I still disagree), but in the case of the number mask, or any variable length mask, then typing `a` (into number mask) should trigger `onReject` - it shouldn't matter if the cursor is at the start, middle, or end of the string - a rejected character should trigger `onReject` (its black and white, is it not?)

I agree, but take a look at #362 - a

[2017-02-06 16:06] xtoff opened #364 "Dynamic mask"
I want to change a mask on a text input field depending on a value in a dropdown with countries.

Is that possible with a mask function? Because I can't get it to work..

[2017-02-06 18:27] yogevlahyani opened #365 "Can't use addons with angular 1"
I can't manage to use the addons with angular 1, I am using gulp and when I'm trying to do
`import emailMask from 'text-mask-addons/dist/emailMask'`

Gulp throws an error .. I tried to locate the whole folder manually and tried many things to make it work but nothing worked ..

I have read the documentation 5 times and I was not able to understand how to use the addons.

update: After linking the

[2017-02-07 02:11] zalishchuk opened #366 "Reversed conformToMask"
It is possible to make `conformToMask `do the opposite operation, like in example below?

[code]

[2017-02-07 02:20] browniefed commented on #366
You can just do that yourself. Use an regular expression that takes the masked value an only matches digits. Something as simple as `\d+`

[2017-02-07 13:54] deepinit-arek opened #367 "Add exportAs and public api to Angular2 directive"
We need to export directive so we could access its public api.
Example methods could be:
1. (show / hide ) mask.
2. Update mask.
3. Set prefix / suffix.

[2017-02-07 14:32] PerfectPixel commented on #367
Are you referring to a TypeScript export or an Angular (NgModule) export? At the moment there is no public API you could access either way, just configuration.

[2017-02-07 18:51] deepinit-arek commented on #367
None of the above. I'm referring to exportAs in component decorator.
See: https://angular.io/docs/ts/latest/api/core/index/Component-decorator.html.

Yes, I'm well aware of that, and i believe this should change.

[2017-02-07 20:22] ihadeed commented on #367
If I understand correctly, you're trying to modify the mask after initialization?

This requires the core module to export that kind of functionality, then the Angular 2 directive can provide access to it (via routing, or provide wrapper methods).

[2017-02-07 20:28] msafi commented on #367
The use cases described should ideally be accommodated by the directive in a reactive manner. That is, when a component is re-rendered with different mask options, it should simply update. Unfortunately, `text-mask` doesn't support updating after initialization, not reactively or otherwise. The way we do this in React is we destroy the component and render a new one.

[2017-02-08 00:57] simb commented on #287
I think I am ok with the value being marked as changed, as technically it has.  I just need to get the model updated so when I compare it to other things the value is what the user sees.

[2017-02-08 01:19] msafi commented on #350
@rogerfsg If you modify your `system.config.js` as follows, that will fix your issue:

[code]

I added these two lines:

[code]

I'm not sure why they're required. @ihadeed might know. But it works now.

[2017-02-08 01:19] #350 closed

[2017-02-08 02:39] #366 closed

[2017-02-08 02:41] msafi commented on #365
@yogevlahyani Sorry to hear that. Can you please create a repo with a minimal project where we can debug this?

[2017-02-08 02:43] msafi commented on #364
@xtoff Yes, it should be possible with a mask function. If you can provide a repo with a minimal project showing your attempt, I can try to make it work.

[2017-02-08 10:20] neoswf opened #368 "Text mask blocks updating the Form on length change, if length have been updated by the component & not by the user"
I got a registration form on my app, which I check on component load if the user already filled it, and then I fill it by the data coming from the server. Problem is that when I update my model, the input get filled, and _[text-mask]_ applies his mask, but it seems that by doing that _[text-mask]_ don't let the new value to pass to the form and as a result the form doesn't become valid.

Only afte

[2017-02-08 10:48] yogevlahyani commented on #365
@msafi Thanks for helping me out, I've created a repository, hope you can figure it out and understand my code :)

https://github.com/yogevlahyani/Rant-Debug

p.s
Use gulp to build it :)

[2017-02-08 16:38] nodbadthebad commented on #334
Hi,  has this issue been fixed?

[2017-02-08 17:07] ihadeed commented on #334
@msafi @PerfectPixel

The directive is not reading the host element properly. It's not even supposed to reach the part of the code where it calls `getElementsById` since it's `tagName` is `INPUT`. Since both `getElementsById` and `tagName` are undefined, that means the element is most likely not ready.

If we can get a minimal project that produces this issue, we can try to call `setupMask` ONLY a

[2017-02-08 18:12] victorluissantos commented on #134
not working in ionic v2, retunr this error:
[code]
log:
`directives: [Directive] component  does not exist in type 'component'`

[2017-02-08 18:17] ihadeed commented on #134
@victorluissantos please check the docs regarding Angular 2 usage. You have to import the `TextMaskModule` into your app's module, you no longer need to inject the directive into your components.

[2017-02-08 22:41] PerfectPixel commented on #334
I find it odd that the element that actually carries the directive does not exist. Btw `ngAfterViewInit` does not technically apply to directives as it is a component-only hook.

What we could, and I guess should do, is to run initialization once the first value to be masked rolls in.

What do you think about that?

[2017-02-08 23:09] gthomas-appfolio opened #372 "createnumbermask - trailing zero padding for currency?"
I am using `createNumberMask` in React (https://github.com/text-mask/text-mask/tree/master/addons#createnumbermask):

    <MaskedInput
       {...props}
       className="form-control"
       mask={createNumberMask({
         allowDecimal: true,
         prefix: ''
       })}
    />

And was hoping that the values would always show 2 digits after the decimal, even if one or none were entered:

Exa

[2017-02-09 13:25] ihadeed commented on #334
@PerfectPixel
You're right, `ngAfterViewInit` is a component only hook, but seems to be working well (with our recent Ionic fix).

I like the idea of initializing on first value. It would mean that the mask will not appear unless a value is entered. Not a big deal when it comes to user experience.

An alternative would be to have a global fix to all of our `init` problems, like what I mentioned in

[2017-02-09 15:17] JoxieMedina commented on #220
This work for me [https://github.com/text-mask/text-mask/issues/300#issuecomment-273241094](#300)

[2017-02-09 16:51] evbots opened #373 "guide prop required for IE11 when using with react"
When using MaskedInput in a react project I am seeing some issues when using the input in IE11.

Specifically, onChange events do not bubble to the form that wraps the input when a guide prop is not included on the Masked Input component. I have tested a MaskedInput using the guide prop and also without the guide prop. When the guide prop is not included, no events bubble to the form. It might be

[2017-02-09 17:54] simb commented on #287
@PerfectPixel @msafi Is there a branch somewhere that has what you tested that makes things dirty but sets the value correctly? This is a high priority bug with one of my clients.  So I just want to check.

[2017-02-09 18:43] sales opened #374 "Does it support custom data attribute?"
I'm using Ember, and I'm trying to add custom data to the input, but it doesn't seem to work.

`= masked-input mask=mask data-number='number' value=model.number`

Is there a way to add a custom data?

Thanks.

[2017-02-09 18:46] dfostic opened #375 "Karma/Jamin - textMask will throw an error when element.dispatchEvent is called"
I am using successfully textMask in my code and for unitTesting, but when i need to call **element.dispatchEvent(new Event('input'))** in my unitTest, i get the following error: TypeError: Cannot read property 'update' of undefined.
If i remove textMask, i don't get any errors.

HTML:
[code]

unitTest:
[code]

The App itself works fine, without any errors, and only tests are throwing me this error

[2017-02-09 20:57] lozjackson commented on #374
You need to extend the masked-input component and add `attributeBindings: ['data-number']` to the component.

[code]

then use your component instead.

[2017-02-10 11:48] PerfectPixel commented on #287
You basically have to call this function after textmask is initizalized: https://github.com/text-mask/text-mask/blob/master/angular2/src/angular2TextMask.ts#L68-L72

[2017-02-10 18:22] whoang11 opened #376 "Refresh Page Will Cause Exception Error: this.element.nativeElement.getElementsByTagName is not a function"
I have a phone edit mask that works perfectly on the page. When I refreshed this page, this error would occur, as seen on the attached picture file. However, if I remove this phone edit mask from the template (html file), I can refresh the page without getting any error.

Thank you in advance for resolving this issue.

Wen H.

![maskerror](https://cloud.githubusercontent.com/assets/7757548/2283854

[2017-02-13 00:15] msafi commented on #353
Since we've decided to remove `onReject` and `onAccept`, I'm closing this.

[2017-02-13 00:15] #353 closed

[2017-02-13 00:16] msafi commented on #355
Since we've decided to remove `onReject` and `onAccept`, I'm closing this.

[2017-02-13 00:16] #355 closed

[2017-02-13 00:17] msafi commented on #362
Since we've decided to remove `onReject` and `onAccept`, I'm closing this.

[2017-02-13 00:17] #362 closed

[2017-02-13 00:17] #367 closed

[2017-02-13 00:20] #374 closed

[2017-02-13 00:24] msafi commented on #376
I think this is the same error that has been reported here: https://github.com/text-mask/text-mask/issues/334

Let's keep track of it there.

Thanks!

[2017-02-13 00:24] #376 closed

[2017-02-13 00:25] #364 closed

[2017-02-13 00:28] msafi commented on #368
@neoswf Thanks for the question.

@PerfectPixel Any thoughts on this?

[2017-02-13 00:31] msafi commented on #334
@ihadeed the `setInterval` solution sounds very dirty...there's gotta be a more solid way?

[2017-02-13 00:33] msafi commented on #373
Thanks for reporting this @evbots. I'll test it.

What framework are you using text-mask with?

[2017-02-13 00:37] msafi commented on #375
@dfostic Thanks for the question!

It seems that what's happening is that [this line](https://github.com/text-mask/text-mask/blob/master/angular2/src/angular2TextMask.ts#L79) gets called before text-mask has been initialized, which happens in [this block of code](https://github.com/text-mask/text-mask/blob/master/angular2/src/angular2TextMask.ts#L41-L50).

As you said, text-mask works fine in the

[2017-02-13 00:37] #375 closed

[2017-02-13 00:39] msafi commented on #372
Thanks for this request @gthomas-appfolio. This is not implemented at the moment. I'll keep this issue open as a feature request.

[2017-02-13 01:00] #176 closed

[2017-02-13 02:33] msafi commented on #354
Fixed in https://github.com/text-mask/text-mask/pull/363

[2017-02-13 02:33] #354 closed

[2017-02-13 10:56] PerfectPixel commented on #368
If you inject a new value into the mask, it is not masked. Masking is only applied at user input. I guess your mask changes the overall length of the value?

[2017-02-13 13:21] neoswf commented on #368
Hi @PerfectPixel. The mask actually does get applied when I update the component's model. The value appears in the input and get masked perfectly, but the form doesn't get that something happened...
I did not place any minlength property on the input. For me a valid input is a touched one.
What do you mean by saying that my "mask changes the overall length of the value"? Is that possible?

[2017-02-13 13:26] PerfectPixel commented on #368
If you assign a value programmatically to your model, then the mask is applied to the input element but not written back to the model itself.

E.g. 123456 is shown as 1234.56 but the model itself is still 123456. You can observe that in the example app.

The issue with writing back the masked value to the model is that the form is no longer pristine but dirty. We were discussing a similar issue he

[2017-02-13 13:27] neoswf commented on #368
Sorry. I have deleted my comment before you have responded now. Ill paste it again:

Hi @PerfectPixel. The mask actually does get applied when I update the component's model. The value appears in the input and get masked perfectly, but the form doesn't get that something happened...
I did not place any minlength property on the input. For me a valid input is a touched one.
What do you mean by sayi

[2017-02-13 15:07] evbots commented on #373
No problem! I'd imagine the easy solution would be to be make guide a required prop, which would at least give developers a hint as to the problem in IE11, but it that wouldn't fix the underlying issue.

[2017-02-13 16:49] dfostic commented on #375
Thanks @msafi !
I actually have no clue how else i can initialize text-mask in my test. Because it is failing only when i do htmlElement.dispatchEvent(new Event('input'));

Does anybody have an example of input field test? (component's variable set from input)
It's urgent and i will really appreciate!!!!

Thank you!

[2017-02-13 17:16] whoang11 commented on #376
Thank you for your respond. I read the comments on the issue #334. Look like this issue has not been resolved. Do you expect to have a new version of text-mask  including a fix for this issue? Is there a work around for this solution for now?
Thanks,
Wen H.

    On Sunday, February 12, 2017 6:24 PM, M.K. Safi <notifications@github.com> wrote:

 I think this is the same error that has been reported

[2017-02-13 19:17] ihadeed commented on #334
@msafi using `setTimeout` to call the same function again after a short delay is the best solution I could think of. We can use a `while` loop instead, but I don't recommend that since it will block the script and could cause the browser to flag the page as not responsive.

Using `ngAfterViewInit` is better, but the Angular 2 documentation says it's for Components only. We're already using `ngAfte

[2017-02-13 19:42] peterdeme opened #377 "Does not detect Input change"
Hello,

I would like to dinamically change the mask, but it does not work.

[code]

It will use the initial version, but whenever the input is changed (like IsButtonClicked becomes false or true), the mask does not change.

Is it possible that this part:
[code]
needs to be changed to a setter? `@Input('textMask') set textMask( etc. etc.)`
If that's not working, maybe it needs to to subscribe to ng

[2017-02-13 20:30] peterdeme commented on #377
update: I've managed to get around this by passing in a function.
[code]
[code]
Still, I think that should be updated.

[2017-02-13 23:15] shuhkla opened #378 "onReject and onAccept being removed - What to use for callback?"
Since you guys are removing the only callback method available for masks / pipes, what would you recommend as an alternative for handling callbacks as a replacement of these two functions?

[2017-02-13 23:27] lozjackson commented on #378
What is your use case for using the callbacks?  The current implementation is buggy and either needs fixing or removing...

I've left a question re what to do with the data that was returned to the `onReject` callback.   see the PR #369

Let us know if you have any ideas...

[2017-02-15 00:25] rsamant14 opened #379 "CreateNumber mask to prevent zero value?"
I wanted to use the createNumber addon and prevent the field from having a 0 value.
For e.g. i have a currency amount that i need the user to enter a non zero value (in addition to using the masking the createNumber provides).

So if user enters a zero alone, that character is rejected.

Can this be achieved. Any help is appreciated.

Thank you

[2017-02-15 11:18] rsamant14 commented on #379
I did try to change the value by catching the formControl change and modify the model (code attached below).
This used to work (the 0 got cleared) while using angular2-text-mask version 2.2.1, but doesn't work with current versions.

In either case, with this approach, i see the zero in the field for a instance, before it is cleared.
Could a flag be added to the directive to prevent a leading zero

[2017-02-15 13:41] duard opened #380 "Memory and Hard Disk masks"
Could someone give me some masks to free memory and free disk space ?

[2017-02-15 13:51] neoswf commented on #368
Thank you @PerfectPixel. Ill close this issue and comment on the other thread, to reduce noise.

[2017-02-15 13:51] #368 closed

[2017-02-15 13:55] neoswf commented on #287
@PerfectPixel - how can I access this function?

1. How do I invoke a method after textmast have initialized? _Couldn't find it in the documentation_.
2. In order to be able to call `writeValue()`, I will access the method using a `@viewChild` reference to the element, like this: `this.elRef.writeValue()`?

Thank you.

[2017-02-15 14:14] neoswf commented on #287
Ok. I have found that I can pass an `onAccept` config. This works great. It calls a method on my component on the model initialization, but I just don't get how to call or access the `writeValue()` method. Can u help me with that _PerfectPixel_?

[2017-02-15 17:07] neoswf commented on #287
On the template i called an input tag with the next config: `[textMask]="{mask: mask, guide: false, onAccept: callOnAccept()}"`

Than on the component I imported the text-mask directive, referenced the element's @viewChild and than called the method:

[code]
I just keep on getting errors.
`inline template:45:21 caused by: el.writeValue is not a function`

[2017-02-15 17:50] marlosirapuan commented on #263
+1

[2017-02-15 19:44] PerfectPixel commented on #287
@neoswf have a look at this although it is not finished and I am not happy with it:

https://github.com/PerfectPixel/text-mask/blob/PerfectPixel-patch-1/angular2/src/angular2TextMask.ts

[2017-02-15 19:47] neoswf commented on #287
@msafi @PerfectPixel at the end I managed to resolved the problem.
As before I'm calling a function using `callOnAccept`, but the thing is that instead of calling `writeValue`, I'm calling private function `_change`

[code]
Calling `writeValue` did not pass to the `model` the masked value. Calling `_change` did the job. Problem Is that i'm calling a private function....

[2017-02-15 19:50] neoswf commented on #287
@PerfectPixel saw what u did. What exactly you haven't liked there?

[2017-02-15 19:52] PerfectPixel commented on #287
I had to manually inject *NgControl* in order to prevent the model from becoming dirty.

[2017-02-16 10:27] refo opened #382 "Unmasked Value"
Can i get unmasked user input ?

given:
`let mask = ['(', /[1-9]/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]`

masked value after user input:
`(555) 123-4567`

what i would like to get:
`5551234567`

[2017-02-16 15:06] jandramila commented on #382
Just use a regex to wipe out unwanted chars.

[2017-02-16 16:16] mariolex opened #383 "Problems Including text-mask-addons."
Hi,

Installed text-mask-addons.
Imported createNumberMask into my component

configure my systemjs:

// irrelevant code
'text-mask-addons': 'npm:text-mask-addons'
// irrelevant code
'text-mask-addons': {
   defaultExtension: 'js'
 }

import { createNumberMask } from 'text-mask-addons/dist/createNumberMask';

But I got: Module has no exported member 'createNumberMask'.

Where is the problem?
Thank

[2017-02-17 13:55] lucianocn opened #384 "Android Problem"
I'm using the latest Angular 2 lib 4.1.0 and I did all possible suggestions to avoid text-mask problem on Android Chrome, but without luck.

Adding type="tel" fixed the problem on some devices, but not on all devices.

Is there any final fix for this bug?

Thanks.

[2017-02-17 16:02] lucianocn commented on #382
@refo
```let onlyNumbers = userInput.replace(/\D/g, '');```

[2017-02-17 19:14] JulioC commented on #300
Confirming that @hikirsch fix works on my Angular 2 app on Android

[2017-02-17 20:38] refo commented on #382
Thank you guys. I was wondering if the library collects each char separately as user inputs and the char conformed to mask. For some reason, it didn't occur to me that unmasked values may vary for different masks : )

[2017-02-17 20:40] PerfectPixel commented on #384
Could you specify what _Android Problem_ you are referring to?

[2017-02-18 12:19] nasums opened #385 "Mask is adding char '_' at end of input"
Hello,
I am working on - Angular2 and Ionic 2

 public creditCardCVVMask = [/\d/,/\d/,/\d/,/\d/];

<ion-input placeholder="CVV" [(ngModel)]="vm.payment.cvv" [textMask]="{mask: creditCardCVVMask}"></ion-input>

In the form, mask is working exactly to enter 4 digits as defined in mask.

Please help me on this issue.

Regards,
Sreedhar

[2017-02-18 18:28] msafi commented on #365
@yogevlahyani I've had a look, you basically need to change [this line](https://github.com/yogevlahyani/Rant-Debug/blob/master/src/js/controllers/AddClientCtrl.js#L29) to...

[code]

The reason for this is that these modules are expected to be included with a bundler (i.e. Rollup, webpack, or Browserify), not through a `script` tag.

After I made the change, I saw a different issue, the mask gets

[2017-02-18 18:52] msafi commented on #378
@shuhkla With Angular, you can add `onInput` callback to the element. With React, you can add `onChange` callback. I assume other frameworks have equivalents callbacks too.

Could you describe the use case for which you think `onReject` and `onAccept` are necessary?

[2017-02-18 20:08] msafi commented on #376
We have a PR on #334 that was merged and will be published soon. So hopefully that'll fix it.

[2017-02-18 20:14] msafi opened #388 "Make components update when mask or configurations change"
Currently, Text Mask initializes once. If, after initialization, the mask or other configurations change, the components don't update. The workaround for this is to destroy and recreate the component whenever you need to update the mask or other configurations.

Ideally, we should update the components to make them "reactive". That is, when any configurations change, they should immediately be ref

[2017-02-18 20:15] msafi commented on #377
Thanks for this suggestion, this is a limitation in Text Mask for the moment. I created an issue to keep track of it here: https://github.com/text-mask/text-mask/issues/388

[2017-02-18 20:15] #377 closed

[2017-02-18 20:19] msafi commented on #379
@rsamant14 Thanks for the question.

You can checkout the [`pipe`](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#pipe) or mask [function features](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#mask-function). Through them you can achieve that.

[2017-02-18 20:20] msafi commented on #380
Could you please add more details about what you need?

[2017-02-18 20:22] msafi commented on #383
Can you provide a minimal repository showing how you're including the `createNumberMask` in your build? I can then run your project and debug it.

[2017-02-18 20:24] msafi commented on #382
👍

[2017-02-18 20:24] #382 closed

[2017-02-18 20:27] msafi commented on #384
I think @lucianocn is referring to this bug https://github.com/text-mask/text-mask/issues/300?

Unfortunately, other than the suggestions presented on that thread, we don't know of other workarounds.

Let's keep track of progress on that thread. Thanks!

[2017-02-18 20:27] #384 closed

[2017-02-18 20:39] msafi commented on #314
I think this is an Ionic problem, the same as what's been filed at #294. Let's keep track of it there.

[2017-02-18 20:39] #314 closed

[2017-02-18 20:39] msafi commented on #385
Thanks for this report @nasums

This issue has been reported here https://github.com/text-mask/text-mask/issues/294

Let's keep track of it in that thread.

Thanks!

[2017-02-18 20:39] #385 closed

[2017-02-18 20:44] msafi commented on #274
This maybe related to #294 so I'll go ahead and close it. Thanks!

[2017-02-18 20:44] #274 closed

[2017-02-18 21:37] msafi commented on #334
We just merged and published @PerfectPixel PR #381 which fixes this issue by initializing Text Mask input element when the user interacts with the input.

The new version with the fix is `angular2-text-mask@5.0.0`.

Thanks!

[2017-02-18 21:37] #334 closed

[2017-02-18 21:41] msafi commented on #309
Alright folks, so now it's possible to switch off masking by passing in a [mask function](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#mask-function) and returning `false` from it when you want to disable masking.

(In the future, when issue #388 is resolved, it should also be possible to switch off masking when you pass `false` instead of an array as the mask value

[2017-02-18 21:41] #309 closed

[2017-02-19 19:31] lozjackson commented on #388
@msafi just playing around with some ideas at the moment and wanted to throw them out there for feedback.

I'm looking to find a way to make the core library more 'reactive'..  How about reworking the core to implement an api like

[code]

would this be better than having components re-initializing the `textMaskInputElement`?

I have hacked at the core to see if something like that could work, and

[2017-02-20 03:28] msafi commented on #388
@lozjackson These sounds like good ideas. I haven't explored this problem much. If you can get one of these approaches to work, perhaps we can go with it?

[2017-02-20 13:04] lozjackson commented on #388
they all can work.. its a question of which approach is going to benefit the framework components best.

The idea that I am now leaning towards is passing in a `config` object that is stored in the `textMaskInputElement` object, as an object rather than being destructured into variables.. then the object can be mutated and the text mask config will update.

[code]

In the core..  `createTextMaskIn

[2017-02-20 13:16] lozjackson commented on #388
A couple of questions though..

1.. do we want to allow changing the `inputElement`? I'm thinking probably not..

2.. what about changing the mask property?  Should the mask be updated through a function (`.updateMask(mask)` for example), and that function is responsible for setting the placeholder?

[2017-02-20 13:31] lozjackson commented on #388
you also can't change the `placeholderChar` (without running some kind of init/update method)..

[2017-02-20 15:00] duard commented on #380
I was trying to show a VALUE in MB or GB ... memory or free hard disk space.

[2017-02-20 17:55] msafi commented on #380
@duard Perhaps the [`createNumberMask`](https://github.com/text-mask/text-mask/tree/master/addons#createnumbermask) can do what you want

[2017-02-20 23:13] Deadsoil commented on #300
Is there an angular 2 fix for this?

[2017-02-21 02:25] msafi commented on #388
@lozjackson Can't we change the `update` method to pass all the configs to it every time we call it? Today, `update` takes one argument, which is the value to be conformed. How about we add a second argument, which is the `config`?

[2017-02-21 13:44] igor-nostrum commented on #300
@Deadsoil, I made this change on **textMaskCore.js**:

change:
`function i(e,r){document.activeElement===e&&e.setSelectionRange(r,r,g)}`

to:
`function i(e,r){if(document.activeElement===e){setTimeout(()=>e.setSelectionRange(r,r,g),0);}}`

I think that **textMaskCore.js** file is the minified version of **createTextMaskInputElement.js** in Angular2/Ionic2.

[2017-02-21 16:30] lucianocn commented on #300
@msafi can @hikirsch solution be included in the release version?

[2017-02-21 16:32] rsamant14 commented on #379
Thank you for the help. I will try this (travelling over the next few days) and close the issue.

[2017-02-21 16:50] browniefed commented on #300
As mentioned before, adding `setTimeout` will "fix" this issue and add a HEAPING amount of issues.

Typing becomes async now, and typing fast is now broken. `setTimeout` is not a solution. There needs to be an alternative solution. Different event listeners possibly.

[2017-02-21 17:38] fernandobandeira commented on #300
This was fixed with the setTimeout on [this library](https://github.com/igorescobar/jQuery-Mask-Plugin/blob/master/src/jquery.mask.js#L220)

Used a timeout of 10ms instead of plain 0, afaik it didn't add any issues, this was fixed around 3/4 months ago, maybe increasing the ms on settimeout may help a little.

IDK just giving some info as it may help somehow, it seems possible, here's a [demo](htt

[2017-02-21 21:37] lozjackson commented on #388
I have considered that approach.. and it can work and has some advantages.. however.. if we pass all config to the `update()` method every time, then you have to process the mask with `convertMaskToPlaceholder` on every update (which may not be a big deal).. but basically theres not much else going on at init time... so effectively, compared to now, we would be re-initialising on every keystroke..

[2017-02-21 21:37] hikirsch commented on #287
i think we have the same issue but I was able to replicate it without using ionic and using one of the addons.

long story short - http://plnkr.co/edit/irb1eFp0xzOJuDY7J5lS?p=preview

if you try angular2-taskmask 5.0.0, and you try a date like "09/09/1955" you will see the model value is "09/09/1955_" and if you type another number it will get appended.

If you take the version back to 4.0.0, it w

[2017-02-21 22:00] msafi commented on #388
One reason I like the current design is that it makes the implementation of framework components straightforward. Considering that the alternative approach is a long way from where we are, I would be reluctant to move toward it without seeing major benefits.

I think it's fine to execute `convertMaskToPlaceholder` on every keystroke. I doubt we'll see performance issues, and if we did, we can look

[2017-02-21 22:07] lozjackson commented on #388
so, basically.. what your suggesting is that the `createTextMaskInputElement` method would not do much other than set empty state and return the object containing the update method.. and all other processing would be moved into the `update` method and performed on every keystroke..

that could work.. and would be fairly easy to refactor.. and not to far from the api we currently have.

[2017-02-21 22:14] hikirsch commented on #294
i think we have the same issue but I was able to replicate it without using ionic and using one of the addons.

long story short - http://plnkr.co/edit/irb1eFp0xzOJuDY7J5lS?p=preview

if you try angular2-taskmask 5.0.0, and you try a date like "09/09/1955" you will see the model value is "09/09/1955_" and if you type another number it will get appended.

If you take the version back to 4.0.0, it w

[2017-02-21 22:42] PerfectPixel commented on #294
@hikirsch This is a regression I introduced with 5.0.0 by accident. I provided PR #390 with a fix.

[2017-02-21 22:59] lozjackson commented on #388
How about this.. (It is compatible with the current api... which is a bonus)

https://github.com/lozjackson/text-mask/blob/core-update-config/core/src/createTextMaskInputElement.js

[2017-02-21 23:26] lozjackson commented on #388
this works really well.. If you pass in a config object to the `createTextMaskInputElement` method, in the same way as you do currently.. you can mutate it after the fact... but you can also (optionally) pass in the config with the call to `update`.  It opens up lots of possibilities, without changing the api hardly at all.

[2017-02-22 10:52] Mapalagama commented on #134
import {TextMaskModule} from 'angular2-text-mask'
seems incorrect.
What is the correct import statement ?

[2017-02-22 14:11] Taylor1990 opened #393 "Disabling mask"
How to disabled angular2-text-mask, like something [textMask] = "mask_field.length ? {mask:mask_field, guide: true}: {mask: false}". I can't change NgModel, if mask_field.length == 0.

[2017-02-22 14:25] lincolnthree opened #394 "Problem with Angular2 and Ionic2 when using Reactive Forms"
Hey there,

Just tried to set this up and quickly ran into the following error. Not sure what I'm doing wrong but any help would be appreciated. Thanks! Using your recent Angular 5.0.0 release.

[code]

And my stuff:

[code]

[code]
I tried with and without [(ngModel)]:
[code]

Thoughts? Thanks. I also tried without <ion-label>. No luck.

[2017-02-22 14:27] lincolnthree commented on #394
Errr. I might be an idiot. Hang on.

[2017-02-22 14:33] lincolnthree commented on #394
Yup. Thanks :)

[2017-02-22 14:33] #394 closed

[2017-02-22 14:41] PerfectPixel commented on #393
At the moment, you cannot disable the mask.

[2017-02-22 15:01] lozjackson commented on #393
The mask can be disabled by setting the mask property to `false`, or returning `false` from a mask function

[2017-02-22 15:06] PerfectPixel commented on #393
I was not thinking of that. My first guess is that you would need to keep the object reference of the textMask config unchanged otherwise textMask will not be aware of the changed mask.

[2017-02-22 15:44] Taylor1990 commented on #393
I have a button: `<div  (click) = "onClear()">clear</div>`
and function:
 `onClear(): void{
        this.value = '';
        this.valueChange.emit(this.value);
    }`

Variable "value" - NgModel input:
`<input type = "text"
           [textMask] = "mask_field.length ? {mask:mask_field, guide: true}: {mask: false}"
           class = "input__input"
           [(ngModel)] = "value"
           (ngMod

[2017-02-22 15:57] PerfectPixel commented on #393
In my tests I receive an error from core if I pass false to the mask.

[2017-02-22 15:59] lozjackson commented on #393
ohh.. what kind of error? ..any more info?

[2017-02-22 16:00] PerfectPixel commented on #393
`.indexOf()` is undefined, I got the minified core with angular2. I'll have to check if I can find the unminified line.

[2017-02-22 16:10] lozjackson commented on #393
firstly, make sure the angular component is using core v2.. v1 didn't support disabling the mask.

secondly, what is the value you are passing to the mask, it should be `false` to disable the mask, not `null` or `undefined`.

[2017-02-22 16:11] PerfectPixel commented on #393
I tried false and a function that returns false.

[2017-02-22 16:15] lozjackson commented on #393
just checking but did you try `mask = false`, not `mask=[false]`?

[2017-02-22 16:17] PerfectPixel commented on #393
Updating to v2, the error is gone and the input is empty despite that a value is passed in. So does core return the unmasked value or does it just swallow it?

[2017-02-22 16:21] lozjackson commented on #393
see [this line](https://github.com/text-mask/text-mask/blob/master/core/src/createTextMaskInputElement.js#L53)

It basically just returns, and leaves the input to behave like a standard input.  It should allow free text as an normal input would..

[2017-02-22 16:22] PerfectPixel commented on #393
Ok that case is actually not covered in the angular implementation

[2017-02-22 16:29] lozjackson commented on #393
well. thats not something that I can help with as I know nothing about the angular implementation.

[2017-02-22 16:32] PerfectPixel commented on #393
@lozjackson I'll submit a PR as I wrote most of the implementation for angular

[2017-02-22 17:57] #380 closed

[2017-02-23 04:37] jonsaw opened #395 "Cursor skips behind at masked characters on certain keyboards"
![20170223-122632_capture](https://cloud.githubusercontent.com/assets/1572333/23244994/28fbe040-f9c4-11e6-94f5-36965f7689cd.gif)

The keyboard here is Chinese (Pin Yin). The cursor is always behind on masked characters. ~However,  it is fine when we use a regular English keyboard.~ Same thing with English keyboards on Android.

[2017-02-23 19:53] simb commented on #287
Are we nearing a resolution on this one?

[2017-02-24 01:46] msafi commented on #395
Thanks for filing this issue. It's the same as #300. Let's keep track of it there. Thanks!

[2017-02-24 01:46] #395 closed

[2017-02-24 02:21] msafi commented on #300
I'm thinking that maybe we should just add the `setTimeout` solution, even though it is less than ideal. For example, if you bash at the keyboard fast, the cursor will not maintain accurate position. You can try that on [the demo page](https://igorescobar.github.io/jQuery-Mask-Plugin/) that @fernandobandeira posted. But if it works for real-world situations (which do not involve bashing mindlessly

[2017-02-24 02:25] msafi commented on #393
@PerfectPixel what do we need to change in Angular to accommodate this change?

[2017-02-24 02:32] msafi opened #396 "`createNumberMask` integer limit doesn't work when `thousandsSeparatorSymbol` is a period"
See this https://github.com/text-mask/text-mask/pull/331#issuecomment-281971722

[2017-02-24 02:41] msafi commented on #287
The implementation is in @PerfectPixel's hands.

But there might be more to discuss...

@lozjackson is arguing that updating the model with the initial value maybe undesired. See this https://github.com/text-mask/text-mask/pull/389#issuecomment-281378907.

Ideally, whatever is being displayed should equal the model, but @lozjackson brings up some good points...so, I'm really not sure what's the be

[2017-02-24 02:44] #383 closed

[2017-02-24 02:45] #378 closed

[2017-02-24 02:45] #365 closed

[2017-02-24 04:01] browniefed commented on #300
I understand, I really don't want this though. Are there alternative solutions here if we change the binding from onInput to use both onKeyUp when needed, as well as onInput?

Or additionally because pasting was the issue I brought up before, can we do onKeyUp and also format onPaste?

[2017-02-24 09:46] Deadsoil commented on #300
I've tried my hardest to break this solution... Mashing keys etc... Cannot do it. Even on the crappiest of android phones.

I believe this is a suitable solution.

[2017-02-24 12:53] tthlaszlo opened #397 "Problem with 'm2'"
I created a new mask to size (m2). It's a very basic mask:

`private sizeMask = createNumberMask({
        prefix: '',
        suffix: ' m2'
    });`

But when i use it, it always add the leading '2' char to the amount, when i enter a new number.

[2017-02-24 13:40] msafi commented on #300
@browniefed Perhaps, but adding the `setTimeout` solution would be a much simpler fix. It would not require any framework component changes.

We can minimize the impact of this change by only applying it for certain environments, like on Android.

So [this function](https://github.com/text-mask/text-mask/blob/master/core/src/createTextMaskInputElement.js#L166-L170) needs to change to...

[code]

W

[2017-02-24 14:00] rsamant14 commented on #379
This helped me a lot. Thank you for the help.

[2017-02-24 14:00] #379 closed

[2017-02-24 15:58] PerfectPixel commented on #287
Maybe we should provide an option to enable initial masking or let users mask their values themselves with conformToMask?

[2017-02-24 15:59] PerfectPixel commented on #393
Yes, we need to change Angular (Version 2+) and AngularJS.

[2017-02-24 16:07] browniefed commented on #300
Scoping it to just android would be an acceptable solution for now

[2017-02-24 18:48] #396 closed

[2017-02-24 19:03] msafi commented on #287
@PerfectPixel I think we should just let users mask their values themselves with `conformToMask`.

[2017-02-24 23:01] lozjackson commented on #397
Thanks for reporting this.. I guess no-one accounted for the possibility that a suffix could contain numbers.. basically, the non-numeric stuff is stripped out leaving numbers, and in this case the `2` is incorrectly left in..

It should be a fairly easy fix.

[2017-02-25 00:14] #397 closed

[2017-02-25 01:05] sharpmachine commented on #294
@PerfectPixel I don't think your PR fixed the issue that @hikirsch is describing because I'm still experiencing that exact issue.

[2017-02-25 01:28] #300 closed

[2017-02-25 03:20] msafi commented on #300
Alright folks, published new core and new components to npm that include [this fix](https://github.com/text-mask/text-mask/blob/master/core/src/createTextMaskInputElement.js#L167-L175).

[2017-02-25 03:22] msafi commented on #397
Published fix as `text-mask-addons@3.3.0`

[2017-02-25 03:26] msafi opened #401 "New primary maintainer: @lozjackson 🎉"
Friends,

I can't find the time to spend on Text Mask anymore. I will be handing over maintenance responsibilities to @lozjackson. Loz has built the Ember integration and worked on addons and core, so he is familiar with the overall structure of the project. And I'll still be around if needed.

Thank you!!!

MK

[2017-02-25 11:38] PerfectPixel commented on #294
@sharpmachine could you provide more information or perhaps a plunkr? I cannot find any hint in the debugger that it is not working.

[2017-02-25 11:39] PerfectPixel commented on #401
Thanks @msafi :)

[2017-02-25 23:09] lozjackson commented on #349
I've submitted a PR (#392) that will hopefully make this easier.. it will allow the config object to be passed into the `update` method.. i.e. `textMaskInputElement.update(value, config)`.

[2017-02-25 23:12] browniefed commented on #349
@lozjackson this was never the issue actually. The main issue was the the core required an `inputElement` at run time.

Meaning it would require you to use `ReactDOM.findDOMNode(this)` to get access to the lower level `input` node in `componentDidMount`.

Ideally this would not be the case. I wish the core knew nothing about Input Elements at all and just received values and returned values. This

[2017-02-25 23:31] lozjackson commented on #349
I know very little about React.. and I don't really understand why you can't easily access the input element.

The core needs the `inputElement` so that it can set the caret position. If that wasn't the case then perhaps you could stub the `inputElement` with an object that looks like an input element.  Something like

[code]

[2017-02-25 23:36] browniefed commented on #349
@lozjackson I understand what the core needs. I'm saying it doesn't need the `inputElement` at startup to set the Caret position. It only technically needs it on update.

That's neither here nor there.
What this is saying is that we want users to be able to provide their own component.

At the moment we render like
[code]
However we want to be able to do

[code]

The issue is that if we added `ref

[2017-02-25 23:45] browniefed commented on #349
In previous PRs I've refactored the core.
Basically you expose 2 functions.
1) createTextMaskInput -> does everything it does now and maintains internal state (calls function below)
2) conformValuesForInput -> basically everything core does now but receives values, selectionStart, and then returns the next value and selection

This allow for you to maintain what all existing things depend on but e

[2017-02-26 11:23] lozjackson commented on #349
I get what your saying now.  ...and I had a look through that PR (#196).. I had a similar idea about re-organising the core a while back and previously dismissed it.. and I recently brought it up in conversation in #388 as an idea for helping to make the core more "reactive".  We decided that it would be a lot of refactoring and not to go down that road.

Out of interest, why didn't #196 get merge

[2017-02-26 13:40] lozjackson commented on #294
I've tried the included angular example app and the bug does appear to be fixed.  If I comment out [this line](https://github.com/text-mask/text-mask/pull/391/files#diff-4e3ef722d7c6ecf44c4879917135e853R78) then I see the behaviour that @ihadeed and @hikirsch describe.

So it appears to me that the bug has indeed been fixed in `angular2-v6.0.0`.  Can anyone else confirm either way?

[2017-02-26 16:13] lozjackson commented on #287
I honestly don't know what the best thing to do here is..

If this works for everyone then I think that is probably the approach we should take.. Otherwise I think making it optional is a good idea (with the default value being `false` - no initial masking).

[2017-02-26 18:40] browniefed commented on #349
@lozjackson  I believe the idea was he didn't want to maintain all of the different components. Just make one to maintain and write simple integrations.

I understand but my issue with that was it didn't allow for all the edge cases that arise when you're dealing with all edge implementations across all of these libraries. You do not end up building an ideal component for any library.

However spl

[2017-02-27 02:21] browniefed commented on #349
Forgot to mention one other thing to consider. In latest React (haven't tested in 16 or with fiber), IE10 breaks if you are using controlled inputs and setting the cursor position in `componentDidUpdate`.

This is why we use uncontrolled inputs (aka using `defaultValue`). This will have implications for this issue.

[2017-02-27 02:55] julesterrien opened #403 "Enable different placeholders"
Would it be possible to have different placeholders instead of just one placeholderChar?

For example, this would allow you to render a date-of-birth component with the placeholders `mm-dd-yyyy` instead of `__-__-____`

If it's already supported, let me know where I can find more info on how to implement it?
Thanks for the library -- <3 it

[2017-02-27 02:59] browniefed commented on #403
This I do not believe is implemented at the moment. There are some limitations here as the core code does some work to figure out what needs to be removed/updated based upon a static placeholder character.

That being said I think this would be a cool feature.

[2017-02-27 07:52] julesterrien commented on #403
Cool -- yea we may nee to use another library to support this use case unfortunately. If you think it's worth it, happy to work on a PR later this month when work calms down on my end

[2017-02-27 08:19] lozjackson commented on #403
Hi thanks for the request. Yes, it is a needed feature..  This is a duplicate of #316 so I'll close this thread and keep track of it there.

PRs welcome but, as @browniefed said, its not an easy nut to crack.  ...would love to see some ideas for how to tackle it though.

[2017-02-27 08:19] #403 closed

[2017-02-27 08:45] TomDemulierChevret commented on #294
I can confirm the issue is fixed for Angular (at least for v2.2.1, haven't tested other versions) but the issue is still present with Ionic2 "ion-input".

[2017-02-27 08:48] lozjackson commented on #294
thanks for the feedback

[2017-02-27 09:18] TomDemulierChevret commented on #294
A current workaround is to slice the value in the unmask function (which is kinda mandatory anyway if you have a complex mask but still want the "raw" value).

BUT another issue occurs if you use form validations.
The validation pattern is tested against the model BEFORE you can unmask it, and the test obviously fails because of the additionel character.

There is a workaround to this if you add a

[2017-02-27 09:23] mistadikay opened #404 "Changelog"
Hi, first of all, thanks for your work, great library!

Next: I've seen a major version for `react-text-mask` being bumped twice for the last 1.5 weeks. However, it's not really clear for me from the commit history what are the breaking changes exactly. Do you think it's possible to have some sort of changelog with such information? Thanks.

[2017-02-27 09:29] lozjackson commented on #404
For now you can look through the PR history - Its not ideal, I might consider adding a changelog.

We have been following [ComVer](https://github.com/staltz/comver).  So breaking bug-fixes (or any breaking change) requires a major version bump.

I think the only recent changes have been bug-fixes.

[2017-02-27 09:59] lozjackson commented on #404
Recent changes to `text-mask/core`:

* [#400](https://github.com/text-mask/text-mask/pull/400) [BUGFIX] Fix incorrect caret position on Android
* [#369](https://github.com/text-mask/text-mask/pull/369) [BREAKING] Remove onAccept and onReject callbacks from core
* [#359](https://github.com/text-mask/text-mask/pull/359) [BUGFIX] Ability to disable masking.

As far as I can tell the only changes to t

[2017-02-27 10:04] mistadikay commented on #404
Cool, thanks for explanation!

[2017-02-27 10:58] StyMaar opened #405 "Server-side rendering is broken since last bug-fix for Android"
This commit https://github.com/text-mask/text-mask/commit/81e520661dfaeb2260393870b63be4534841d9fd adds a reference to the `navigator` variable, which break the library in a nodejs context.

[2017-02-27 11:00] lozjackson commented on #405
Thanks for reporting this.

@msafi any thoughts on this?

[2017-02-27 11:04] #404 closed

[2017-02-27 13:34] lozjackson commented on #405
This also breaks ember-fastboot compatibility.

a quick fix could be something like

[code]

[2017-02-27 13:55] cristalembalagens opened #406 "Alternative key for decimal separator"
Hi everybody, I would like to suggest to add an alternative key that when typed would take the cursor to the decimal part of the number.

For example: When I set comma to be the decimal separator and then I hit the comma key, it takes me to the decimal part, but I would like to do the same with the period key, so, period key would be the alternative. The same way I could set period to be the decim

[2017-02-27 16:19] benbabics commented on #294
I'm so glad there is a current discussion about this. @TomDemulierChevret do you have an example of what the mask would look like? I'm using this for a US phone number (but I would like to have it dynamic for other country phone numbers as well), and it still appends an `_` at the end, which fails validation like you described. Here's what I'm using:

[code]

[2017-02-27 16:20] sharpmachine commented on #294
@PerfectPixel  I installed from npm on Friday. It installed 5.0.0. Here's the values:

![screen shot 2017-02-27 at 8 19 09 am](https://cloud.githubusercontent.com/assets/600836/23369250/8f2a4bbe-fcc5-11e6-8f62-2884c0e6973c.png)

![screen shot 2017-02-27 at 8 19 01 am](https://cloud.githubusercontent.com/assets/600836/23369255/928d0a58-fcc5-11e6-87e9-4e8655d2952c.png)

[2017-02-27 16:26] sharpmachine commented on #294
There must have been a delay of when 6.0.0 being released and npm getting that release. Today I reinstalled and it installed 6.0.0 and the issues is fixed.

[2017-02-27 16:29] TomDemulierChevret commented on #294
@benbabics my current workaround looks like this :

_**Template**_
[code]

**_Controller_**

[code]

[2017-02-27 16:30] benbabics commented on #294
@sharpmachine just updated to `6.0.0` and the quick test I ran passed. Thx

[2017-02-27 17:42] #405 closed

[2017-02-27 17:46] StyMaar commented on #405
Thanks for the amazingly quick answer !
Any idea about when is the next released scheduled ?

[2017-02-27 17:50] lozjackson commented on #405
I will publish a release with this fix hopefully sometime later today.

[2017-02-27 19:49] lozjackson commented on #405
the fix has been published in `core-v3.1.0`

[2017-02-27 20:17] PerfectPixel commented on #294
@msafi @lozjackson btw. why are we going so crazy with the version numbers? 6.0.0 was just a bugfix for 5.0.0 and should be 5.0.1 not 6.0.0.

[2017-02-27 20:21] lozjackson commented on #294
@PerfectPixel  We have been following [ComVer](https://github.com/staltz/comver). So breaking bug-fixes (or any breaking change) requires a major version bump.

I'm up for a discussion about semver vs comver.  Is it bad practise to mix between the two??

[2017-02-27 20:23] PerfectPixel commented on #294
I just find it odd that a little fix for an regression introduced while updating 4.1.0 to 5.0.0 is then 6.0.0. But I'm not familiar with ComVer and honestly I do not have a strong opinion on it :-)

[2017-02-27 22:55] lozjackson commented on #294
I find it a little odd too.. I'm not sure I completely agree with comver personally...  but basically the tl;dr is that any non-backwards-compatible change to an existing behaviour should be a major version bump.. Only if its completely backwards compatible would it be a minor version bump..(comver doesn't allow patch version, ie x.x.1)..

[2017-02-27 22:56] PerfectPixel commented on #294
Hehe, the good thing is: it is fixed!

[2017-02-27 23:02] lozjackson commented on #294
but is it?.. @TomDemulierChevret seems to be suggesting that the issue is still there when using Ionic2.. can anyone confirm?

@TomDemulierChevret Can you confirm that your using `angular2-v6.0.0`+

[2017-02-28 00:05] lozjackson commented on #406
Thanks for the suggestion.

[2017-02-28 11:06] TomDemulierChevret commented on #294
@lozjackson Yes, I've made my test with the angular2-v6.0.0.
With plain Angular 2 `<input>` it does work a expected (code below) but with Ionic2 `<ion-input>` I need to use the workaround explained before.

Angular 2 version :
_**Template**_
[code]

**_Controller_**

[code]

[2017-02-28 18:41] leandroz commented on #287
I think it should be able to apply a mask programmatically, that will give the users a lot of flexibility.

[2017-02-28 19:04] leandroz commented on #299
maybe a fake key event?

[2017-02-28 22:31] andys8 commented on #67
Any updates for this issue? :)

[2017-02-28 22:39] lozjackson commented on #67
@andys8 nothing has changed in this space.. if you would like to request a change please open a new issue with some more info..

[2017-02-28 23:15] andys8 commented on #67
Thanks for the quick reply. I found out[ Cleave.js](https://github.com/nosir/cleave.js) is using `<input type="tel">` on their [demo site](https://nosir.github.io/cleave.js/) to show the numpad on mobile devices. Not the best, but seems to be the only working solution. If it's possible with `text-mask` too, it could be a good idea to add an example to the demo page.

[2017-03-01 12:27] alexKnysh commented on #280
Hi,
Give please example use mask function
I have regExp:

/[0-9]/, /[А-ЯЁ]/

What use mask function?

[2017-03-01 12:29] alexKnysh commented on #343
Hi,
Give please example use mask function
I have regExp:

`/[0-9]/, /[А-ЯЁ]/`

What use mask function?

Thank you

[2017-03-01 12:39] lozjackson commented on #343
@alexKnysh Please read the [docs here](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#mask) and the [Angular README here](https://github.com/text-mask/text-mask/tree/master/angular2#getting-started)

If you have any other questions please open a new issue

[2017-03-01 13:25] alexKnysh opened #410 "mask function"
Hi,
Give please example use mask function
I have regExp:

/[0-9]/, /[А-ЯЁ]/

What use mask function?

Thank you!

[2017-03-01 13:28] alexKnysh commented on #410
what dos' not  add implements OnChanges in directive?
I have add implements OnChanges in directive

`export class MaskedInputDirective implements ControlValueAccessor, OnChanges {
....
    ngOnChanges() {
        if (this.textMaskConfig) {
            this.setupMask();
        }
    }
...
`
The it's working.

Thank you!

[2017-03-01 14:01] alexKnysh commented on #343
@lozjackson  I read the  docs here and the  Angular README here. I not find information for dinamic mask.
Thank you!

[2017-03-01 15:07] StyMaar commented on #300
I upgraded to the latest version of `react-text-mask` but I'm still facing the problem. Device: Samsung Galaxy Note 4, Android 6.0.1

[2017-03-01 17:49] lozjackson commented on #410
Its difficult for me to understand exactly what your asking.

To use a mask function the function you create a function which returns an array
[code]

Hope that helps

[2017-03-01 19:04] stefmabo commented on #388
@lozjackson  Can you provide a demo to update the mask?

[2017-03-01 19:32] stefmabo commented on #343
I don't find information about dinamic mask.

[2017-03-01 19:46] lozjackson commented on #388
@stefmabo which framework component are you using?

[2017-03-01 19:50] lozjackson commented on #343
The docs may need updating to reflect the more recent changes made to `text-mask-core`..

[2017-03-01 19:55] lozjackson commented on #388
I don't use Angular2 personally.. however, I don't think the angular2 component supports this yet.

@PerfectPixel can you help with this?

[2017-03-01 19:57] PerfectPixel commented on #388
Yes, I can.

@stefmabo as you can see in the list in the first post by @msafi, the angular component has not yet been updated and, therefore, you cannot update the mask.

[2017-03-01 23:35] lozjackson opened #412 "Calling update on every render - acceptable?"
[This check](https://github.com/text-mask/text-mask/blob/master/core/src/createTextMaskInputElement.js#L34) is here to handle controlled framework components that repeat the `update` call on every render.

@msafi Which components currently rely on this check?

and is it ok to be relying on that check?..

Currently the ember component does not - it calls update only once per keypress.. but I'm cons

[2017-03-02 01:10] nicholaswjr commented on #300
@msafi
Ubuntu 16.04 Chinese input having this issue too..

[2017-03-02 01:36] msafi commented on #412
I think the React and Angular components rely on this check. I think it's okay to rely on this check, I don't see why not. There wasn't a practical performance impact for which this check was introduced. I put it there just because I didn't think it was necessary to execute `update` a second time.

[2017-03-02 08:21] lozjackson commented on #412
thanks

[2017-03-02 08:21] #412 closed

[2017-03-02 14:55] christophercr opened #413 "Improve TextMaskAddons build to avoid including "dist" in the import path"
Hi,

First of all I want to thank you for such a nice library... it's really cool that is framework agnostic!

But... (there are always buts...)

Currently the way the TextMaskAddons should be imported is too verbose I think: you can import them only one by one and specify the path `"text-mask-addons/dist/xxxx"`.

This is not practical in my opinion and also it is not consistent with the way you i

[2017-03-02 15:38] christophercr opened #414 "Core: mismatch between actual API and docs: function convertMaskToPlaceholder() is not exposed"
Hi,

I'm trying to use this library in my project (with Typescript) so I started by creating the type definitions for it (I will most likely push them to DefinitelyTyped).

However I found this mismatch: in the docs for text-mask-core, it is mentioned that the `testMaskCore` object exposes 3 function:

- conformToMask
- adjustCaretPosition
- convertMaskToPlaceholder

But in fact these are the func

[2017-03-02 17:30] lozjackson commented on #414
yeah, sorry about that..the docs are out of date.. there was a note saying that, however, I recently removed and updated (~~~most~~~ some of) the docs, but obviously missed a big chunk..

I'll get on to that and update them

[2017-03-02 17:47] lozjackson commented on #413
I don't see any problem with any of that. (needs to be backwards compatible with what we have already).

Your welcome to submit a PR.. then we can review it and check it works for everyone.

sorry, I can't answer that - I don't use typescript.. (I use Ember personally)

@PerfectPixel can you help with the typescript question?

[2017-03-03 08:23] #414 closed

[2017-03-03 08:27] lozjackson commented on #410
I'm gonna close this now.. Please re-open if you need any more info

[2017-03-03 08:27] #410 closed

[2017-03-03 16:19] mhazy opened #416 "Text mask configuration isn't updated when props change (React)"
With the recent changes from #392, changes to the mask configuration props are not propagated to the `config` object passed to `createTextMaskInputElement` on initialization.

When typing, the field will always use the original configuration when calling `update` without parameters  in `onChange` (https://github.com/text-mask/text-mask/blob/master/react/src/reactTextMask.js#L54)

Should we just pa

[2017-03-03 16:22] mhazy commented on #416
Just noticed #388 -- closing in favour of PR'ing against that.

[2017-03-03 16:23] #416 closed

[2017-03-03 16:25] lozjackson commented on #416
yeah, the short answer is that the React component hasn't been updated yet to make use of the new feature introduced in #392

[2017-03-03 18:00] lozjackson commented on #416
Currently the react component does this:

[code]
It would need to be something like this for the config to be "reactive":

[code]

Or.. you can pass the config to the `update` method.. (but it has to be passed every time you call `update`).

[code]

[2017-03-03 18:59] jbsheebs opened #417 "adjust mask based on input from another"
I am using this in an Angular 2 app and have created a function to return a mask for a credit card based on the first character of the input. So, if it is not a 3, the dashes will align with the number grouping for visa/mc, otherwise the dashes will be grouped for that of an amex. xxxx-xxxx-xxxx-xxxx vs. xxxx-xxxxxx-xxxxx. However, I would like to change the mask for the cvv field, based on the in

[2017-03-03 23:03] lucianocn commented on #300
@msafi What about to have an option to turn on/off this caret fix?
Example: My application is mobile only, so it's better to have it on every time.

[2017-03-03 23:54] msafi commented on #300
@lucianocn I don't think it's a good idea to increase the API surface for something like that. Are you still having problems after the fix?

[2017-03-04 11:31] fredroo opened #421 "error in install command"
![erro](https://cloud.githubusercontent.com/assets/6863089/23578408/01a9f44e-00b5-11e7-8ed8-32ffd0d653bb.png)

[2017-03-04 12:02] lozjackson commented on #421
I'm not sure what the problem could be.  But I noticed it says `ionic2-input-mask`.. do you have that package installed?.. maybe try removing that?

Have you tried installing it into another (empty) project?

Or you could try clearing out all your `node_modules` and then try `npm install`..

[2017-03-04 12:05] PerfectPixel commented on #421
The ionic2-input-mask is deprecated, please use the angular2-text-mask instead.

[2017-03-04 12:10] fredroo commented on #421
![erro2](https://cloud.githubusercontent.com/assets/6863089/23578629/6c0777da-00ba-11e7-933b-20e42d60d981.png)

i try with angular text mask but same errors

[2017-03-04 12:12] PerfectPixel commented on #421
You need to remove the old mask from your `package.json` and execute `npm prune` to remove the old package.

[2017-03-04 12:26] fredroo commented on #421
i need mask this: 000.000.000.000.000,00

i use mask: any = [\d{3}.\d{3}.\d{3}.\d{3}.\d{3},\d{2}];

is correct?

[2017-03-04 12:33] lozjackson commented on #421
try this:

`[/\d/, /\d/, /\d/, '.', /\d/, /\d/, /\d/, '.', /\d/, /\d/, /\d/, '.', /\d/, /\d/, /\d/, '.', /\d/, /\d/, /\d/, '.', /\d/, /\d/]`

[2017-03-04 12:42] fredroo commented on #421
I need to know how it leaves the first

[2017-03-04 12:44] lozjackson commented on #421
sorry, not sure what you mean.. could you ask the question again?

[2017-03-04 12:47] fredroo commented on #421
example

100,00
1000.00
without first numbers mask

first numbers optional

[2017-03-04 13:21] fredroo commented on #421
![image](https://cloud.githubusercontent.com/assets/6863089/23579082/42897c28-00c4-11e7-8e48-7a16ab7e4799.png)

[2017-03-04 13:22] PerfectPixel commented on #421
You should have a look at the numbers mask addon: https://github.com/text-mask/text-mask/tree/master/addons/#createnumbermask

[2017-03-04 13:28] fredroo commented on #421
@PerfectPixel please show an example for use with real brazilian money

decimal is , example 100,00 or 1.000,00

[2017-03-04 13:29] fredroo commented on #421
with zipcode works fine with angular2-text-mask

[2017-03-04 13:31] fredroo commented on #421
how set optional with angular2-text-mask

[2017-03-04 13:33] PerfectPixel commented on #421
Please refer to the documentation, it is all described there in great detail.

[2017-03-05 10:23] PerfectPixel commented on #412
Angular does not rely on it. The directive does only take action of changes, not on render.

[2017-03-05 10:24] PerfectPixel commented on #413
I don't know why there are dummy types...

[2017-03-05 10:29] PerfectPixel commented on #417
As the core does not care about the `this` context of the mask function ( @lozjackson please correct me if I am wrong ) you could just bind your components `this` to the mask function:

https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_objects/Function/bind

Furthermore, you could utilize an arrow function for defining you mask function then you'll get your components `this` as

[2017-03-05 11:02] #421 closed

[2017-03-05 11:03] lozjackson commented on #421
I'm going to close this now.. If you have any other questions please feel free to re-open the issue, or start a new one.

[2017-03-05 11:52] fredroo opened #424 "Add decimal for default"
i need put ,00 in value per default

example:

keyup 100 return 100,00

[2017-03-05 12:38] lozjackson commented on #424
The following example show how to set the decimal point to `,`.  ..but you still have to manually type `,00`.  Adding `,00` by default is not supported at the moment..

[code]

Then use `numberMask` for your mask.

[2017-03-05 23:14] jbsheebs commented on #417
@PerfectPixel good call. Both work as expected. Thanks for the help!

[2017-03-05 23:26] #417 closed

[2017-03-06 12:10] christophercr commented on #413
Ok so I think I can create PR to provide the correct types then... ;)

[2017-03-06 13:59] sweexxik commented on #300
I checked version 3.2.0 - works perfectly on Galaxy Note 4 (6.0.1, Angular2, Ionic2)

[2017-03-07 09:29] #413 closed

[2017-03-07 11:01] lozjackson commented on #393
@Taylor1990 I've updated the angular2 component (`angular2-v6.2.0`).  It should now be "reactive" to changes.  Could you try your code again and let us know if all is working for you now?

[2017-03-07 19:41] lozjackson commented on #230
[This test](https://github.com/text-mask/text-mask/blob/master/core/test/adjustCaretPosition.spec.js#L91) checks for this very behaviour..for the case where backspace is pressed, then this is the correct behaviour.

It seems its not possible to have both (in the current implementation). I think the `adjustCaretPosition` method needs to know what key was pressed to be able to decide which way to go

[2017-03-07 20:33] sharpmachine commented on #393
I'm having the same issue. I have a custom input component that adds a mask based on the `type` attribute, so if `type="tel"`, it will add a mask, but if it's any other type there is no mask. I have `6.2.0` installed

Input template:
[code]
Component:
[code]

So as you can see here, The input has a value, yet the value is not showing in the field:
![screen shot 2017-03-07 at 12 30 28 pm](https://c

[2017-03-08 03:27] jonsaw commented on #300
We're still seeing the same issue for Chinese keyboards on Google Chrome 56.0.2924.87 in **Ubuntu**.

![20170307-112934_capture](https://cloud.githubusercontent.com/assets/1572333/23688782/6d873bec-03f1-11e7-830e-62f471e55388.gif)

[2017-03-08 10:50] lozjackson commented on #310
You could use a [`pipe`](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#pipe) function to achieve this.

[code]

Its not ideal, but it works.

[2017-03-08 18:23] lucianocn commented on #300
Still the same issue with Samsung Galaxy Win 4.1.2:
http://www.samsung.com/br/support/model/GT-I8552RWPZTO

[2017-03-08 18:24] browniefed commented on #300
This is likely why the `jquery.inputmask` has a `setTimeout` of 10 instead of 0.

[2017-03-08 22:19] #393 closed

[2017-03-08 22:27] browniefed opened #427 "Make React Component work With Snapshots"
Component currently breaks if you attempt to snapshot. This is something I can tackle.

[2017-03-09 11:14] lozjackson commented on #424
I'm going to close this issue now - Let us know if that didn't answer your question.

[2017-03-09 11:14] #424 closed

[2017-03-09 17:47] sasidhar opened #430 "Angular 2 : AOT issue : ngOnChanges - method signature"
When used with AOT, it's failing with the following error.

Related : https://github.com/angular/angular/issues/11062

[2017-03-09 17:52] lozjackson commented on #430
Thanks for reporting this.. I'll look into it.

[2017-03-09 18:25] #430 closed

[2017-03-10 11:10] zetoke opened #433 "Clear values"
Hello!

I found the weird row in source code at `update` method:
`rawValue = rawValue || inputElement.value`

In my case, I use React component and outside Store, that controlling my state of form (inputs with react-text-mask).
I have method `.clear`, that set all fields to `''`. But it doesn't work, obviously.

So, how I can clear values from outside state controller?

[2017-03-10 13:48] akhramov opened #434 "Caret position won't change if value didn't."
#### Steps to reproduce:
1. Given mask is (___) with Value of (1|11)
2. Type "1" character.

Expected result:
Cursor moves to the next position: (11|1).

Actual result:
Cursor stays at the same position: (1|11).

#### Question:
Is this behaviour intentional?

#### Possible source of problem:
https://github.com/text-mask/text-mask/blob/dae7390eeb7f87df2dcedef9421e56cc8cf3ef83/core/src/adjustCaretPo

[2017-03-10 14:07] lozjackson commented on #433
Can you show us an example of what your trying to do..

[2017-03-10 14:10] lozjackson commented on #434
not sure, I'm gonna call it a bug for now.. and look into it.

I can see why its happening.. not sure quite how we go about fixing it though..

[2017-03-10 17:24] zetoke commented on #433
Simplified version:
[code]

[2017-03-10 17:48] Bidthedog opened #435 "Angular 2: disabling masking displays "undefined" in text boxes"
Hi there,

Great component btw, almost perfect for my needs. Hopefully this is something I'm doing wrong, as I'm a bit of a NG2 noob.

I'm using a component method to apply masking to a generic text box component. I'd ideally like to completely remove the directive when not in use, but that's not supported by Angular. My components are quite a bit more complex than this (they're two-way data bound

[2017-03-10 18:02] lozjackson commented on #434
I've added the failing test to a PR.. but I am no further towards solving it..

I have an idea in my head for how it _could_ be solved, but I don't think its going to be a straight forward fix..

[2017-03-10 19:02] lozjackson commented on #435
Hi, I can't reproduce this issue..

I tried copying your `getMask` function into the [Angular2 example app](https://github.com/text-mask/text-mask/tree/master/angular2/example).. I had to change the last line to be an object, but I don't think that could be causing your issue (it would cause other issues and the mask wouldn't work)

[code]
I'm not sure if thats the best way to achieve what you wan

[2017-03-10 19:39] lozjackson commented on #435
which version of `angular2-text-mask` are you using?

[2017-03-10 19:52] lozjackson commented on #433
what makes you say this line is weird? ..and is your problem fixed if you comment out that line?

I don't really know React well enough to offer much help..

@browniefed are you able to help with this?

[2017-03-10 20:06] browniefed commented on #433
`rawValue = rawValue || inputElement.value` Says that if `rawValue = ""` then default to the existing value on the `inputElement`.

Which means if you change the value by passing in a new prop then it will break.

[2017-03-10 20:08] browniefed commented on #433
So you can never programmatically clear the value in the fields. This is indeed a bug.

Potential fix is just to check if `rawValue === undefined` rather than just `rawValue ||`

[2017-03-10 20:09] lozjackson commented on #433
is this specific to React?, or should I be able to re-create this with any component (or tests in the core, prefereably)

[2017-03-10 20:10] PerfectPixel commented on #435
Using the newest version, I'm unable to reproduce this one either...

[2017-03-10 20:11] browniefed commented on #433
`rawValue = rawValue || inputElement.value` is just JS. If it exists elsewhere then not just a React issue.

[2017-03-10 20:12] browniefed commented on #433
Passing in a prop like `<TextMask value={this.props.value} />` is called a controlled component.

That means whatever value gets passed in should be the value of the input field.

[2017-03-10 20:12] lozjackson commented on #433
yes.. i get what your saying.. I will look into it, and I think your right to check for `undefined` instead

[2017-03-10 20:13] browniefed commented on #433
We actually operate in a pseudo controlled fashion. We use `defaultValue` due to an IE10 caret position issue. But we do an update in the `componentDidUpdate` call to update the new value.

[2017-03-10 20:28] browniefed commented on #433
Is this code in core yet? I don't see it?

Even testing for `undefined` this might break the `uncontrolled` nature of ReactTextMask.

This is something I fought against in the beginning to only ship a controlled component.

[2017-03-10 20:30] lozjackson commented on #433
which code?

[2017-03-10 20:30] browniefed commented on #433
The `rawValue = rawValue || inputElement.value` code

[2017-03-10 20:31] lozjackson commented on #433
yes, [here](https://github.com/text-mask/text-mask/blob/master/core/src/createTextMaskInputElement.js#L30)

[2017-03-10 20:32] browniefed commented on #433
Ah, yes so this will effect EVERY component.

[2017-03-10 20:37] browniefed commented on #433
This is the issue with the function being impure and holding on to an input state instead of just passing it in every time.

[2017-03-10 20:50] zetoke commented on #433
It's my fault, I didn't post a link to the source code line with a detailed comment. Sorry!
Yes, it is non-react problem and you are right, guys.

[2017-03-10 22:25] lozjackson commented on #433
Either I'm not really understanding the issue completely (missing something), or the React component is the only one that suffers from this bug.

I've tried with the Angular1 & 2, Ember and Vue components and they all behave as I expect.

In each one I created a button that programatically sets the model `value` to `''`.  And in all cases the model and the input element value were both updated to

[2017-03-10 23:45] lozjackson commented on #433
I've managed to re-create it in the React example app.  So I can now see the issue.

And replacing `rawValue = rawValue || inputElement.value` with

[code]

seems to fix it.

Tell me more about this..

[2017-03-10 23:48] browniefed commented on #433
Controlled vs Uncontrolled.
Controlled `value` of the input ONLY changes when outside updates the property passed in. For example `<input value={this.state.value} onChange={(e) => this.setState({value: e.target.value})} />`

Here you can we we are updating state, re-rendering and then `input` will be updated.

An Uncontrolled input would be something like
`<input defaultValue={this.state.value} />

[2017-03-10 23:51] zetoke commented on #433
@lozjackson oh, ok. I will stop updating branch in my fork,

[2017-03-10 23:52] lozjackson commented on #433
And so, (correct me if i'm wrong here) the problem is that the controlled input is relying on the `onChange` method to update the value of the input element.

It does update the value of the `model` (`this.state.value` is updated to empty string when I clear the value).. just the input element is not udpateing because the onchange call is not setting the value

[2017-03-10 23:56] browniefed commented on #433
The actual way to reproduce this is if someone else (not an input change) effects the values. Like in the example above

As you can see `value` is held outside. When something else changes it (the clear call).

The `this.props.value` inside of the React component is now `""` but `inputElement.value` is whatever value was in there previously.

[code]

[2017-03-10 23:58] zetoke commented on #433
Because `rawValue = rawValue || inputElement.value` every time is `inputElement.value`.
`rawValue === '';`
`Boolean(rawValue) === false`
So, after `update` method (inside core of text-mask) invocation value is not updating "form the top"

[2017-03-11 00:01] zetoke commented on #433
`onChange` updating the state and value inside `react-text-mask` component is right (`''`). But after the invocation of `maskedInput.update(value)` this value doesn't go ahead.

[2017-03-11 00:01] lozjackson commented on #433
The thing that confuses me about this is that `rawValue` and `inputElement.value` _should_ be the same thing (and _should_ have the same value).

But in React it seems to have the previous value before the key was pressed.

[2017-03-11 00:16] zetoke commented on #433
In React we can manage state outside of the component. And say: "hey input! Your new value is ..."
`onChange` is a callback, that takes value from `change` event and set it to "state manager".

We have `'blabla'` text inside input. External `state.value` is `'blabla'`. Because after `change` event callback `onChange` updated the value.

But also we can just say to "state manager": "change the valu

[2017-03-11 00:27] lozjackson commented on #433
I've added a check for `undefined`.. can you try this in your app and let us know if that works for you.

@browniefed Are you suggesting that checking for `undefined` is going to break other things?

[2017-03-11 01:02] zetoke commented on #433
@lozjackson That works for me!
Thank you!

[2017-03-11 04:14] browniefed commented on #433
@lozjackson give it a shot, I think it'll be fine. Just think we should test it on the examples page.

[2017-03-11 09:27] Fornori opened #438 "Pls, add type="text" to the input element"
Now the input element rendered without type="text" $( Can you add it?

[2017-03-11 12:24] #433 closed

[2017-03-11 12:42] lozjackson commented on #438
which framework are you using?

[2017-03-11 12:44] Fornori commented on #438
ReactJs

[2017-03-11 12:48] lozjackson commented on #438
just add it yourself...

[code]

.. or are you suggesting/requesting that we add it by default?

[2017-03-11 18:59] lozjackson commented on #427
what is "attempt to snapshot"?.. is that specific to React? ..what breaks?

[2017-03-11 19:09] browniefed commented on #427
Snapshot testing. Input ref doesn't exist so it fails

[2017-03-11 22:27] lozjackson opened #441 "Vue component should accept object for mask property"
Currently the Vue component [does not allow objects](https://github.com/text-mask/text-mask/blob/master/vue/src/vueTextMask.js#L26) to be set as the mask object.

[2017-03-12 11:43] #441 closed

[2017-03-12 15:15] lozjackson opened #445 "Should Text Mask require an input element?"
I'd like to discus this and look at options for eliminating this requirement..

[2017-03-12 15:56] lozjackson commented on #388
All 5 components should now be "reactive".

[2017-03-12 15:56] #388 closed

[2017-03-12 20:43] mathieu-neron opened #446 "Add 'mm/yy' support for createAutoCorrectedDatePipe.js"
I was trying to use the createAutoCorrectedDatePipe in a credit card expiry field, but it doesn't seem to support the 'mm/yy' format.

[2017-03-12 21:32] mathieu-neron commented on #446
Added pull request: https://github.com/text-mask/text-mask/pull/447

[2017-03-13 07:35] Bidthedog commented on #435
Tried all your suggestions, but getting the same results. Non-masked boxes are all "undefined". I will attempt to recreate it today - could be something to do with the nested components.

I'm using version 6.3.1, v recently installed so I expect it's the most up to date.

[2017-03-13 10:05] lozjackson commented on #446
#447 merged and published as `addons-v3.5.0`

[2017-03-13 10:05] #446 closed

[2017-03-13 10:09] Bidthedog commented on #435
Replicated!

http://plnkr.co/edit/sls2f5Str2yVL0V0DYHN

Please tell me what I'm doing wrong! :)

[2017-03-13 10:54] Bidthedog commented on #435
I thought it may be related to my own text-box component, but I've just done the same with plain inputs. Added to example:

http://plnkr.co/edit/sls2f5Str2yVL0V0DYHN?p=preview

[2017-03-13 12:38] lozjackson commented on #435
I think it is because `model.OtherField` is `undefined` - It has not been set.  If I update the model constructor to return an object with the values, then it works.

[code]

(I don't use Angular, so I'm not sure if this is the correct way of doing this, but it fixes your problem.)

[2017-03-13 12:44] lozjackson opened #448 "Angular2: input element display undefined if model is undefined"
If the `model` is `undefined` then the inputElement is updated to display `undefined` (text).  It should display an empty string (`''`) instead.

More info in #435

[2017-03-13 12:49] PerfectPixel commented on #435
It is generally possible to run into undefined or null in models. Therefore, we should mirror Angular's `DefaultValueAccessor` if we are writing directly to the input without the mask in between. I'll provide a fix.

[2017-03-13 12:56] lozjackson commented on #435
You could do something like this.. (on [this line](https://github.com/text-mask/text-mask/blob/master/angular2/src/angular2TextMask.ts#L53))

[code]

That would be the simplest fix for #448 ..but if you can think of a better way then go for it.

[2017-03-13 13:03] PerfectPixel commented on #435
Keep in mind that `0 || ''` will also result in an empty string :-)

[2017-03-13 13:48] Bidthedog commented on #435
OtherField is not undefined - it's both defined AND set in the constructor (as is NHSNumber). Confusing, I know - coming from a C# background it took me a while to grasp this.

If you change the field to NHSNumber, it does exactly the same thing, as per these changes:

http://plnkr.co/edit/sls2f5Str2yVL0V0DYHN?p=preview

I also tried the null coalesce operation in a few different places (value ||

[2017-03-13 13:52] PerfectPixel commented on #435
@Bidthedog don't worry. From a TypeScript perspective, your code is fine. The use of the constructor is just a little odd as params are implicitly converted to class fields. But that is just TypeScript. The issue lies within the handling of undefinied and null values within the textMask directive. The fix should be merged soon.

[2017-03-13 13:53] Bidthedog commented on #435
Excellent - but do bear in mind that neither field is undefined / null - they are both populated. This behaviour doesn't happen if ngModel binding isn't in place.

[2017-03-13 14:07] PerfectPixel commented on #435
In your plunkr `model` in `App` is just an empty object. I added a visual output with a JSON pipe: http://plnkr.co/edit/hWJhbefnae62FxbuyBXH?p=preview

Thats the reason that you see `undefined` as `undefined` converted to a string is `'undefined'` not an empty string.

[2017-03-13 14:16] Bidthedog commented on #435
Dang - model WAS empty, I forgot to implement NgOnInit, and the members were all private. Just edited, it - apologies! It does seem you're correct - if there's no data in the field, it will display undefined:

http://plnkr.co/edit/sls2f5Str2yVL0V0DYHN?p=preview

[2017-03-13 15:33] #435 closed

[2017-03-13 15:40] #448 closed

[2017-03-13 15:41] lozjackson commented on #448
Fixed in #449

[2017-03-13 16:15] Bidthedog commented on #435
Excellent, problem sorted. Open source works! :)

Thank you guys, much appreciated.

[2017-03-13 21:14] lozjackson opened #450 "Add component tests"
I like to add tests for each component..

Currently, the [core](https://github.com/text-mask/text-mask/tree/master/core/test) and [addons](https://github.com/text-mask/text-mask/tree/master/addons/test) are well tested. The [ember](https://github.com/text-mask/text-mask/tree/master/ember/tests) and [vue](https://github.com/text-mask/text-mask/tree/master/vue/test) components already have some test

[2017-03-13 21:18] lozjackson commented on #450
@PerfectPixel Can you help me get some test running for the Angular components.  I don't mind writing the tests, but I don't really know how to get started testing with Angular.

[2017-03-13 21:24] PerfectPixel commented on #450
@lozjackson I only know how to test Angular with Jasmine and Karma. Do you want to stick with Mocha and Chai?

[2017-03-13 21:41] lozjackson commented on #450
The ember component uses the ember-qunit, which is the standard for ember-cli projects.. and that makes sense to me, as anyone who wishes to develop the ember addon ~~~will~~~ _should_ know how to write test for it...  for them to have to learn a different testing setup would be counter-productive.

Having said that, it would be nice/easier from a maintenance viewpoint if all the components used t

[2017-03-13 21:43] PerfectPixel commented on #450
A lot of people (including me) are using the angular-cli which generates tests with jasmine and karma. So that setup would be usual one. Although, you could use Mocha and Chai.

[2017-03-13 21:48] lozjackson commented on #450
The ember component uses Ember-cli, and the project structure is very different from any of the other text-mask components..

Would the Angular component require a lot of changes to make it work with angular-cli?

[2017-03-13 21:50] PerfectPixel commented on #450
angular-cli is usually not used in conjunction with libraries at least not yet. However, we could adapt their config for the test so we do not have to write all the boilerplate ourselves.

Btw: angular-cli is an ember-cli fork :-)

[2017-03-13 22:00] lozjackson commented on #450
An ember-cli project can be an 'app', or an 'addon' (to be consumed by an app).

What would be the normal conventional way for an angular addon to be developed?

that sound like a plan.. could you get a test/config setup with a basic test or two.. then I can fill it out with more tests..

oh, cool..  does that mean angular-cli addons will be coming soon?

[2017-03-13 22:53] PerfectPixel commented on #450
I'll hopefully get around to it during the weekend.

At the moment everyone tinkers around with their own config. But I guess addons are coming soon :-)

[2017-03-14 19:27] trisman opened #452 "Using textMask with mdAutoComplete causes an error"
When I use textMask together with mdAutoComplete of angular-2-material, it causes an error:

`More than one custom value accessor matches form control with unspecified name attribute`

This is my code:

[code]

When I remove the mdAutoComplete, the problem is resolved.
When I remove the textMask, the problem is resolved.

[2017-03-14 19:30] trisman commented on #452
Might be the same issue described in #179

[2017-03-14 19:47] lozjackson commented on #452
Thanks for reporting this.. Yes, it looks the same as #197

There is a suggestion there for a [possible fix/workaround](https://github.com/text-mask/text-mask/issues/197#issuecomment-269206677)

however, you appear to be doing that already.

[2017-03-14 19:52] trisman commented on #452
Indeed, I am using the 2.0.0-beta.2.

[2017-03-14 19:54] lozjackson commented on #452
which version of Angular2TextMask are you using?

[2017-03-14 20:00] trisman commented on #452
"angular2-text-mask": "^6.3.2"

[2017-03-14 20:10] lozjackson commented on #452
6.3.2 was only published yesterday.. has this error only just started to appear since then?

Can you try with v6.3.1, or v6.2.0 ...just to check if any of the recent changes has affected this.

[2017-03-14 20:11] trisman commented on #452
No it didn't up till now I had been using version 4.1.0, but I updated to version 6.3.2 hoping this issue was already solved.

[2017-03-14 20:14] lozjackson commented on #452
are you saying you didn't have this error with (angular2-text-mask) v4.1.0?

and has started since you upgraded to 6.3.2?

[2017-03-14 20:16] trisman commented on #452
I'm afraid I did have the error with v4.1.0, I updated to 6.3.2 because I hoped it would solve the issue.

[2017-03-14 20:26] lozjackson commented on #452
ohh

[2017-03-14 22:48] PerfectPixel commented on #452
This is neither a bug nor a fixable issue, but a limitation of Angular.

Angular's `FormControl` requires a single `ControlValueAccessor` to connect itself to the DOM. `mdAutocomplete` requires a ControlValueAccessor to control the `FormControl` in a way that is needed for it's autocomplete functionality. `textMask` requires a ControlValueAccessor to control the `FormControl` so you'll get you mas

[2017-03-14 22:50] #452 closed

[2017-03-14 22:52] PerfectPixel commented on #445
I'd like to remove the dependency of core to manipulate the core directly. But I am unsure how to handle caret positioning then...

[2017-03-14 22:55] lozjackson commented on #445
I'm not sure I follow (confused)... could you give an example.

[2017-03-14 22:56] lozjackson commented on #452
@PerfectPixel thanks for clearing that up :)

[2017-03-14 23:58] PerfectPixel commented on #445
I was not quite focused while writing this. Of course I mean "remove the dependency of core to manipulate the input directly"...

[2017-03-15 19:56] lozjackson commented on #450
I'm really struggling to get any tests going with Angular1 or 2.

With Angular1 I get an error say `ReferenceError: angular is not defined`

With Angular2 I get `TypeError: Reflect.getOwnMetadata is not a function`

[2017-03-15 22:34] lozjackson commented on #438
Is this working for you?

I'm going to close this for now.. but feel free to open it again if your issue is not resolved, or if you have any other questions.

[2017-03-15 22:34] #438 closed

[2017-03-16 22:11] lozjackson commented on #410
[done](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#mask-function)

#455

[2017-03-17 04:55] FinalDes commented on #410
@lozjackson how to add extra parameter into mask function?

thx for update the readme

[2017-03-17 08:35] lozjackson commented on #410
Adding extra parameters for the mask function is not currently supported.

The musk function has a signature like

[code]

The `safeRawValue` is the value of the input element before it has been conformed..  The second argument is an object that has `currentCaretPosition`, `previousConformedValue` and `placeholderChar`.

[2017-03-17 14:13] tylerbrewer2 opened #456 "Ability to add custom max/min values for createAutoCorrectedDatePipe"
It would be awesome to be able to pass in custom max/min values to the createAutoCorrectedDatePipe to make it more flexible. If there's interest from the team, I would love to submit a PR for this 👍

https://github.com/text-mask/text-mask/blob/master/addons/src/createAutoCorrectedDatePipe.js#L5-L6

[2017-03-17 14:47] dssorokin commented on #406
I think it would be great to make decimalSymbol RegExp type.

[2017-03-18 01:09] lozjackson commented on #406
@dssorokin I'm not sure i understand.. could you show us an example of what you mean?

[2017-03-18 01:22] lozjackson commented on #456
Personally, I'm not really sure why you'd want to.. can you give us some examples/use cases?

Go for it.. Submit a PR and then we can discuss it there.  May or may not get merged, but I'm interested in seeing what your suggesting.

...needs to be backwards compatible, and please add tests.

[2017-03-18 02:37] tylerbrewer2 commented on #456
thanks @lozjackson, will do 👍

[2017-03-20 04:57] Van-Vu commented on #376
Hi msafi, I'm using "angular2-text-mask": "6.3.1" and this issue still occurs. Not sure if I'm doing anything wrong. Please help

[2017-03-20 07:19] Scipionh opened #459 "Having non mandatory pattern leads to the cursor always moving to the end"
Here is how I use the text-mask directive in an input type="text" :
`[textMask]="{mask: ['+', /\d/, /\d/, /\d?/, /\d?/], placeholderChar: '\u2000'"`

THe issue is that every time I write or remove a char, my cursor is moving to the end. Is there any workaround for that ?

[2017-03-20 08:31] lozjackson commented on #459
I can't reproduce this behaviour... Can you create a minimal project that reproduces this bug and post it here so that I can debug it.

Which version of Angular2-text-mask are you using?

[2017-03-20 08:36] lozjackson commented on #376
@Van-Vu could you reproduce it in an example project and post it here so we can take a look and debug it.

[2017-03-20 13:05] mzedeler commented on #427
Can you provide a breaking test or a snippet with an example?

[2017-03-20 13:11] mzedeler commented on #289
+1

[2017-03-20 19:08] marcioj commented on #284
I am seeing the same problem on android 6. It's possible to reproduce it by running the vanilla example with `npm run vanilla:dev` and interacting with the input from the phone.
Replacing the setTimeout [here](https://github.com/text-mask/text-mask/blob/f721a3a9f4c862b93d32c250a7ca1b5f77221456/core/src/createTextMaskInputElement.js#L175) with requestAnimationFrame fixes the issue. I'll send a PR f

[2017-03-20 23:15] Glutnix opened #463 "[Docs,Demo] Recommend \u2007 FIGURE SPACE as ideal placeholder when collecting numbers"
When not using a monospaced typeface in your field, you may observe separators jiggling around as you type to add and remove data from the field.

To best avoid the jiggling separator issue, choosing the correct placeholder symbol is key.

Currently the demo recommends `\u2000` EN QUAD. [Wikipedia says](https://en.wikipedia.org/wiki/Whitespace_character) that "U+2002 is canonically equivalent to t

[2017-03-20 23:31] lozjackson commented on #463
Thanks for the suggestion.. your welcome to submit a PR

[2017-03-21 01:48] joshuaavalon opened #464 "How to make it always show the mask?"
When there is no value in the input, the mask does not show. How can I make it always show the mask.
I need this because users may want to input start from the middle when `keepCharPositions: true`.

[2017-03-21 08:34] lozjackson commented on #464
This is a duplicate of #299

Unfortunately, its not implemented at the moment.. PRs welcome.

I'll close this one and keep track of it there.

[2017-03-21 08:34] #464 closed

[2017-03-21 08:59] joshuaavalon commented on #464
@lozjackson https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#guide
In the gif under `guide`, there is a working example. Is that fake?

[2017-03-21 09:12] lozjackson commented on #464
I didn't create the gif in the guide, but it looks to me that there is a placeholder that appears to look like  the mask.  ie the placeholder is set to `(___) ___-____` - not quite the same thing but may work for you.

[2017-03-21 09:25] joshuaavalon commented on #464
@lozjackson Placeholder is not working for me. What I need is direct input in the middle.

I am working with one  Javascript framework. When I try to set the value to `(___) ___-____` if user set the value to empty string, the mask does not seems to work properly. I hold the backspace and the mask keep blinking. I think the mask hold a value itself. Is there a way to set the value of the mask.

[2017-03-21 16:35] brianh014 commented on #459
I was having this issue until I removed the value attribute off my text input.

[2017-03-22 00:09] Van-Vu commented on #376
@lozjackson  I'm using Angular2Spa template with just a basic form
`<form [formGroup]="model">
    <input type="text" class="form-control"
           placeholder="mm/dd/yyyy"
           [textMask]="{mask: dateMask}"
           formControlName="Date">
</form>`

Then initialize it component:
    ngOnInit() {
        this.model = this.fb.group({
            Date: ['', [Validators.required]]
        }

[2017-03-22 08:15] lozjackson commented on #376
@Van-Vu Could reproduce it in a project in a repository, and post a link to the repo so that I can clone/run/debug it?

[2017-03-22 09:51] mzedeler commented on #289
I'm working on this bug now since it affects me. I've found out that the problem appears here:

https://github.com/text-mask/text-mask/blob/master/core/src/adjustCaretPosition.js#L72

but the problem is that in this case, using `normalizedConformedValue` yields the right result because the number separator (`,`) has been moved.

I'd appreciate if someone has time to help out by explaining the rati

[2017-03-22 10:45] mzedeler commented on #289
What I can see is that `targetChar` is incorrectly set to `,`. It should be `2`.

[2017-03-22 11:03] mzedeler commented on #289
The current recovery strategy is assuming that it can move the cursor to the left to look for the first available placeholder, but this is wrong if the mask is adaptive in the sense that the mask characters change position if the string changes length.

My best take on this is that we have to provide some flag to `adjustCaretPosition` that makes it search differently. It is an ugly solution becaus

[2017-03-22 20:54] mzedeler commented on #289
It seems that I've found a way to fix the bug without having to expose any external parameters. Please take a look at the PR above - extra unit test is included.

[2017-03-22 20:58] mzedeler commented on #230
I think I've fixed #289 and this issue seems to mirror #289 except it is a delete in the other direction (from left to right in stead of right to left). My fix for #289 may fix this issue - otherwise a similar approach seems likely to work.

[2017-03-22 22:19] lozjackson commented on #230
doesn't seem to fix this one

[2017-03-22 22:44] #289 closed

[2017-03-23 10:31] mzedeler opened #468 "`createNumberMask` caret positioning bug: initial display"
If the input field uses a number mask as specified in #289, the bug specified in this issue is still there upon initialization.

Steps to reproduce:
 * Create a text-mask field with a number mask from createNumberMask (default settings), set the `value` attlibute to `12345`.
 * Set the cursor here: `$12.3|45`.
 * Press the `Backspace` key.

Expected: `$1.2|45`.
Actual: `$1.245|`.

[2017-03-23 10:37] mzedeler opened #469 "`createNumberMask`: caret positioning bug: reset when separator is removed"
With the same setup as in #468, it is possible to make the caret move all the way to the right in the current group when deleting enough digits to remove a grouping separator:

 * `$1,234,5|67`.
 * Press `Backspace`.

Expected: `$123,4|67`.
Actual: `$123,467|`.

And the same problem in other groups:

 * `$1,2|34,567`.
 * Press `Backspace`.

Expected: `$1|34,567`.
Actual: `$134|,567`.

See also #28

[2017-03-23 12:27] lozjackson commented on #469
yeah, I noticed this bug yesterday while testing #466 and wondered if it was new since #466, but it is not.. If I remove the changes that #466 makes then this bug is still present - haven't had any time to investigate this yet though

[2017-03-23 12:41] lozjackson commented on #468
with default settings for `createNumberMask` the `thousandsSeparatorSymbol` should be a comma (`,`).  In your example snippet you have a period (`.`) as separator?

I can't reproduce this bug.. it works as expected for me (when using comma, or period, as `thousandsSeparatorSymbol`).

Can you add a failing test.. or a (failing) working example.

[2017-03-23 13:09] mzedeler commented on #469
I'm working on this now.

[2017-03-23 14:51] pal3x opened #470 "Change mask on the fly"
Hello. I have the following use case where i need to change a text mask on the fly. Imagine a form with a checkbox named "Is Fractionable" and an input field that should take a numeric value of type:
- integer if the "Is Fractionable" is not checked
- float with two decimals if the "Is Fractionable" is checked
Can you please give me some hints on how I can accomplish this?

Thank you!

[2017-03-23 19:29] lozjackson commented on #470
The [`createNumberMask`](https://github.com/text-mask/text-mask/tree/master/addons#createnumbermask) should do what you want.  You can then toggle the `allowDecimal` property.

Hope that helps

[2017-03-24 12:24] wmertens opened #471 "Add a Changelog.md"
You recently released a new major version, but I can't figure out if there were any breaking changes. It would be nice if you could document changes between versions somewhere…

[2017-03-24 12:34] lisandroTSilva opened #472 "Masking problem on mobile devices"
When typing in computer browsers works perfectly, however in some cell phones the problem occurs. It follows below in which cell phones the problems occurred.

Steps to Reproduce:
The given date mask is `__/__/____`
Typed 1 is expected `1|_/__/____` and occurs `|1_/__/____`
Typed 2 is expected `12|/__/____` and occurs `|21/__/____`
Typed 3 is expected `12/3|_/____` and occurs `|32/1_/____`
Typed 4

[2017-03-24 12:34] jvbianchi opened #473 "Support for Angular 4"
Does this library has support for Angular 4?

[2017-03-24 12:41] lozjackson commented on #473
Angular 4??? what happened to v3?  did they skip it?

I didn't event realise Angular 4 had been released until just now.. so I guess not

[2017-03-24 12:43] jvbianchi commented on #473
About version 3, looks like the router was on version 3, so they skip it so all packages be in the same version 4.

[2017-03-24 12:44] lozjackson commented on #472
which version of Text Mask are you using?

[2017-03-24 16:07] PerfectPixel commented on #473
Version 3 was skipped to align with the router again. `text-mask` does not rely on anything that was affected by breaking changes, therefore, you should be fine running it with Angular 4. If you receive NPM warnings during install, just ignore them for now.

If you experience any issues, feel free to report them.

[2017-03-24 16:07] #473 closed

[2017-03-24 17:18] lozjackson commented on #471
There is only one change (#466) that changes the behaviour of the caret positioning for a specific use case.  In most cases there will be no difference.

I will start adding release notes to the [releases page](https://github.com/text-mask/text-mask/releases) going forward.

[2017-03-24 17:18] #471 closed

[2017-03-24 19:06] lozjackson commented on #470
I'm going to close this now.. but let us know if you need any more help with this.

[2017-03-24 19:06] #470 closed

[2017-03-24 21:52] sharpmachine opened #474 "Warning on number input even when mask is not being used on it"
I have a custom input, and am setting it to type number, but mask should be false. Yet I get this warning in console:

`The specified value "undefined" is not a valid number. The value must match to the following regular expression: -?(\d+|\d+\.\d+|\.\d+)([eE][-+]?\d+)?` from `angular2TextMask.js:45`

**In form:**
[code]

**Custom input template:**
[code]

[2017-03-24 22:15] lozjackson commented on #474
In the example app, if I set the input to this state:

[code]

it works, as a `number` input (no text-mask), with no errors.

Can you create an example project/repo that reproduces the error.. and post a link here so that we can debug it.

[2017-03-24 22:44] mzedeler commented on #468
I can't reproduce it any longer (maybe I was testing the wrong version).

[2017-03-24 22:44] #468 closed

[2017-03-24 22:46] mzedeler commented on #469
@lozjackson - see the PR above. I think I've fixed the bug in a much more consistent way. Actually, I think that using the `trackRightCharacter` strategy is much safer for other cases too.

Note that the tests no longer cover as well since `previousPlaceholder` was introduced.

I'm considering writing fuzz tests in stead of this large set of hand written tests.

[2017-03-27 16:03] caike08 opened #476 "RegEx expression not being accepted"
Hello guys,

I'm trying to set up a RegEx that should allow Brazilian phone numbers format. It seems that text-mask allows us to add any kind of regular expression. However, I didn't manage to set it up. Somehow, it doesn't allow me to type any character. How could I set it up correctly, then?

HTML:
[code]

TS:
[code]

[2017-03-27 16:14] lozjackson commented on #476
@caike08 Each element of the mask array should represent one character of the mask.   The array element can be either a string, for example `'a'`, or a regex that represents one character, `/[1-9]/`.

If you need a variable length mask, you need to use a mask function.

[2017-03-27 18:21] caike08 commented on #476
@lozjackson I'm sorry but I didn't figure how I could mount it using a mask function just by reading the docs. Could you give me a simple example? Thanks

[2017-03-27 19:05] lozjackson commented on #476
create a function that takes the `rawValue` and returns a mask array.
[code]

then use the `maskFunction` as your mask.

[code]

[2017-03-27 19:15] caike08 commented on #476
@lozjackson I actually understood what the rawValue would be, but I'm not sure if I understood how I would create a logic to generate the expected mask `\\([0-9]{2}\\)[0-9]{4,5}-[0-9]{4}`, but I will try to figure it out.

[2017-03-27 19:24] lozjackson commented on #476
each element in the mask should represent one character.. and can be either a single character string, or a single character regex.

a mask array like this:
[code]
will give you an output like this
[code]

[2017-03-27 19:37] caike08 commented on #476
The problem of using this mask is that it allows only a single way, which is `(12) 3456-7890` but I need a way to accept either `(12) 3456-7890` and `(12) 34567-8901`. I could add another `[0-9]` field to allow 11 characters, but, I'd rather have a RegEx that understands if a number has 10 or 11 characters.

[2017-03-27 19:50] lozjackson commented on #476
What decides if a number can accept 10 or 11 digits?

At the point when someone has typed `(12) 3456|` is there any way to know which format the number should be?

Your mask function could be something like:

[code]

[2017-03-27 20:13] caike08 commented on #476
Originally, Brazilian phone numbers had only 10 digits: a 2 digit code area + 8 digits as numbers. But, since 2013, they decided to add a 9th digit to increase number combinations. However, it hasn't been applied to all Brazilian numbers. That's why I needed to allow both `(12) 3456-7890` and `(12) 3 4567-8901` format. And I didn't really want to display/save numbers only using the 9th digit way a

[2017-03-28 07:45] stevengunneweg commented on #472
I'm using `angular2-text-mask@6.3.0` and see the issue on some devices as well. I have tested with the following devices.

- Honor 7 - Android 6.0 (no problem)
- Google Pixel - Android 7.1.1 (no problem)
- Samsung Galaxy S5 Neo - Android 6.0.1 (no problem)
- LG Nexus - Android 6.0.1 (no problem)
- Motorola - Android 5.1 (no problem)
- Samsung Galaxy S6 Edge - Android 6.0.1 (problem)
- Samsung Gala

[2017-03-28 07:49] lozjackson commented on #472
`angular2-text-mask@7.0.0`  - nothing changed that would fix this.

Unfortunately, I have no Android devices that I can use to test / debug this.

[2017-03-28 08:55] stevengunneweg commented on #472
FYI, on iPhone I did not encounter this issue.

[2017-03-28 14:51] caike08 opened #477 "Error using emailMask"
Hello guys,

I've been trying to use emailMask in my application, but it isn't working as expected. I followed all steps as described, but it didn't work. Here is how I implemented it:

HTML:
[code]

TS:
[code]
ERROR:
[code]

[2017-03-28 15:53] #477 closed

[2017-03-28 17:32] sharpmachine commented on #474
It cleared up after I updated to Angular 4.

[2017-03-28 17:32] #474 closed

[2017-03-29 09:08] romanevg001 commented on #459
I have next
EXCEPTION: Error in caused by: r[E].test is not a function

[2017-03-29 15:59] wuilmerj24 opened #478 "Ionic 2 error aot"
**This is the error:** Uncaught Error: Module build failed: Error: ENOENT: no such file or directory, open '/var/www/html/Enkiapp/node_modules/angular2-text-mask/src/angular2TextMask.js'

**So import it in the app.module.ts:** import { TextMaskModule } from '../../node_modules/angular2-text-mask/src/angular2TextMask.ts';

If I compile without it it works without problems

[2017-03-29 18:59] calbot opened #479 "Angular 4 cli project Module parse failed - Unexpected token"
I'm getting this error...
It can't handle the "..."

[code]

[2017-03-29 21:39] keep-faith opened #480 "backspace don't erase fixed characters on mask (only version 7.0.0 using ion-input)"
mask config:
`[/\d/, /\d/, '.', /\d/, /\d/]`

so the value without mask is: `__.__`

So i start to write and now the value is: `11.11`    (on model the value is 11.111, but this is another bug already related earlier)

Then i try to erase the field using backspace, but i can't because when the value is `11.__`, backspace don't work anymore. It happen everytime i have a fixed character on mask, lik

[2017-03-30 05:55] mzedeler commented on #469
Ping...

[2017-03-30 12:02] lozjackson commented on #469
@mzedeler I have merged this, but not published yet..

Do you think the changes made by this PR are breaking?  ie, should this be a patch ( x.x.1 - non-breaking change), or a major version (5.x.x - breaking change).

With #466 I decided it was safest to publish a major version - because the behaviour had changed.. so I guess this is the same.. and should therefore be a major version update too!...

[2017-03-30 12:05] lozjackson commented on #480
Can you create a repo/project that reproduces this so that I can debug it?  or a failing test?

[2017-03-30 12:09] lozjackson commented on #479
I'm confused why your getting this error.

The Angular2 component imports from `dist` (`import { createTextMaskInputElement } from 'text-mask-core/dist/textMaskCore')`.. in your snippet you seem to be importing from `src`.

Which version of TextMask are you using?  ...and how are you importing it into your project?

[2017-03-30 12:14] mzedeler commented on #469
I'm introducing a new search strategy where the caret is repositioned based on the character to the right of the caret. It *is* a completely new way of repositioning the caret, so it could break things that we don't test for. On the other hand, the API is completely unchanged.

[2017-03-30 15:58] Jonatthu opened #481 "How to not allow white spaces"
What would be the rgex rule for not allow white spaces ?

[2017-03-30 16:20] #479 closed

[2017-03-30 16:54] alexeyving opened #482 "Problems with cursor position when use transliterate"
I have pipe which do transliterate from ru to en, and it change all string. Like 'ц' to 'ts'.
The code:
`inputElement: input,
mask: (rawVal) => {
	let array = [];
	for (let i in rawVal) {
		array.push(regex);
	}
	return array;
},
keepCharPositions: true,
guide: false,
pipe: (conformedValue, config) => {
	const rawValue = config.rawValue;
	let indexesOfPipedChars = [];
	let result = this._translite

[2017-03-30 16:57] tylerbrewer2 opened #483 "Phone Mask doesn't work without "guide" on"
The phone mask doesn't work unless the guide config property is set to true. You are not able to delete any of the symbols in the input.

![text_mask_bug](https://cloud.githubusercontent.com/assets/10946524/24516355/57796f24-1548-11e7-8522-6f3341db4338.gif)

[2017-03-30 17:00] lozjackson commented on #483
Thanks for reporting this. I will look into it

[2017-03-30 17:19] lozjackson commented on #483
I can't reproduce this using any of the framework components.. I can only reproduce this on the website..

[2017-03-30 17:26] lozjackson commented on #483
If I remove [this line](https://github.com/text-mask/text-mask/blob/master/website/src/app.js#L41) from the website src, then it works as expected.

[2017-03-30 17:28] tylerbrewer2 commented on #483
I think this may be a React specific bug when you have an onChange event handler attached to the component. We are seeing the same error using the same functionality in our application.

[2017-03-30 17:32] lozjackson commented on #483
I tried with the react component, and it worked ok... however the example app doesn't have a onChange method.

If you could add a failing test to the react tests that would be really helpful.

[2017-03-30 17:38] tylerbrewer2 commented on #483
Sure thing, should be able to within the next day or so.

[2017-03-30 17:49] daddyschmack opened #484 "Can we use mask as input validation pattern?"
Hi,

Is it possible to use the mask regex as a validation part.  Would it be possible for you to post an example of how to use the example telephone mask with pattern matching?

[2017-03-30 19:28] tylerbrewer2 commented on #427
My Jest snapshot tests are throwing this on any input that has a mask passed in:
`TypeError: Cannot read property 'selectionStart' of null`

Is this what you're seeing as well @browniefed ?

[2017-03-30 21:58] lozjackson commented on #481
The [mask](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#mask) property is an array. Each element of that array represents one character in the input element.  To allow white space you have to explicitly allow it.  in other words, white space is not allowed by default..

No characters are allowed by default.. the mask array defines what characters _are_ allowed.

If

[2017-03-31 08:10] mzedeler commented on #484
Besides making sure to get the right number of digits, is there anything else, you'd like to check for?

[2017-03-31 08:13] mzedeler commented on #483
I can help fix the bug - I do a lot of React coding, but a failing test case would be nice to have.

[2017-03-31 08:33] #299 closed

[2017-03-31 09:02] #469 closed

[2017-03-31 09:21] mzedeler commented on #469
@lozjackson - can you release `react-text-mask` as well? It is the one I'm using...

[2017-03-31 09:28] lozjackson commented on #469
@mzedeler I have published [react-v4.0.0](https://github.com/text-mask/text-mask/releases/tag/react-v4.0.0) already.

[2017-03-31 09:36] mzedeler commented on #469
Yes - I found it now. It is just the github releases page that was confusing. Thanks!

[2017-03-31 10:44] lozjackson opened #486 "showMask reactivity"
PR #485 introduced a new property: `showMask`

When toggling this property from `false`, to `true` the components will update (reactive) immediately (on property change).

When toggling this property from `true` to `false`, the component config is updated but the inputElement value is not updated to remove the placeholder until you delete the value.  The reason for this is that the value (placehol

[2017-03-31 14:39] dapriett commented on #452
Had the same issue - ended up getting around it by copying and modifying Angular-Material's {autocomplete-trigger directive](https://github.com/angular/material2/blob/master/src/lib/autocomplete/autocomplete-trigger.ts) to remove it's dependency on `ControlValueAccessor`.  Doesn't seem to be needed to function.

My autocomplete-trigger.directive.ts:

[code]

Example using new trigger with text-mas

[2017-03-31 16:24] lozjackson commented on #478
I'm not really sure how to help with this (I don't use Angular).

Are you sure the path is correct for the import?

@PerfectPixel any ideas?

[2017-03-31 16:35] wuilmerj24 commented on #478
@lozjackson I do not understand you, I'm learning ionic 2

[2017-03-31 16:46] wuilmerj24 commented on #478
@lozjackson Without compiling aot works fine, but compiling with aot does not work and gives me that error on the console

[2017-03-31 16:49] lozjackson commented on #478
what is "aot"?

[2017-03-31 16:51] wuilmerj24 commented on #478
@lozjackson  mode production

[2017-03-31 18:32] Jonatthu commented on #481
Thanks now I understand better how to use this

[2017-03-31 18:32] #481 closed

[2017-03-31 18:42] lozjackson commented on #482
It is because you are replacing one character with two character.  Unfortunately this use case is not currently supported.

[2017-03-31 18:42] #482 closed

[2017-03-31 18:47] #463 closed

[2017-03-31 19:44] daddyschmack commented on #484
I guess just to make sure it honors the mask.  I had to write a seperate pattern attribute that matched the regex (without the commas) to confirm it passed the validation.  That may be a lot to ask for...

[2017-03-31 20:40] caike08 opened #489 "Method to return if the mask is true or not"
Hello guys,

I would like to ask something, is there a way to check whether an entry value matches with the RegEx mask is true or false? I would like to have it to check if I can enable a "continue" button.

This is how my code looks like.
TS:
[code]

HTML:
[code]

[2017-03-31 22:08] leandrodiniz commented on #476
@caike08 I tried @lozjackson solution and works fine!

[2017-04-01 14:57] caike08 commented on #476
@leandrodiniz I used @lozjackson solution and it worked fine as well... however it will only accept 17 characters due to the US pattern, I believe. So if I had to use "+55" before the number it wouldn't work.

[2017-04-01 15:00] caike08 commented on #476
@leandrodiniz I used @lozjackson solution and it worked fine as well... however it will only accept 17 characters due to the US pattern, I believe. So if I had to use "+55" before the number it wouldn't work.

[2017-04-01 15:04] PerfectPixel commented on #478
@lozjackson **aot** stands for Ahead-of-Time Compilation. In short: Components and Templates have to be converted to executable Javascript code. AoT does it during the build process instead just in time in the users browser.

@wuilmerj24 if you include the `TextMaskModule` from the `src`-folder you are missing the metadata necessary to perform AoT. You need to include the files from the `dist`-fol

[2017-04-01 15:12] wuilmerj24 commented on #478
@PerfectPixel How do I add it? I'm learning ionic 2

[2017-04-01 15:48] PerfectPixel commented on #478
Usually you just be fine with just pointing to the npm-module like `import {TextMaskModule} from 'angular2-text-mask'` otherwise use the `/dist/angular2TextMask.js` instead of your src-path.

[2017-04-02 11:55] badre429 opened #490 "How to implement time mask in 24h format"
i need to force input to enter time in 24h format
sample
23:40  -- and force only connect number i tried with regular expression but it does not work

[2017-04-03 13:12] tylerbrewer2 commented on #483
@mzedeler will do, didn't get a chance to this weekend but I should be able to soon.

[2017-04-03 15:14] Taylor1990 opened #491 "Default value mask in angular 2"
How does default value set to mask? Now you can see it in the screenshot. How does some value set to focus, something like: +7(___) ___-____
![default](https://cloud.githubusercontent.com/assets/10268307/24616105/d5cc634c-1898-11e7-9e87-5604c36e8966.png)
![default](https://cloud.githubusercontent.com/assets/10268307/24616309/655c849c-1899-11e7-93d3-b3a06b7c0f80.png)

[2017-04-03 15:23] caiolima86 commented on #472
I found the same problem with ionic 2 in a galaxy device tab 2 (very old).

I noticed that the problem only appears when the standard android keyboard is used, when I upgraded to the swift key keyboard, the problem does not happen.

[2017-04-03 15:28] Taylor1990 commented on #491
#

[2017-04-03 16:57] lisandroTSilva commented on #472
@lozjackson Sorry for the delay, it was on angular2-text-mask@7.0.0

[2017-04-03 18:25] lisandroTSilva commented on #472
@lozjackson tested in angular version2-text-mask@8.0.0 and the problem remains.

[2017-04-03 18:36] lozjackson commented on #472
Does the [demo website](https://text-mask.github.io/text-mask/) suffer from this bug?

Or, is it specific to the `angular2-text-mask`?

[2017-04-03 18:39] lisandroTSilva commented on #472
@lozjackson the same problem occurs in this demo.

[2017-04-03 20:13] lozjackson commented on #472
The demo uses `react-text-mask`.. so the problem is not specific to `angular2-text-mask`.

[2017-04-05 14:47] bmsdave opened #492 "[angular1] createNumberMask + conformToMask"
Hi, when i use:
[code]

I get error
[code]

file angular1TextMask.js is uglify, and i don't get any debug info.

How to debug this package [angular1-text-mask]?

[2017-04-05 18:06] lozjackson commented on #492
The mask provided to `conformToMask` should be an `array`.  The returned value from `createNumberMask` is a `function`. The function needs to be run, and the return value of that would be the array you need to pass to `confirmToMask`.

[code]

Hope that helps

[2017-04-05 18:19] lozjackson commented on #490
You could use a mask something like `[/[0-2]/, /[0-9]/, ':', /[0-5]/, /[0-9]/]` might do the trick.  But its not perfect as it allows values like `25:00`.  You could take a look at the (`createAutoCorrectedDatePipe`)[https://github.com/text-mask/text-mask/blob/master/addons/src/createAutoCorrectedDatePipe.js] addon and maybe adapt that to work with times.. shouldn't be too difficult.

[2017-04-05 18:22] lozjackson commented on #491
Could you rephrase the question.. I'm having a difficult time understanding what your asking

[2017-04-05 18:34] lozjackson commented on #489
There is no way that I'm aware of..

[2017-04-05 19:21] #490 closed

[2017-04-05 19:23] badre429 commented on #490
as i mention before i used the same `[/[0-2]/, /[0-9]/, ':', /[0-5]/, /[0-9]/]` but i need more friendly experience look like i have to use `createAutoCorrectedDatePipe `

[2017-04-05 19:43] bmsdave commented on #492
@lozjackson, if i use decimal as "123.123", numberMask function return array with '[]', i remove this and everything work good. Thx!

[2017-04-07 07:59] stevengunneweg commented on #472
Hi Guys,

Is there any update on this issue? I was not able to find where this behavior could originate from.

[2017-04-07 08:51] lozjackson commented on #472
There is no update on this yet..

It _might_ originate [here](https://github.com/text-mask/text-mask/blob/master/core/src/createTextMaskInputElement.js#L180).. but as I said above I have no way to debug/test this

[2017-04-07 14:21] VanderAmorin commented on #287
Hey guys!

I have to format currency when page loads, not just when user changes the input values.
I read that we can do this using the conformToMask, but this function only accepts an array as mask, not a function. In this case I'm using the createNumberMask function to format the currency.

Am I doing something wrong in my implementation?

`
this.fornDados.value = 25000000

this.currMask = creat

[2017-04-07 14:25] lozjackson commented on #287
you need to run the function and pass the returned value from the `createNumberMask` function to `conformToMask`

[code]

Hope that helps

[2017-04-07 14:53] caiolima86 commented on #472
With me happens the problem with the standard android keyboard, if I change the keyboard to the "swift key" it does not present the problem.

Please try testing with the standard android keyboard.

[2017-04-07 14:56] VanderAmorin commented on #287
@lozjackson Now I get this error on console:
ModalCmp ionViewPreLoad error: e.lastIndexOf is not a function

I'm using Ionic2 and runing the text-mask on a modal. This error is happening when I try to open the modal.

[2017-04-07 15:20] lucasalmeida92 commented on #314
Same problem here with Angular 2 (without Ionic @msafi).

[2017-04-07 16:54] lisandroTSilva commented on #472
I also thought about the keyboard, because the bike g comes with the "swift key" by default and there is no other keyboard.
I think it can be something that does not work with this keyboard, but not that it is a bad keyboard behavior.
Anyway, I do not know.
Have to test in a reality text-mask form.

[2017-04-07 20:10] martysupple opened #493 "Windows Mobile 8.1 Update 2 IE 11 Problem"
Using IE 11 on Windows 10 Desktop in Emulation mode for Windows Mobile 8.1 Update IE 11. This simple react example, when holding down a number key cursor advances to end of mask without filling out all spaces.

[code]

[2017-04-08 02:56] tonyawad88 commented on #294
It's related to one of the text mask options. "guide" = true has a bug, "guide" = false works fine. "guide" = true adds an underscore at the end of the date "_" . I am using 8.0.0

[2017-04-08 09:52] AyzPat commented on #236
(ngModelChange)="foo()" and in the function do we need to provide the mask ??

[2017-04-09 06:11] pekubu opened #494 "BUG - Add 0 to the first string, last character is delete"
#Demo: https://text-mask.github.io/text-mask/
number: 12234
if i add 0 to the first 012234, text mask auto delete character 4

[2017-04-09 21:19] murilolivorato opened #495 "How to import that ?"
how could I import that ?
I didn't understand this -
[code]
could you specify to me ?

thanks

[2017-04-10 08:20] PerfectPixel commented on #236
@AyzPat `ngModelChange` will fire an event once the input changes. The mask is bound to the `textMask` directive. Have a look at the docs: https://github.com/text-mask/text-mask/tree/master/angular2

[2017-04-10 08:21] PerfectPixel commented on #314
@lucasalmeida92 which version are you using?

[2017-04-10 13:39] lucasalmeida92 commented on #314
@PerfectPixel
I uploaded to version 8.0.0 and it worked!
Thanks ;]

[2017-04-10 14:12] zackify opened #496 "Fix deprecation warnings in React 15.5"
Need to get rid of createClass and use the prop-types package. I'll send a pr

[2017-04-11 14:16] rodineijf commented on #294
I'm facing the same issue here.

![out](https://cloud.githubusercontent.com/assets/24531420/24913685/495a3c3e-1ea8-11e7-8d3b-a5c1801e9268.gif)

[2017-04-11 14:37] rodineijf commented on #294
@tonyawad88 i don't thins that has a relation with the guide, because even with the guide, if u press another key after the mask the model takes this value.

[2017-04-11 16:46] aandrade1234 opened #498 "Locale for createNumberMask + Angular 2 Custom Validation"
Hi I have an numbermask with the following parameters:

pesoMask = createNumberMask({
    prefix: '',
    suffix: ' kg',
    decimalSymbol: ',',
    integerLimit: 3,
    decimalLimit: 3,
    allowDecimal: true
  });

But I'm having some problems with Angular2 custom validation. Because it requires the number with the . and without the kg suffix. Do you have any idea how I can address this issue ?

[2017-04-11 19:12] ramirezd42 commented on #480
The demo has this problem:
https://text-mask.github.io/text-mask/

To reproduce, type into box until the closing `)` appears and then try and delete characters using backspace

[2017-04-11 20:34] jvorpahl commented on #294
I'm having the same issue. As @rodineijf  said, the guide = false doesn't really fix it b/c it lets you add another value after but it's a bit better. I found it works on <input> tags but any custom selector/tag and it doesn't.

Is anyone working on this or have a good workaround?

[2017-04-11 20:44] rodineijf commented on #294
@jvorpahl https://gist.github.com/rodineijf/d31d9bfbc89aaa33c83ef51aaa201d24 maybe this directive can help you.

[2017-04-11 21:50] jvorpahl commented on #294
@rodineijf thanks for the help. I'm new to Angular2 and struggling to figure out how to implement this directive into things. I implemented it and I get the error:

inline template:86:16 caused by: No provider for NgControl!

Here is how I have my directive declared:

<wex-datepicker [textMask]="{mask: mask}" [id]="'serviceStartDateInput'" [(value)]="claimSearchParameters.serviceStartDate" [placeh

[2017-04-11 22:13] rodineijf commented on #294
@jvorpahl In the app.module import the directive:

`import { DirectiveName } from 'directive-path';`

and

`<wex-datepicker [textMask]="{mask: mask}" [id]="'serviceStartDateInput'" [(value)]="claimSearchParameters.serviceStartDate" [placeholder]="'Early Service Date'" wex-custom-directive directive-name>`

Works for me with reactive forms

[2017-04-11 22:40] jvorpahl commented on #294
@rodineijf  I did both of your suggestions before I posed. The wex-custom-directive is my directive name and I am importing the directive it into the app.module and adding it to the declarations array. So I'm still getting the No Provider for NgControl error. If you think of anything please post and I'll make sure to post a solution if I find one.

[2017-04-13 18:25] stevenjob opened #499 "Example for Angular 2 with ReactiveFormsModule"
There is an example for angular 2 but its only for FormsModule.

[2017-04-13 18:30] PerfectPixel commented on #499
... and `ReactiveFormsModule` as you can tell by the use of [FormControl](https://github.com/text-mask/text-mask/blob/master/angular2/example/app.component.ts#L11) in the example component. What's your point?

[2017-04-13 18:31] stevenjob commented on #495
Depends on the version of text-mask you want?
e.g.
`import { TextMaskModule } from 'angular2-text-mask';`
or
`import { MaskedInput } from 'react-text-mask';`

[2017-04-13 18:33] stevenjob commented on #499
Sorry, i am stupid

[2017-04-13 18:33] #499 closed

[2017-04-13 18:35] PerfectPixel commented on #499
No worries :-)

[2017-04-14 10:02] stevenjob opened #500 "Question: Add shortcuts"
Hi,
Is it possible with this component to add shortcuts to the input or would that be something that i would have to do separately?

e.g. typing 1m would result in 1,000,000

Thanks,
Steven

[2017-04-14 12:15] #476 closed

[2017-04-14 12:16] #478 closed

[2017-04-14 12:29] lozjackson commented on #480
@ramirezd42 does this happen only when the guide is false?  this seems to be the same as the bug reported in #483 ..however, that seems to be specific to the react component (which the website uses).

@keep-faith can you confirm if this (#483) is the same as your issue or not?

[2017-04-14 12:31] #489 closed

[2017-04-14 12:34] lozjackson commented on #491
I'm gonna close this... I'm not really sure what the question is!.. feel free to reopen if you still need an answer to this

[2017-04-14 12:34] #491 closed

[2017-04-14 12:54] lozjackson commented on #494
it seems the behaviour is a little broken/buggy.. I'll look into this.

the behaviour I'm seeing on the website is:

start with `$|12,234` (pipe character `|` is cursor)
type zero (`0`) key...
result `$0,122`

The number mask addon defaults to `allowLeadingZeroes=false`.

so I expected the result to be `$0`.

If you set `allowLeadingZeroes=true` then there is no problem the result is `$012,234`

`

[2017-04-14 13:06] lozjackson commented on #498
Text mask does not provide built-in support for this

can you write a function that strips out any non-numeric stuff before saving?..  take a look at #109 for ideas

Feel free to re-open if you have any other questions

[2017-04-14 13:06] #498 closed

[2017-04-14 13:13] lozjackson commented on #500
There is no built in support for this.  You could potentially write a [`pipe`](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#pipe) function that converts your shortcut to a value.

something like (untested) might work
[code]

You'd have to experiment.. If you come up with anything worth sharing please update this thread with a code example..

If you have any other qu

[2017-04-14 13:13] #500 closed

[2017-04-14 13:14] #401 closed

[2017-04-14 13:25] lozjackson commented on #494
@pekubu what behaviour would you expect with `allowLeadingZeroes` set to `false`

[2017-04-14 14:12] lozjackson commented on #494
Having looked into this a bit.. its more complicated than it first appears.. the numberMask addon is behaving correctly.. the problem seems to be somewhere in the `core`, but its not really a bug in the core as such, and I can't see an easy fix for this

[2017-04-14 14:24] lozjackson commented on #494
If the expected behaviour is to reset the value to `0`. for example `$|12,234`.. type zero, result = '$0'

then that is easily achieved by modifying the number mask addon (needs some testing)
[code]

but.. I don't think that is the best ux.. what do you think?..

I think the user would probably want the value to remain unchanged so you don't lose the value that is currently entered... however, the

[2017-04-14 19:44] travist commented on #472
I debugged this same problem in a different library. Here is what I found.

https://github.com/angular-ui/ui-mask/pull/200

I have not debugged this, but I am curious if you changed https://github.com/text-mask/text-mask/blob/6094d1bf7e4bf1d7ac7a2c674208109c2243166d/core/src/createTextMaskInputElement.js#L72 to say ```selectionEnd``` instead if this problem would go away and work on all devices li

[2017-04-14 19:54] randallknutson commented on #472
I can confirm that switching to use selectionEnd does fix the issue. I'm using react-text-mask with cordova on a Samsung Tab4 with Android 5.1

[2017-04-14 20:22] travist commented on #472
I can confirm it works as well.  Here is the PR with the fix.

https://github.com/text-mask/text-mask/pull/503

[2017-04-15 19:39] lozjackson commented on #496
Publish as [react-v5.0.0](https://github.com/text-mask/text-mask/releases/tag/react-v5.0.0)

[2017-04-15 19:39] #496 closed

[2017-04-15 19:43] lozjackson commented on #493
Thanks for reporting this.

[2017-04-15 19:49] lozjackson commented on #427
@browniefed are you working on this? is it still an issue? or can it be closed now?

[2017-04-15 20:21] browniefed commented on #427
Not currently working on it. Likely still broken. Requires re-engineering of core

[2017-04-16 20:00] jadir-junior commented on #394
what's the solution for you?

[2017-04-17 15:46] qualitydixon commented on #480
I am seeing this too and setting `guide` to true doesn't fix it so it's possibly different from #483. As best as I can tell, if you have a value `(720)` in the input and hit backspace, the onChange handler gets passed the value `(720` but then text-mask will immediately add back the closing parentheses so net effect nothing happens. I'm guessing text-mask should somehow ignore the mask characters?

[2017-04-18 07:37] lozjackson commented on #472
I have published #503 in `core-v5.0.1`.  Let us know if the problem is not fixed after upgrading to the latest patch

[2017-04-18 07:37] #472 closed

[2017-04-18 08:29] bojanfbm commented on #372
Any progress on this issue? This would be the great feature. Any workaround for now?

[2017-04-18 22:10] SagarKharche commented on #372
@msafi Any progress on this issue?

[2017-04-19 00:51] qualitydixon commented on #480
Some more info: I'm seeing the issue when I call `setState` in `onChange` It happens even if I do not modify state (i.e. `this.setState(previousState => previousState)`). I also tried hooking into a different event (`onKeyUp`) and saw the same behavior.

[2017-04-19 09:34] intellix opened #506 "Impossible to just have a mask with spacing for card inputs"
So I'm using text-mask for a credit card form and wanted to achieve spacing between numbers in groups of 4 like: `4111 1111 1111 1111`
With placeholderChar as `_` it's all good, I end up with: `411_ ____ ____ ____` but I think this looks a little messy, so I wanted to remove the underscores and just have spacing between the groups as you type: `411            `

**Mask**: `[{},{},{},{}," ",{},{},{

[2017-04-19 09:40] lozjackson commented on #506
why not use `_` (underscore) as `placeholderChar`.. and use spaces in the mask like you are currently.

[{/\d/},{/\d/},{/\d/},{/\d/}," ",{/\d/},{/\d/},{/\d/},{/\d/}," ",{/\d/},{/\d/},{/\d/},{/\d/}," ",{/\d/},{/\d/},{/\d/},{/\d/}]

Let me know if that doesn't work for you

[2017-04-19 09:42] intellix commented on #506
It does work but I think it looks messy. I only really wanted to add spaces between groups of 4 numbers and was recommended to use this library. But it looks like it's impossible to do :S

[2017-04-19 09:57] intellix commented on #506
I've found a workaround... if I use a tab character instead of a space for the placeholderChar, but I'm just afraid that my linting process or another guy working on the project replaces the tab for a space and the app breaks during runtime

[2017-04-19 10:07] intellix commented on #506
Found another workaround:
[code]

[2017-04-19 13:57] phaldan opened #507 "createNumberMask leading zeroes does not work"
https://github.com/text-mask/text-mask/blob/master/addons/test/createNumberMask.spec.js#L196

As you can see in the test it creates for `012` the mask `\d\d` which turns the input into `01` instead of `12`.

Another problem with the leading numbers removal is that it turns a string into a number and back:
https://github.com/text-mask/text-mask/blob/master/addons/src/createNumberMask.js#L75

This c

[2017-04-19 14:06] lozjackson commented on #507
thanks for reporting this..

The first bug has already been reported in #494, and I've got a failing test in PR #501.. but I have so far failed to find a way to fix it.

The second bug is something I hadn't come across yet though.. thanks for reporting.. When I get some time I will try your suggested fix.. It would awesome if you could add PR with a failing test.. event better if you could add the

[2017-04-19 14:27] cmnstmntmn opened #508 "trouble with createCorrectedDatePipe plugin"
i'm having trouble with implementing `createCorrectedDatePipe` plugin. this is my setup

[code]

i'm getting

[code]

[2017-04-19 15:01] qualitydixon commented on #480
Taking a fresh look at it this morning my issue _is_ actually the same as #483. I'll just use the guide for now. Let me know if there's any other information I can provide to help. Great project!

[2017-04-19 15:27] lozjackson commented on #508
`autoCorrectedDatePipe` is a pipe, not a mask.

[code]

[2017-04-19 15:29] #508 closed

[2017-04-19 19:14] alantangyl commented on #236
I have to use (change) for a custom input component. Is there a way I can use (change) as well as this plugin?

[2017-04-20 17:49] hags033 opened #509 "Android reverse number input"
On most android phones, when you delete existing pre populated values, the cursor will remain in the first position, even before a $ prefix, and input numbers come in backwards. So if you type "12345" it will show up as (cursor)$54321.

[2017-04-20 18:00] lozjackson commented on #509
This bug has been [reported already](https://github.com/text-mask/text-mask/issues/472) and I believe has been fixed already in #503 and released in the latest version.

Which version of text-mask are you using?  If your not using the latest version can you update and then confirm here if the problem exists with the latest version of text mask.

[2017-04-20 18:00] #509 closed

[2017-04-20 18:12] paru-ramya commented on #159
When I try to import createNumberMask, I get the error ".." has no exported member 'createNumberMask'
Can someone help?

[2017-04-21 03:38] kilgarenone commented on #484
Any updates on this? I'm on Angular 2. I need to validate input field based on mask's pattern. Any good idea how to go about it?

[2017-04-21 10:23] philipstanislaus opened #510 "Console warning "Failed prop type: React.PropTypes type checking code is stripped in production." when using react-text-mask"
When using `react-text-mask`, MaskedInput produces the following warning in the browser's console:

<img width="784" alt="bildschirmfoto 2017-04-21 um 12 22 51" src="https://cloud.githubusercontent.com/assets/6912756/25273704/487b6094-268d-11e7-9c29-7fc993d2a960.png">

My codebase is in TypeScript, here is how I use MaskedInput right now:

[code]

[2017-04-21 10:38] lozjackson commented on #510
Hi, I assume your using the latest release of react text mask (v5.x.x).. if so, can you try with `react-v4.x.x` and let us know if you get the error still with v4

[2017-04-21 14:38] SerjoPepper commented on #483
Same problem

[2017-04-23 12:01] rzb opened #511 "Vue and custom inputs (eg vuetify)"
I see it works as a component and not a directive, so am I correct to assume it doesn't play nice with custom inputs like [this](https://vuetifyjs.com/components/text-fields)?

[2017-04-23 17:13] obartra commented on #510
I do not repro the issue with `4.1.0` but I can repro it as well with `5.0.1`

[2017-04-24 07:20] evolve2k commented on #510
I can report the same. I can reproduce with `5.0.1` and changing to `4.1.0` makes it go away.

Only issue rolling back to `4.1.0` produces a different error, that is the reason I upgraded to `5.0.1`.

<img width="1385" alt="mymoneyzen" src="https://cloud.githubusercontent.com/assets/114459/25326161/1c33f34c-290e-11e7-8a27-8d872f152a49.png">

[2017-04-24 07:24] lozjackson commented on #510
@zackify since #497 was merged some people are getting an error about failed prop types (see above).. do you have any ideas for how we can fix that?

[2017-04-24 07:36] evolve2k commented on #510
@lozjackson from my quick searches around it seems the issue is actually that PropTypes have been deprecated. [SO discussion](http://stackoverflow.com/questions/43303761/accessing-proptypes-via-the-main-react-package-is-deprecated). [React 15.5 deprecation announcement](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.proptypes)

[2017-04-24 08:33] didacrios commented on #287
Same problem as @lozjackson i'm using with Dynamic forms and solve it converting the value to a string

[2017-04-24 09:21] didacrios opened #512 "Underscore is added when typing a text"
Using:
"@angular/common": "^2.3.1"
angular2-text-mask": "^8.0.0"
"text-mask-addons": "^3.5.0"

I've created a number mask like the following:

[code]

All correct, I can't type non numeric chars, but when an input have a value, and I select all the data, and then type a word, and underscore "_" appears

[2017-04-24 15:51] zackify commented on #510
@lozjackson they are clearly not on the latest version, if they were, it would not show those errors.

[2017-04-24 15:51] zackify commented on #510
@evolve2k I already made a pr for those fixes, use the latest version and it should be fine.

[2017-04-24 15:57] zackify commented on #510
Looks like we can't use those validator functions anymore: https://github.com/reactjs/prop-types#difference-from-reactproptypes-dont-call-validator-functions

[2017-04-24 18:26] Coolranch opened #513 "9 Digit Zip Code Formatting"
Is there a way to make a dash appear only when entering a zip code greater than 5 digits?  Right now I have the following regex defined for entry:

[/[1-9]/, /\d/, /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]

If I only enter five digits and tab away from my input I would like for the dash to disappear.

[2017-04-25 00:11] judsonmusic commented on #512
+1

[2017-04-25 00:14] judsonmusic commented on #512
I seem to have solved the trailing slash with max-length="5" on the form field. Any update would be greatly appreciated. Thanks

[2017-04-25 06:49] vincaslt commented on #512
Getting the same error on Internet Explorer. When the field is empty, and I focus it, then unfocus, the underscore appears in the text field, like `_$`. The config is very similar to the OP.

[2017-04-26 06:35] derekstwong opened #515 "Incorrect returning number"
I am using ionic2 with createNumberMask function to add the sum of particular fields in a loop.

It was correct when the input < 10000 (1-9999), but once input larger than 10000, it gave "NaN".

Tried inputting "10000", displaying "10,000"(what I expected), but alerted "1,0000" when I tried to add the values, so "NaN" resulted.

[2017-04-26 10:54] cmnstmntmn opened #516 "input type="date" unsupported"
i'm getting an error when using with date type inputs

[code]

any ideas?

[2017-04-26 16:43] ingro commented on #510
Could something like this babel's plugin be useful to fix the warning? https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types

[2017-04-26 16:48] zackify commented on #510
Sure, that would work too
On Wed, Apr 26, 2017 at 12:43 Emanuele Ingrosso <notifications@github.com>
wrote:

[2017-04-26 19:32] santoshdahal12 opened #517 "Angular2: Unmet Peer Dependency while installing"
while installing, I get the +-- UNMET PEER DEPENDENCY @angular/common@2.4.10 +-- UNMET PEER DEPENDENCY @angular/core@2.4.10 +-- UNMET PEER DEPENDENCY @angular/forms@2.4.10

this is my package.json

{
  "name": "crmtestsecond",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",

[2017-04-27 04:34] pekubu commented on #494
thanks u

[2017-04-28 08:35] lozjackson commented on #512
This is a duplicate of #294 I'll close this one and we can keep track of it there.

Unfortunately I don't know how to fix this - I can't reproduce it.  However, I'm not an angular develper.

If someone could setup a repository with an example reproducing the error, then I will have something to debug and can work on it - but until then I can't debug it if I can't reproduce it.

[2017-04-28 08:35] #512 closed

[2017-04-28 08:42] lozjackson commented on #515
Can you show an example of what your trying to do.. If you could create a filaing test that would be really helpfull.

[2017-04-28 08:45] lozjackson commented on #516
date type inputs are not support.  See [here](https://github.com/text-mask/text-mask/blob/master/componentDocumentation.md#supported-input-types) for supported input types.